ener c/Integration/enercare.crm.logicApp.AuthorizeRegistration/enercare.crm.logicApp.AuthorizeRegistration/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "Tag_AppTaxonomy": {
      "type": "string"
    },
    "Tag_MaintenanceWindow": {
      "type": "string"
    },
    "Tag_Realm": {
      "type": "string"
    },
    "Tag_ServiceTier": {
      "type": "string"
    },
    "diagnosticSettings_settingName": {
      "type": "string",
      "metadata": {
        "description": "Name of the setting. Name for the diagnostic setting resource. Eg. 'archiveToStorage' or 'forSecurityTeam'."
      }
    },
    "diagnosticSettings_workspaceName": {
      "type": "string"
    },
    "diagnosticSettings_resourceGroupName": {
      "type": "string"
    },
    "connections_crm_name": {
      "type": "string"
    },
    "resource_Group_Name": {
      "type": "string"
    },
    "ceDisplayname": {
      "type": "string"
    },
    "ceClientId": {
      "type": "string"
    },
    "extensionAccountField": {
      "type": "string"
    },
    "ceClientSecret": {
      "type": "string"
    },
    "tenantId": {
      "type": "string"
    },
    "crm_environmentURL": { "type": "string" },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "alertSeverity": {
      "type": "int",
      "defaultValue": 3,
      "allowedValues": [
        0,
        1,
        2,
        3,
        4
      ],
      "metadata": {
        "description": "Severity of alert {0,1,2,3,4}"
      }
    },
    "alertIsEnabled": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Specifies whether the alert is enabled"
      }
    },

    "windowSize": {
      "type": "string",
      "defaultValue": "PT5M",
      "allowedValues": [
        "PT1M",
        "PT5M",
        "PT15M",
        "PT30M",
        "PT1H",
        "PT6H",
        "PT12H",
        "PT24H"
      ],
      "metadata": {
        "description": "Period of time used to monitor alert activity based on the threshold. Must be between one minute and one day. ISO 8601 duration format."
      }
    },
    "evaluationFrequency": {
      "type": "string",
      "defaultValue": "PT1M",
      "allowedValues": [
        "PT1M",
        "PT5M",
        "PT15M",
        "PT30M",
        "PT1H"
      ],
      "metadata": {
        "description": "how often the metric alert is evaluated represented in ISO 8601 duration format"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_crm_name'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "AppTaxonomy": "[parameters('Tag_AppTaxonomy')]",
        "MaintenanceWindow": "[parameters('Tag_MaintenanceWindow')]",
        "Realm": "[parameters('Tag_Realm')]",
        "ServiceTier": "[parameters('Tag_ServiceTier')]"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "AccountNumber": {
              "inputs": {
                "variables": [
                  {
                    "name": "accountNumber",
                    "type": "string",
                    "value": "@{triggerBody()?[parameters('accountExtensionNumber')]}"
                  }
                ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
            },
            "Condition": {
              "actions": {
                "Condition_2": {
                  "actions": {
                    "Response": {
                      "inputs": {
                        "body": {
                          "action": "Continue",
                          "version": "1.0.0"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {},
                      "type": "Response"
                    }
                  },
                  "else": {
                    "actions": {
                      "Response_2": {
                        "inputs": {
                          "body": {
                            "action": "ShowBlockPage",
                            "userMessage": "We couldnt find a match for your email Address.",
                            "version": "1.0.0"
                          },
                          "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "type": "Response"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Get_row')?['emailaddress1']",
                          "@variables('emailAddress')"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Get_row": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Get_row": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('crm_environment')))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['_primarycontactid_value']))}"
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Parse_JSON": {
                  "inputs": {
                    "content": "@variables('Primary contact id of account')",
                    "schema": {
                      "properties": {
                        "@@odata.etag": {
                          "type": "string"
                        },
                        "@@odata.id": {
                          "type": "string"
                        },
                        "ItemInternalId": {
                          "type": "string"
                        },
                        "_accountcategorycode_label": {
                          "type": "string"
                        },
                        "_accountclassificationcode_label": {
                          "type": "string"
                        },
                        "_accountratingcode_label": {
                          "type": "string"
                        },
                        "_address1_addresstypecode_label": {
                          "type": "string"
                        },
                        "_address1_freighttermscode_label": {
                          "type": "string"
                        },
                        "_address2_addresstypecode_label": {
                          "type": "string"
                        },
                        "_ava_avalaratax_value": {},
                        "_ava_entityusecodeid_value": {},
                        "_businesstypecode_label": {
                          "type": "string"
                        },
                        "_createdby_type": {
                          "type": "string"
                        },
                        "_createdby_value": {
                          "type": "string"
                        },
                        "_createdbyexternalparty_value": {},
                        "_createdonbehalfby_value": {},
                        "_customersizecode_label": {
                          "type": "string"
                        },
                        "_customertypecode_label": {
                          "type": "string"
                        },
                        "_defaultpricelevelid_value": {},
                        "_industrycode_label": {
                          "type": "string"
                        },
                        "_masterid_value": {},
                        "_modifiedby_type": {
                          "type": "string"
                        },
                        "_modifiedby_value": {
                          "type": "string"
                        },
                        "_modifiedbyexternalparty_value": {},
                        "_modifiedonbehalfby_value": {},
                        "_msa_managingpartnerid_value": {},
                        "_msdyn_billingaccount_value": {},
                        "_msdyn_company_value": {},
                        "_msdyn_customergroupid_value": {},
                        "_msdyn_customerpaymentmethod_value": {},
                        "_msdyn_defaultvendorpaymentmethodname_value": {},
                        "_msdyn_invoiceaddress_label": {
                          "type": "string"
                        },
                        "_msdyn_invoicevendoraccount_value": {},
                        "_msdyn_language_label": {
                          "type": "string"
                        },
                        "_msdyn_mappedvendoraccount_value": {},
                        "_msdyn_onholdstatus_label": {
                          "type": "string"
                        },
                        "_msdyn_paymentday_value": {},
                        "_msdyn_paymentschedule_value": {},
                        "_msdyn_paymentterm_value": {},
                        "_msdyn_salestaxgroup_value": {},
                        "_msdyn_vendor_value": {},
                        "_msdyn_vendorgroup_value": {},
                        "_originatingleadid_value": {},
                        "_ownerid_type": {
                          "type": "string"
                        },
                        "_ownerid_value": {
                          "type": "string"
                        },
                        "_ownershipcode_label": {
                          "type": "string"
                        },
                        "_owningbusinessunit_type": {
                          "type": "string"
                        },
                        "_owningbusinessunit_value": {
                          "type": "string"
                        },
                        "_owningteam_value": {},
                        "_parentaccountid_value": {},
                        "_paymenttermscode_label": {
                          "type": "string"
                        },
                        "_preferredappointmentdaycode_label": {
                          "type": "string"
                        },
                        "_preferredappointmenttimecode_label": {
                          "type": "string"
                        },
                        "_preferredcontactmethodcode_label": {
                          "type": "string"
                        },
                        "_preferredequipmentid_value": {},
                        "_preferredserviceid_value": {},
                        "_preferredsystemuserid_value": {},
                        "_primarycontactid_type": {
                          "type": "string"
                        },
                        "_primarycontactid_value": {},
                        "_shippingmethodcode_label": {
                          "type": "string"
                        },
                        "_slaid_value": {},
                        "_slainvokedid_value": {},
                        "_statecode_label": {
                          "type": "string"
                        },
                        "_statuscode_label": {
                          "type": "string"
                        },
                        "_sxp_ebillenrolledflag_label": {},
                        "_sxp_installationaddressvalidationstatus_label": {
                          "type": "string"
                        },
                        "_sxp_invoiceprofileid_value": {},
                        "_sxp_mailingaddressvalidationstatus_label": {
                          "type": "string"
                        },
                        "_sxp_servicecenter_type": {
                          "type": "string"
                        },
                        "_sxp_servicecenter_value": {},
                        "_territorycode_label": {
                          "type": "string"
                        },
                        "_territoryid_value": {},
                        "_transactioncurrencyid_type": {
                          "type": "string"
                        },
                        "_transactioncurrencyid_value": {
                          "type": "string"
                        },
                        "accountcategorycode": {},
                        "accountclassificationcode": {
                          "type": "integer"
                        },
                        "accountid": {
                          "type": "string"
                        },
                        "accountnumber": {
                          "type": "string"
                        },
                        "accountratingcode": {
                          "type": "integer"
                        },
                        "address1_addresstypecode": {},
                        "address1_city": {
                          "type": "string"
                        },
                        "address1_composite": {
                          "type": "string"
                        },
                        "address1_country": {
                          "type": "string"
                        },
                        "address1_county": {},
                        "address1_fax": {},
                        "address1_freighttermscode": {},
                        "address1_latitude": {},
                        "address1_line1": {
                          "type": "string"
                        },
                        "address1_line2": {},
                        "address1_line3": {},
                        "address1_longitude": {},
                        "address1_name": {},
                        "address1_postalcode": {
                          "type": "string"
                        },
                        "address1_postofficebox": {},
                        "address1_primarycontactname": {},
                        "address1_shippingmethodcode": {},
                        "address1_stateorprovince": {
                          "type": "string"
                        },
                        "address1_telephone1": {},
                        "address1_telephone2": {},
                        "address1_telephone3": {},
                        "address1_upszone": {},
                        "address1_utcoffset": {},
                        "address2_addresstypecode": {
                          "type": "integer"
                        },
                        "address2_city": {},
                        "address2_composite": {},
                        "address2_country": {},
                        "address2_county": {},
                        "address2_fax": {},
                        "address2_latitude": {},
                        "address2_line1": {},
                        "address2_line2": {},
                        "address2_line3": {},
                        "address2_longitude": {},
                        "address2_name": {},
                        "address2_postalcode": {},
                        "address2_postofficebox": {},
                        "address2_primarycontactname": {},
                        "address2_stateorprovince": {},
                        "address2_telephone1": {},
                        "address2_telephone2": {},
                        "address2_telephone3": {},
                        "address2_upszone": {},
                        "address2_utcoffset": {},
                        "adx_createdbyipaddress": {},
                        "adx_createdbyusername": {},
                        "adx_modifiedbyipaddress": {},
                        "adx_modifiedbyusername": {},
                        "aging30": {},
                        "aging30_base": {},
                        "aging60": {},
                        "aging60_base": {},
                        "aging90": {},
                        "aging90_base": {},
                        "ava_addressvalidation": {
                          "type": "boolean"
                        },
                        "ava_businessidnumber": {},
                        "ava_city": {},
                        "ava_country": {},
                        "ava_isaddressvalid": {
                          "type": "boolean"
                        },
                        "ava_latitude": {},
                        "ava_line1": {},
                        "ava_line2": {},
                        "ava_line3": {},
                        "ava_longitude": {},
                        "ava_postalcode": {},
                        "ava_stateorprovince": {},
                        "businesstypecode": {
                          "type": "integer"
                        },
                        "createdon": {
                          "type": "string"
                        },
                        "creditlimit": {},
                        "creditlimit_base": {},
                        "creditonhold": {
                          "type": "boolean"
                        },
                        "customersizecode": {
                          "type": "integer"
                        },
                        "customertypecode": {},
                        "description": {},
                        "donotbulkemail": {
                          "type": "boolean"
                        },
                        "donotbulkpostalmail": {
                          "type": "boolean"
                        },
                        "donotemail": {
                          "type": "boolean"
                        },
                        "donotfax": {
                          "type": "boolean"
                        },
                        "donotphone": {
                          "type": "boolean"
                        },
                        "donotpostalmail": {
                          "type": "boolean"
                        },
                        "donotsendmm": {
                          "type": "boolean"
                        },
                        "emailaddress1": {},
                        "emailaddress2": {},
                        "emailaddress3": {},
                        "entityimage": {},
                        "entityimage_timestamp": {},
                        "entityimage_url": {},
                        "entityimageid": {},
                        "exchangerate": {
                          "type": "integer"
                        },
                        "fax": {},
                        "followemail": {
                          "type": "boolean"
                        },
                        "ftpsiteurl": {},
                        "importsequencenumber": {},
                        "industrycode": {},
                        "lastonholdtime": {},
                        "lastusedincampaign": {},
                        "marketcap": {},
                        "marketcap_base": {},
                        "marketingonly": {
                          "type": "boolean"
                        },
                        "merged": {
                          "type": "boolean"
                        },
                        "modifiedon": {
                          "type": "string"
                        },
                        "msdyn_creditlimitismandatory": {
                          "type": "boolean"
                        },
                        "msdyn_creditrating": {},
                        "msdyn_emailaddress1description": {},
                        "msdyn_faxdescription": {},
                        "msdyn_faxextension": {},
                        "msdyn_identificationnumber": {},
                        "msdyn_invoiceaddress": {
                          "type": "integer"
                        },
                        "msdyn_language": {
                          "type": "integer"
                        },
                        "msdyn_onetimecustomer": {
                          "type": "boolean"
                        },
                        "msdyn_onholdstatus": {
                          "type": "integer"
                        },
                        "msdyn_partycountry": {},
                        "msdyn_partynumber": {
                          "type": "string"
                        },
                        "msdyn_partystateprovince": {},
                        "msdyn_paymenttermsbasedays": {},
                        "msdyn_primaryfacebookdescription": {},
                        "msdyn_primaryfacebookid": {},
                        "msdyn_primarylinkedindescrption": {},
                        "msdyn_primarylinkedinid": {},
                        "msdyn_primarytwitteriddescription": {},
                        "msdyn_taxexempt": {
                          "type": "boolean"
                        },
                        "msdyn_taxexemptnumber": {},
                        "msdyn_telephone1description": {},
                        "msdyn_telephone1extension": {},
                        "msdyn_vendorcreatedbyworkflow": {
                          "type": "boolean"
                        },
                        "msdyn_vendorknownasname": {},
                        "msdyn_vendororganizationname": {},
                        "msdyn_websiteurldescription": {},
                        "name": {},
                        "numberofemployees": {},
                        "onholdtime": {},
                        "opendeals": {
                          "type": "integer"
                        },
                        "opendeals_date": {
                          "type": "string"
                        },
                        "opendeals_state": {
                          "type": "integer"
                        },
                        "openrevenue": {
                          "type": "integer"
                        },
                        "openrevenue_base": {},
                        "openrevenue_date": {
                          "type": "string"
                        },
                        "openrevenue_state": {
                          "type": "integer"
                        },
                        "overriddencreatedon": {},
                        "ownershipcode": {},
                        "participatesinworkflow": {
                          "type": "boolean"
                        },
                        "paymenttermscode": {},
                        "preferredappointmentdaycode": {},
                        "preferredappointmenttimecode": {},
                        "preferredcontactmethodcode": {
                          "type": "integer"
                        },
                        "primarysatoriid": {},
                        "primarytwitterid": {},
                        "processid": {},
                        "revenue": {},
                        "revenue_base": {},
                        "rm_externalcustomerid": {},
                        "sharesoutstanding": {},
                        "shippingmethodcode": {
                          "type": "integer"
                        },
                        "sic": {},
                        "stageid": {},
                        "statecode": {
                          "type": "integer"
                        },
                        "statuscode": {
                          "type": "integer"
                        },
                        "stockexchange": {},
                        "sxp_address1county": {},
                        "sxp_address2county": {},
                        "sxp_confirmemail": {},
                        "sxp_customerisondeedtoproperty": {
                          "type": "boolean"
                        },
                        "sxp_defaultdimensiondisplayvalue": {},
                        "sxp_ebillenrolledflag": {},
                        "sxp_firstname": {},
                        "sxp_installationaddressvalidationstatus": {
                          "type": "integer"
                        },
                        "sxp_ismailingaddresssameasinstallationaddress": {
                          "type": "boolean"
                        },
                        "sxp_lastname": {},
                        "sxp_mailingaddressvalidationstatus": {
                          "type": "integer"
                        },
                        "sxp_middlename": {},
                        "teamsfollowed": {},
                        "telephone1": {},
                        "telephone2": {},
                        "telephone3": {},
                        "territorycode": {
                          "type": "integer"
                        },
                        "tickersymbol": {},
                        "timespentbymeonemailandmeetings": {},
                        "timezoneruleversionnumber": {},
                        "traversedpath": {},
                        "utcconversiontimezonecode": {},
                        "versionnumber": {
                          "type": "integer"
                        },
                        "websiteurl": {},
                        "yominame": {}
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Set_variable": {
                  "inputs": {
                    "name": "Primary contact id of account",
                    "value": "@{body('List_rows')?['value'][0]}"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Response_3": {
                    "inputs": {
                      "body": {
                        "action": "ShowBlockPage",
                        "userMessage": "We couldnt find a match for your account number.",
                        "version": "1.0.0"
                      },
                      "statusCode": 200
                    },
                    "kind": "Http",
                    "runAfter": {},
                    "type": "Response"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@Length(body('List_rows')?['value'])",
                      1
                    ]
                  }
                ]
              },
              "runAfter": {
                "Primary_contact_id_of_account": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "List_rows": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('crm_environment')))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items",
                "queries": {
                  "$filter": "accountnumber eq '@{variables('accountNumber')}'"
                }
              },
              "runAfter": {
                "emailAddress": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Primary_contact_id_of_account": {
              "inputs": {
                "variables": [
                  {
                    "name": "Primary contact id of account",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "emailAddress": {
              "inputs": {
                "variables": [
                  {
                    "name": "emailAddress",
                    "type": "string",
                    "value": "@triggerBody()?['email']"
                  }
                ]
              },
              "runAfter": {
                "AccountNumber": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "accountExtensionNumber": {
              "defaultValue": "[parameters('extensionAccountField')]",
              "type": "String"
            },
            "crm_environment": {
              "defaultValue": "[parameters('crm_environmentURL')]",
              "type": "String"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "client_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "[parameters('extensionAccountField')]": {
                      "type": "string"
                    },
                    "givenName": {
                      "type": "string"
                    },
                    "identities": {
                      "items": {
                        "properties": {
                          "issuer": {
                            "type": "string"
                          },
                          "issuerAssignedId": {
                            "type": "string"
                          },
                          "signInType": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "signInType",
                          "issuer",
                          "issuerAssignedId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "step": {
                      "type": "string"
                    },
                    "surname": {
                      "type": "string"
                    },
                    "ui_locales": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "commondataservice": {
                "connectionId": "[concat(subscription().id,'/resourceGroups/',parameters('resource_Group_Name'),'/providers/Microsoft.Web/connections/', parameters('connections_crm_name'))]",
                "connectionName": "parameters('connections_crm_name')",
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/eastus2/managedApis/commondataservice')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "[concat('Microsoft.Insights/', parameters('diagnosticSettings_settingName'))]",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
          ],
          "apiVersion": "2017-05-01-preview",
          "properties": {
            "name": "[parameters('diagnosticSettings_settingName')]",
            "workspaceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('diagnosticSettings_resourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('diagnosticSettings_workspaceName'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "category": "AllMetrics",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_crm_name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "displayName": "[parameters('ceDisplayname')]",
        "statuses": [
          {
            "status": "Connected"
          }
        ],
        "parameterValues": {
          "token:clientId": "[parameters('ceClientId')]",
          "token:clientSecret": "[parameters('ceClientSecret')]",
          "token:TenantId": "[parameters('tenantId')]",
          "token:grantType": "client_credentials"
        },
        "api": {
          "name": "[parameters('connections_crm_name')]",
          "displayName": "[parameters('ceDisplayname')]",
          "description": "Dynmics CE deployed from ARM",
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'commondataservice')]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    }
  ],
  "outputs": {}
}