ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/Account-MailingAddresschanged-NoPrimaryLocation-FF7706A6-BE7F-EC11-8D21-000D3A8D0F36.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_mailing_address_was_changed":{"metadata":{"operationMetadataId":"dbbe637b-86ea-4734-a49b-3312a20f96f2"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"address2_line1,address2_city,address2_stateorprovince,address2_postalcode,address2_country"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_all_service_locations":{"runAfter":{},"metadata":{"operationMetadataId":"d4a315a6-2e58-48f5-b4d1-c40c9a185e5b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","$select":"cssp_servicelocationid,cssp_isprimary,cssp_deliveryaddressstreet,cssp_deliveryaddresscity,cssp_deliveryaddressstate,cssp_deliveryaddresszipcode,cssp_deliveryaddresscountryregionid","$filter":"_cssp_account_value eq '@{triggerOutputs()?['body/accountid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_all_service_locations')?['body/value']","actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Update_location_not_primary_=_no":{"runAfter":{},"metadata":{"operationMetadataId":"d8ad2138-1f23-4e11-983c-4555f9269d21"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@items('Apply_to_each')?['cssp_servicelocationid']","item/cssp_isprimary":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['cssp_isprimary']",true]},"metadata":{"operationMetadataId":"40457013-62f9-43d6-a59a-5c4f78726e25"},"type":"If"}}},"expression":{"and":[{"equals":["@items('Apply_to_each')?['cssp_deliveryaddressstreet']","@triggerOutputs()?['body/address2_line1']"]},{"equals":["@items('Apply_to_each')?['cssp_deliveryaddressstate']","@triggerOutputs()?['body/address2_stateorprovince']"]},{"equals":["@items('Apply_to_each')?['cssp_deliveryaddresscountryregionid']","@triggerOutputs()?['body/address2_country']"]},{"equals":["@items('Apply_to_each')?['cssp_deliveryaddressstate']","@triggerOutputs()?['body/address2_stateorprovince']"]},{"equals":["@items('Apply_to_each')?['cssp_deliveryaddresszipcode']","@triggerOutputs()?['body/address2_postalcode']"]}]},"metadata":{"operationMetadataId":"fef42f9c-2be1-4337-83b5-8e84cc2ef439"},"type":"If"}},"runAfter":{"Get_all_service_locations":["Succeeded"]},"metadata":{"operationMetadataId":"8a8265a6-a0fc-4a4f-9eb2-e8049d06dd62"},"type":"Foreach"},"Terminate":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"a6376125-aa59-41fa-a630-243c0171e97c"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"schemaVersion":"1.0.0.0"}