ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/BillHeaderConditionsforBuyoutRentalinBillline-8000CDF4-C851-EC11-8C62-0022482A2F80.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_bill_header_is_added":{"metadata":{"operationMetadataId":"0e80295e-0f43-4ef9-80df-67a45e8ef626"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cssp_billheader","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Delay_of_5_mins":{"runAfter":{},"metadata":{"operationMetadataId":"d0b956ba-5401-4f04-a101-91bb58532930"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}},"List_rows_of_Bill_lines":{"runAfter":{"Initialize_variable_to_stop_the_loop":["Succeeded"]},"metadata":{"operationMetadataId":"e29d928c-bcea-4da8-9179-e6ff3ff25809"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlines","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows_of_Bill_lines')?['body/value']","actions":{"Condition__for_Sales_Tax_2":{"actions":{"update_bill_line_condition_value_to_sales_tax_2":{"runAfter":{},"metadata":{"operationMetadataId":"2a4e943a-7e60-4f4e-94d9-7a0a8cc39d1a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Sales Tax"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_Sales_Tax_2":{"runAfter":{"update_bill_line_condition_value_to_sales_tax_2":["Succeeded"]},"metadata":{"operationMetadataId":"2917d690-32cb-4ba9-a7f2-811c9177baf0"},"type":"SetVariable","inputs":{"name":"varforvalue","value":"Sales Tax"}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each')?['cssp_chargedescription']","Sales Tax"]},{"greater":["@items('Apply_to_each')?['cssp_chargeamount']",0]},{"equals":["@variables('varforvalue')","start"]}]},"metadata":{"operationMetadataId":"268ba371-00eb-48cd-a901-51546468dee5"},"type":"If"}},"runAfter":{"List_rows_of_Bill_lines":["Succeeded"]},"metadata":{"operationMetadataId":"bd1881f7-a820-41fe-8291-19abd45b9744"},"type":"Foreach"},"Initialize_variable_to_stop_the_loop":{"runAfter":{"Delay_of_5_mins":["Succeeded"]},"metadata":{"operationMetadataId":"48b41025-7c39-4281-a0f2-fc5b324e921b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varforvalue","type":"string","value":"start"}]}},"Condition_2":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"0624c65a-a281-42e3-b0e8-d3a182a5299d"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"List_rows_of_Bill_line_histories":{"runAfter":{},"metadata":{"operationMetadataId":"c07585e2-2e48-4a3c-8008-e7bc656c32d1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlinehistories","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_rows_of_Bill_line_histories')?['body/value']","actions":{"Condition_3":{"actions":{"Update_a_row_for_overdue_amount":{"runAfter":{},"metadata":{"operationMetadataId":"df32354e-c0f8-4b3c-a592-f6180712519a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Overdue Amount"},"authentication":"@parameters('$authentication')"}},"Set_variable_for_overdue_amount":{"runAfter":{"Update_a_row_for_overdue_amount":["Succeeded"]},"metadata":{"operationMetadataId":"b6ee6363-d095-4268-8c55-4296eb7df6a7"},"type":"SetVariable","inputs":{"name":"varforvalue","value":"Overdue Amount"}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each_2')?['cssp_chargedescription']","Balance forward/overdue amount"]},{"greater":["@items('Apply_to_each_2')?['cssp_chargeamount']",0]},{"not":{"equals":["@variables('varforvalue')","Overdue Amount"]}}]},"metadata":{"operationMetadataId":"8c8d5afc-d0a8-4226-bd20-acded281068c"},"type":"If"}},"runAfter":{"List_rows_of_Bill_line_histories":["Succeeded"]},"metadata":{"operationMetadataId":"57eaf7ac-32c5-4664-97de-e0d6ec152e89"},"type":"Foreach"}}},"expression":{"equals":["@variables('varforvalue')","Sales Tax"]},"metadata":{"operationMetadataId":"04830eb4-cb66-4f05-8891-6c8ccddd18d8"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}