ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/GenerateBillingStatementPDF-Blob-13409F34-244E-EC11-8C62-0022482A246B.json
{"properties":{"connectionReferences":{"shared_documentscorepackapi":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_documentscorepackapi"}},"shared_azureblob":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_azureblob"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Guid Email User (cssp_GuidEmailUser)":{"defaultValue":"65686657-2c1f-ec11-b6e6-000d3a8ea31a","type":"String","metadata":{"schemaName":"cssp_GuidEmailUser"}},"Bill Statement Waiting Time (cssp_BillStatementWaitingTime)":{"defaultValue":50,"type":"Int","metadata":{"schemaName":"cssp_BillStatementWaitingTime"}},"Bill Notification Snippet (cssp_BillNotificationSnippetGUI)":{"defaultValue":"190105FC-A380-EC11-8D21-000D3A8D0F36","type":"String","metadata":{"schemaName":"cssp_BillNotificationSnippetGUI"}},"blobEnvName (cssp_blobEnvName)":{"defaultValue":"saeu2d3csspinfradev","type":"String","metadata":{"schemaName":"cssp_blobEnvName"}},"blobURL (cssp_blobURL)":{"defaultValue":"https://saeu2d3csspinfradev.blob.core.windows.net/","type":"String","metadata":{"schemaName":"cssp_blobURL"}}},"triggers":{"Bill_Header_added":{"metadata":{"operationMetadataId":"9699819e-3ef6-4aae-9564-8edef8ffa1d0"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cssp_billheader","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Single_Template":{"runAfter":{"Wait_a_Random_amount_of_Time_(DCP_Max_Calls_per_Minute)":["Succeeded"]},"metadata":{"operationMetadataId":"637c382d-1f25-40b1-9840-880c07241253"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"GetSingleTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"TemplateNameFilter":"Billing statement V1.docx","EntityName":"cssp_billheader"},"authentication":"@parameters('$authentication')"}},"Create_blob_(V2)":{"runAfter":{"Parse_workflow_instance":["Succeeded"]},"metadata":{"operationMetadataId":"cfcac5bf-1141-47eb-8576-6c7c2fbaf9c5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"CreateFile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"dataset":"@parameters('blobEnvName (cssp_blobEnvName)')","folderPath":"/statements","name":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf","body":"@outputs('Compose_PDF_Content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_DocumentJob_Result":{"runAfter":{"Create_Document_Job_(async)":["Succeeded"]},"metadata":{"operationMetadataId":"f261ee40-8b67-4c3d-ad3e-8048ba225957"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"DocumentJobResult","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"DocumentJobId":"@outputs('Create_Document_Job_(async)')?['body/DocumentJobId']","DeactivateOnTimeout":false},"authentication":"@parameters('$authentication')"}},"Compose_PDF_Content":{"runAfter":{"Get_DocumentJob_Result":["Succeeded"]},"metadata":{"operationMetadataId":"c68722e8-1b7e-4df2-8ca1-7ddcb73f1ac4"},"type":"Compose","inputs":{"$content-type":"application/pdf","$content":"@outputs('Get_DocumentJob_Result')?['body/Document (Base64 encoded)']"}},"Create_Attachment_with_blob_details":{"runAfter":{"Compose_CE_Note":["Succeeded"]},"metadata":{"operationMetadataId":"71d3e4f8-7509-43c6-94d6-05e94916a043"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/msdyn_company@odata.bind":"/cdm_companies(@{triggerOutputs()?['body/_cssp_company_value']})","item/subject":"@outputs('Create_blob_(V2)')?['body/Path']","item/notetext":"*WEB*","item/isdocument":true,"item/documentbody":"@base64(outputs('Compose_CE_Note'))","item/filename":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf.azure.txt","item/objectid_cssp_billheader@odata.bind":"/cssp_billheaders(@{triggerOutputs()?['body/cssp_billheaderid']})"},"authentication":"@parameters('$authentication')"}},"Compose_CE_Note":{"runAfter":{"Create_blob_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"568e880d-3e97-4ab6-888d-7a91a03dbf52"},"type":"Compose","inputs":{"Name":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf","Type":"application/pdf","Size":"@outputs('Create_blob_(V2)')?['body/Size']","Url":"@{parameters('blobURL (cssp_blobURL)')}/statements/@{triggerOutputs()?['body/cssp_billheaderid']}.pdf"}},"Get_current_workflow_instance":{"runAfter":{"Compose_PDF_Content":["Succeeded"]},"metadata":{"operationMetadataId":"523ee516-54b5-4564-ab0b-7b20fd574cec"},"type":"Compose","inputs":"@workflow()"},"Parse_workflow_instance":{"runAfter":{"Get_current_workflow_instance":["Succeeded"]},"metadata":{"operationMetadataId":"4f9c73cf-d461-4ad5-9b05-0e6df5af6e2e"},"type":"ParseJson","inputs":{"content":"@outputs('Get_current_workflow_instance')","schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"location":{"type":"string"},"tags":{"type":"object","properties":{"flowDisplayName":{"type":"string"},"environmentName":{"type":"string"},"logicAppName":{"type":"string"},"environmentWorkflowId":{"type":"string"},"xrmWorkflowId":{"type":"string"},"environmentFlowSuspensionReason":{"type":"string"},"sharingType":{"type":"string"}}},"run":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}}}}},"Variable_to_store_the_charge_Amounts":{"runAfter":{},"metadata":{"operationMetadataId":"03e2d739-2819-4fb1-aefe-92cd19643557"},"type":"InitializeVariable","inputs":{"variables":[{"name":"charge amounts","type":"float"}]}},"variable_to_check_that_condition_is_met":{"runAfter":{"Variable_to_store_the_charge_Amounts":["Succeeded"]},"metadata":{"operationMetadataId":"02542eaa-1141-4c3a-abc3-102c5d739805"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable4","type":"integer","value":1}]}},"variable_for_sum_of_charge_amount_of_bill_history":{"runAfter":{"variable_to_check_that_condition_is_met":["Succeeded"]},"metadata":{"operationMetadataId":"09d48c4d-5f96-4f22-b49b-8dc1974f084d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable2","type":"float"}]}},"variable_for_sum_of_charge_amount_of_bill_line":{"runAfter":{"variable_for_sum_of_charge_amount_of_bill_history":["Succeeded"]},"metadata":{"operationMetadataId":"b966a8ce-a887-4630-9ba7-d5cb45b94295"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable3","type":"float"}]}},"Initialize_variable_to_stop_the_loop":{"runAfter":{"variable_for_sum_of_charge_amount_of_bill_line":["Succeeded"]},"metadata":{"operationMetadataId":"e170bddb-2759-4712-9e9d-5ad13cae1f25"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable5","type":"string","value":"start"}]}},"Condition_to_terminate_or_overdue_amount":{"actions":{},"runAfter":{"Apply_to_each_for_Buyout_Rentals_and_Sales_Tax":["Succeeded"]},"else":{"actions":{"Apply_to_each_of_Bill_Line_Histories":{"foreach":"@outputs('List_rows_bill_histories')?['body/value']","actions":{"Condition_4":{"actions":{"Update_a_row_3":{"runAfter":{},"metadata":{"operationMetadataId":"f498853c-5867-436f-ada8-41f75be746f0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Overdue Amount"},"authentication":"@parameters('$authentication')"}},"Set_variable_4":{"runAfter":{"Update_a_row_3":["Succeeded"]},"metadata":{"operationMetadataId":"b0389c42-3d9c-4e08-b5fb-52f8e3bd1c41"},"type":"SetVariable","inputs":{"name":"variable5","value":"Overdue Amount"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@variables('variable5')","Overdue Amount"]}},{"contains":["@items('Apply_to_each_of_Bill_Line_Histories')?['cssp_chargedescription']","Balance forward/overdue amount"]},{"greater":["@items('Apply_to_each_of_Bill_Line_Histories')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"e14b12d7-eb0a-4fe6-b459-939a925fb5b6"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"1c388003-c259-4409-a84d-4d2d4a547b0b"},"type":"Foreach"}}},"expression":{"or":[{"equals":["@variables('variable5')","Buyout Rental"]},{"equals":["@variables('variable5')","Sales Tax"]}]},"metadata":{"operationMetadataId":"db26b8ac-554c-488b-aadd-b294142ca869"},"type":"If"},"Apply_to_each_for_Buyout_Rentals_and_Sales_Tax":{"foreach":"@outputs('List_rows_bill_lines')?['body/value']","actions":{"condition_to_check_for_buyout_rentals":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"52ce8b63-af18-4c2b-adfa-78f8ebe1f85d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Buyout Rental"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Update_a_row":["Succeeded"]},"metadata":{"operationMetadataId":"8940fb73-3ad1-4268-831e-01e3663b6e76"},"type":"SetVariable","inputs":{"name":"variable5","value":"Buyout Rental"}}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Update_a_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"a38b7506-4811-4feb-9d2c-a93380ef34d7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Sales Tax"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Update_a_row_2":["Succeeded"]},"metadata":{"operationMetadataId":"74403487-46d7-4e83-bf13-c93bcf11a1cf"},"type":"SetVariable","inputs":{"name":"variable5","value":"Sales Tax"}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargedescription']","Sales Tax"]},{"greater":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"17d037a5-91a9-4860-89fa-a3b92c8e36d7"},"type":"If"}}},"expression":{"and":[{"equals":["@variables('variable5')","start"]},{"contains":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargedescription']","Buyout Rental"]},{"greater":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"39d07aec-4918-445a-beee-f376ecf99330"},"type":"If"}},"runAfter":{"Do_until_for_populating_all_the_related_records":["Succeeded"]},"metadata":{"operationMetadataId":"765c5204-a47c-4a09-9d31-05ebbc02926c"},"type":"Foreach"},"Do_until_for_populating_all_the_related_records":{"actions":{"List_rows_bill_lines":{"runAfter":{},"metadata":{"operationMetadataId":"8f1b633c-e89b-41ce-9a04-e4202d6561a3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlines","$select":"cssp_billlineid,cssp_chargedescription,cssp_chargeamount","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"List_rows_bill_histories":{"runAfter":{"List_rows_bill_lines":["Succeeded"]},"metadata":{"operationMetadataId":"cb8f4eab-1336-4c68-8143-04d4667971bc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlinehistories","$select":"cssp_billlinehistoryid,cssp_chargedescription,cssp_chargeamount","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"Do_counts_match":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"1bc96ff1-5c6d-4504-98ba-b46d00b0f96f"},"type":"SetVariable","inputs":{"name":"variable4","value":-1}}},"runAfter":{"List_rows_bill_histories":["Succeeded"]},"else":{"actions":{"Increment_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"ff787607-34aa-48bb-ac53-0f75306ee9d6"},"type":"IncrementVariable","inputs":{"name":"variable4","value":1}},"Delay":{"runAfter":{"Increment_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"1f15a155-ec54-4d34-b691-324c00c206c9"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}}},"expression":{"and":[{"equals":["@length(outputs('List_rows_bill_lines')?['body/value'])","@triggerOutputs()?['body/cssp_billcurrentlinescount']"]},{"equals":["@length(outputs('List_rows_bill_histories')?['body/value'])","@triggerOutputs()?['body/cssp_billhistorylinescount']"]}]},"metadata":{"operationMetadataId":"13e7a6cc-6fb1-49a4-be66-50eb28338fe3"},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":"@equals(variables('variable4'), -1)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"357fdd22-3353-48cf-aeec-8328e48e4c29"},"type":"Until"},"Initialize_RandomWaitTime":{"runAfter":{"Condition_to_terminate_or_overdue_amount":["Succeeded"]},"metadata":{"operationMetadataId":"81428d47-3eb2-4a17-ab6c-fe63a8ff99cf"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RandomWaitTime","type":"integer","value":"@rand(1, parameters('Bill Statement Waiting Time (cssp_BillStatementWaitingTime)'))"}]}},"Wait_a_Random_amount_of_Time_(DCP_Max_Calls_per_Minute)":{"runAfter":{"Initialize_RandomWaitTime":["Succeeded"]},"metadata":{"operationMetadataId":"683387e2-3911-4168-ab03-a3b744a3d80f"},"type":"Wait","inputs":{"interval":{"count":"@variables('RandomWaitTime')","unit":"Second"}}},"Initialize_variable":{"runAfter":{"Initialize_variable_to_stop_the_loop":["Succeeded"]},"metadata":{"operationMetadataId":"bf8bae48-a682-4744-8d4f-f0febb98ef30"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TEMP","type":"integer"}]}},"Create_Document_Job_(async)":{"runAfter":{"Get_Single_Template":["Succeeded"]},"metadata":{"operationMetadataId":"35f85859-8edb-48ad-8f95-0e42d6f05f09"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"CreateDocumentJobAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"TemplateId":"@outputs('Get_Single_Template')?['body/ptm_mscrmaddons_dcptemplatesid']","EntityId":"@triggerOutputs()?['body/cssp_billheaderid']","FileType":"956670008","SaveToSharepoint":false},"authentication":"@parameters('$authentication')"}},"Get_Service_Location_for_notification_option":{"runAfter":{"Create_Attachment_with_blob_details":["Succeeded"]},"metadata":{"operationMetadataId":"88239e6c-f1dd-4665-baa6-c1da5cb7d4a6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@triggerOutputs()?['body/_cssp_location_value']"},"authentication":"@parameters('$authentication')"}},"Is_notification_by_Email":{"actions":{"Get_Account_for_Email_address":{"runAfter":{},"metadata":{"operationMetadataId":"f8554735-9e47-40d1-be30-103ad2cba3f8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Service_Location_for_notification_option')?['body/_cssp_account_value']","$select":"accountid,emailaddress1"},"authentication":"@parameters('$authentication')"}},"Create_Bill_Statement_Notification_Email":{"runAfter":{"Get_Content_Snippet_with_Email_body":["Succeeded"]},"metadata":{"operationMetadataId":"1df32b9c-2b04-477e-8d04-8b02daf6e768"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/accounts(@{outputs('Get_Account_for_Email_address')?['body/accountid']})"},{"participationtypemask":1,"partyid@odata.bind":"/systemusers(@{parameters('Guid Email User (cssp_GuidEmailUser)')})"}],"item/description":"@outputs('Get_Content_Snippet_with_Email_body')?['body/adx_value']"},"authentication":"@parameters('$authentication')"}},"Get_Content_Snippet_with_Email_body":{"runAfter":{"Get_Account_for_Email_address":["Succeeded"]},"metadata":{"operationMetadataId":"e871d482-d286-4e9e-8ec4-04202a027d50"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_contentsnippets","recordId":"@parameters('Bill Notification Snippet (cssp_BillNotificationSnippetGUI)')","$select":"adx_value"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"Create_Bill_Statement_Notification_Email":["Succeeded"]},"metadata":{"operationMetadataId":"25efbbea-e832-4352-bb98-809ca53bceb2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Bill_Statement_Notification_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Service_Location_for_notification_option":["Succeeded"]},"expression":{"equals":["@outputs('Get_Service_Location_for_notification_option')?['body/cssp_billnotificationbyemail']",true]},"metadata":{"operationMetadataId":"52580dff-b560-49c9-971a-f7bf86fb1bac"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}