ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/Original-GenerateBillingStatementPDF-Blob-73271C08-E279-EC11-8D21-002248300B77.json
{"properties":{"connectionReferences":{"shared_documentscorepackapi":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_documentscorepackapi"}},"shared_azureblob":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_azureblob"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Bill_Header_added":{"metadata":{"operationMetadataId":"9699819e-3ef6-4aae-9564-8edef8ffa1d0"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cssp_billheader","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Single_Template":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"637c382d-1f25-40b1-9840-880c07241253"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"GetSingleTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"TemplateNameFilter":"Billing statement V1.docx","EntityName":"cssp_billheader"},"authentication":"@parameters('$authentication')"}},"Create_blob_(V2)":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"cfcac5bf-1141-47eb-8576-6c7c2fbaf9c5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"CreateFile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"dataset":"@variables('blobEnvName')","folderPath":"/statements","name":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf","body":"@outputs('Compose_PDF_Content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_DocumentJob_Result":{"runAfter":{"Create_Document_Job_(sync)":["Succeeded"]},"metadata":{"operationMetadataId":"f261ee40-8b67-4c3d-ad3e-8048ba225957"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"DocumentJobResult","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"DocumentJobId":"@outputs('Create_Document_Job_(sync)')?['body/DocumentJobId']","DeactivateOnTimeout":false},"authentication":"@parameters('$authentication')"}},"Compose_PDF_Content":{"runAfter":{"Get_DocumentJob_Result":["Succeeded"]},"metadata":{"operationMetadataId":"c68722e8-1b7e-4df2-8ca1-7ddcb73f1ac4"},"type":"Compose","inputs":{"$content-type":"application/pdf","$content":"@outputs('Get_DocumentJob_Result')?['body/Document (Base64 encoded)']"}},"Add_a_new_row":{"runAfter":{"Compose_CE_Note":["Succeeded"]},"metadata":{"operationMetadataId":"71d3e4f8-7509-43c6-94d6-05e94916a043"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/msdyn_company@odata.bind":"/cdm_companies(@{triggerOutputs()?['body/_cssp_company_value']})","item/subject":"@outputs('Create_blob_(V2)')?['body/Path']","item/notetext":"*WEB*","item/isdocument":true,"item/documentbody":"@base64(outputs('Compose_CE_Note'))","item/filename":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf.azure.txt","item/objectid_cssp_billheader@odata.bind":"/cssp_billheaders(@{triggerOutputs()?['body/cssp_billheaderid']})"},"authentication":"@parameters('$authentication')"}},"Compose_CE_Note":{"runAfter":{"Create_blob_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"568e880d-3e97-4ab6-888d-7a91a03dbf52"},"type":"Compose","inputs":{"Name":"@{triggerOutputs()?['body/cssp_billheaderid']}.pdf","Type":"application/pdf","Size":"@outputs('Create_blob_(V2)')?['body/Size']","Url":"@{variables('blobURL')}/statements/@{triggerOutputs()?['body/cssp_billheaderid']}.pdf"}},"Get_current_workflow_instance":{"runAfter":{"Compose_PDF_Content":["Succeeded"]},"metadata":{"operationMetadataId":"523ee516-54b5-4564-ab0b-7b20fd574cec"},"type":"Compose","inputs":"@workflow()"},"Parse_workflow_instance":{"runAfter":{"Get_current_workflow_instance":["Succeeded"]},"metadata":{"operationMetadataId":"4f9c73cf-d461-4ad5-9b05-0e6df5af6e2e"},"type":"ParseJson","inputs":{"content":"@outputs('Get_current_workflow_instance')","schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"location":{"type":"string"},"tags":{"type":"object","properties":{"flowDisplayName":{"type":"string"},"environmentName":{"type":"string"},"logicAppName":{"type":"string"},"environmentWorkflowId":{"type":"string"},"xrmWorkflowId":{"type":"string"},"environmentFlowSuspensionReason":{"type":"string"},"sharingType":{"type":"string"}}},"run":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}}}}},"blobURL":{"runAfter":{"blobEnvName":["Succeeded"]},"metadata":{"operationMetadataId":"ad99cea4-55ee-44bd-b0fd-f0e560e3c86d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"blobURL","type":"string"}]}},"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"4d4381f0-4c9e-4742-92d8-b79de883c4e3"},"type":"Wait","inputs":{"interval":{"count":7,"unit":"Minute"}}},"Switch":{"runAfter":{"blobURL":["Succeeded"]},"cases":{"DEV":{"case":"d7300b94-454d-4d04-9ee6-e59b1729f1ac","actions":{"Set_blobURL_DEV":{"runAfter":{},"type":"SetVariable","inputs":{"name":"blobURL","value":"https://saeu2d3csspinfradev.blob.core.windows.net/"}},"Set_blobEnvName_DEV":{"runAfter":{"Set_blobURL_DEV":["Succeeded"]},"type":"SetVariable","inputs":{"name":"blobEnvName","value":"saeu2d3csspinfradev"}}}},"SBX":{"case":"a19a820c-9276-46df-a3dd-f1085101ddac","actions":{"Set_blobURL_SBX":{"runAfter":{},"type":"SetVariable","inputs":{"name":"blobURL","value":"https://saeu2d3csspinfrasbx.blob.core.windows.net/"}},"Set_blobEnvName_SBX":{"runAfter":{"Set_blobURL_SBX":["Succeeded"]},"type":"SetVariable","inputs":{"name":"blobEnvName","value":"saeu2d3csspinfrasbx"}}}},"UAT":{"case":"72f91908-f9b8-49b2-80b2-1823d958ca0d","actions":{"Set_blobURL_UAT":{"runAfter":{},"type":"SetVariable","inputs":{"name":"blobURL","value":"https://saeu2d3csspinfrauat.blob.core.windows.net/"}},"Set_blobEnvName_UAT":{"runAfter":{"Set_blobURL_UAT":["Succeeded"]},"type":"SetVariable","inputs":{"name":"blobEnvName","value":"saeu2d3csspinfrauat"}}}}},"default":{"actions":{}},"expression":"@body('Parse_workflow_instance')?['tags']?['environmentName']","metadata":{"operationMetadataId":"b65adcec-b1c3-4ff9-9df6-9ebadfb0d6a5"},"type":"Switch"},"blobEnvName":{"runAfter":{"Parse_workflow_instance":["Succeeded"]},"metadata":{"operationMetadataId":"e404533a-63cf-406a-ae32-67208765805f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"blobEnvName","type":"string"}]}},"Create_Document_Job_(sync)":{"runAfter":{"Get_Single_Template":["Succeeded"]},"metadata":{"operationMetadataId":"7113f492-c6dd-4c60-8c86-0d7e03eda611"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_documentscorepackapi","operationId":"CreateDocumentJob","apiId":"/providers/Microsoft.PowerApps/apis/shared_documentscorepackapi"},"parameters":{"TemplateId":"@outputs('Get_Single_Template')?['body/ptm_mscrmaddons_dcptemplatesid']","EntityId":"@triggerOutputs()?['body/cssp_billheaderid']","FileType":"956670008","TimeOut":130,"SaveToSharepoint":false,"DeactivateOnTimeout":false},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}