ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/PaymentOption-propagateAccountToServiceLocation-AB86F9E5-067B-EC11-8D21-002248300B77.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_Method_of_Payment_Added_or_Modified":{"metadata":{"operationMetadataId":"c23a05d6-44fd-4aec-8f9f-969e8cda854e"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msdyn_customerpaymentmethod"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_all_Service_Locations_for_that_Account":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"a0e3cbbe-1ac3-4dd5-88a5-11158ac21d86"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","$filter":"_cssp_account_value eq '@{triggerOutputs()?['body/accountid']}'"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"d6fcaf86-ecc6-4f6f-ad7d-a3e229f5169c"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Apply_to_each_2":{"foreach":"@outputs('Get_all_Service_Locations_for_that_Account')?['body/value']","actions":{"If_Account_Customer_Payment_Method_NOT_equals_to_Service_Location_2":{"actions":{},"runAfter":{},"else":{"actions":{"Update_Customer_Payment_Method_in_Service_Location_2":{"runAfter":{},"metadata":{"operationMetadataId":"50e7c34d-2ff9-43b9-a260-6e3ce753cb4d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@items('Apply_to_each_2')?['cssp_servicelocationid']","item/cssp_customerpaymentmethod@odata.bind":"/msdyn_customerpaymentmethods(@{triggerOutputs()?['body/_msdyn_customerpaymentmethod_value']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/_msdyn_customerpaymentmethod_value']","@items('Apply_to_each_2')?['_cssp_customerpaymentmethod_value']"]},"metadata":{"operationMetadataId":"277fe6e5-7b23-403c-8f66-f658b41dd82c"},"type":"If"}},"runAfter":{"Get_all_Service_Locations_for_that_Account":["Succeeded"]},"metadata":{"operationMetadataId":"aeae08f5-372a-4e6c-8b0a-1230d4e28283"},"type":"Foreach"},"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"72d4ba4e-1bf0-4abb-9ecc-8bec3d4ba21f"},"type":"Wait","inputs":{"interval":{"count":20,"unit":"Second"}}}}}},"schemaVersion":"1.0.0.0"}