ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/PaymentOption-PropagateServiceLocationtoAccount-9C999FFA-817C-EC11-8D21-000D3A8D0F36.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Customer_Payment_info_in_Service_Location_is_Changed":{"metadata":{"operationMetadataId":"969c35e2-c2c9-47b4-b1f7-b05c38558017"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cssp_servicelocation","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cssp_customerpaymentmethod,cssp_bankaccountnumber,cssp_paymentmethod,cssp_paymentmethodtoken"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Associated_Account":{"runAfter":{"Get_other_Service_Locations_associated_to_the_same_account":["Succeeded"]},"metadata":{"operationMetadataId":"5aa07f97-b309-4d86-b567-d1c4e25ecf23"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_cssp_account_value']"},"authentication":"@parameters('$authentication')"}},"Get_other_Service_Locations_associated_to_the_same_account":{"runAfter":{},"metadata":{"operationMetadataId":"4108404d-05ea-41c2-9421-8cbbda170176"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","$filter":"_cssp_account_value eq '@{triggerOutputs()?['body/_cssp_account_value']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Service_Location_associated_to_the_same_account":{"foreach":"@outputs('Get_other_Service_Locations_associated_to_the_same_account')?['body/value']","actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Update_Bank_info_and_Credit_Card_Info":{"runAfter":{},"metadata":{"operationMetadataId":"611535cb-cb79-4944-bc3f-0c10876fcab2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@items('Apply_to_each_Service_Location_associated_to_the_same_account')?['cssp_servicelocationid']","item/cssp_bankaccountnumber":"@triggerOutputs()?['body/cssp_bankaccountnumber']","item/cssp_customerpaymentmethod@odata.bind":"/msdyn_customerpaymentmethods(@{triggerOutputs()?['body/_cssp_customerpaymentmethod_value']})","item/cssp_paymentmethod":"@triggerOutputs()?['body/cssp_paymentmethod']","item/cssp_paymentmethodtoken":"@triggerOutputs()?['body/cssp_paymentmethodtoken']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@triggerOutputs()?['body/cssp_bankaccountnumber']","@items('Apply_to_each_Service_Location_associated_to_the_same_account')?['cssp_bankaccountnumber']"]},{"equals":["@triggerOutputs()?['body/cssp_paymentmethod']","@items('Apply_to_each_Service_Location_associated_to_the_same_account')?['cssp_paymentmethod']"]},{"equals":["@triggerOutputs()?['body/cssp_paymentmethodtoken']","@items('Apply_to_each_Service_Location_associated_to_the_same_account')?['cssp_paymentmethodtoken']"]}]},"metadata":{"operationMetadataId":"58df1adc-52fa-4680-87ac-78015a501c43"},"type":"If"}},"runAfter":{"if_customer_payment_method_are_different_Between_Account_the_Service_Location":["Succeeded"]},"metadata":{"operationMetadataId":"26c88a01-0861-4bba-ba8f-315f5f95a492"},"type":"Foreach"},"if_customer_payment_method_are_different_Between_Account_the_Service_Location":{"actions":{},"runAfter":{"Get_Associated_Account":["Succeeded"]},"else":{"actions":{"Update_the_account_Customer_Payment_Method":{"runAfter":{},"metadata":{"operationMetadataId":"4fa78d9e-80bd-46f1-9402-8f8199c9cf6e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Associated_Account')?['body/accountid']","item/msdyn_customerpaymentmethod@odata.bind":"/msdyn_customerpaymentmethods(@{triggerOutputs()?['body/_cssp_customerpaymentmethod_value']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/_cssp_customerpaymentmethod_value']","@outputs('Get_Associated_Account')?['body/_msdyn_customerpaymentmethod_value']"]},"metadata":{"operationMetadataId":"31fec30e-53f4-4ac5-b750-9175000becd9"},"type":"If"},"Terminate":{"runAfter":{"Apply_to_each_Service_Location_associated_to_the_same_account":["Succeeded"]},"metadata":{"operationMetadataId":"95ba140b-e4b3-484a-b878-9cbf46dca160"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"schemaVersion":"1.0.0.0"}