ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/RedMapleCommunications-4E21CB30-6D79-EC11-8D21-002248300CAA.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Portal URL (cssp_portaluRL)":{"defaultValue":"https://csspdev.powerappsportals.com","type":"String","metadata":{"schemaName":"cssp_portaluRL"}}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d38f9d77-b8c8-4417-9598-f143241c3105"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"orderId":{"type":"string"},"invoiceId":{"type":"string"},"customerId":{"type":"string"},"action":{"type":"string"},"token":{"type":"string"}}}}}},"actions":{"x-api-key":{"runAfter":{"Is_the_request_coming_from_the_Portal":["Succeeded"]},"metadata":{"operationMetadataId":"0be96068-48e3-42f9-8b2d-09bf73d25989"},"type":"InitializeVariable","inputs":{"variables":[{"name":"x-api-key","type":"string"}]}},"RedMapleUiUrl":{"runAfter":{"x-api-key":["Succeeded"]},"metadata":{"operationMetadataId":"59b94186-51ed-4677-9555-dc7298093922"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RedMapleUiUrl","type":"string"}]}},"RedMapleServiceURL":{"runAfter":{"RedMapleUiUrl":["Succeeded"]},"metadata":{"operationMetadataId":"fb792d86-3b86-418f-a3da-2b8ccea4f452"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RedMapleServiceURL","type":"string"}]}},"Get_Redmaple_Configurations":{"runAfter":{"ActionURL":["Succeeded"]},"metadata":{"operationMetadataId":"8b465a15-0819-4263-affd-293bec7f644b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","fetchXml":"<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>\n  <entity name='sxp_configuration'>\n    <attribute name='sxp_name' />\n    <attribute name='sxp_value' />\n    <filter type='or'>\n      <condition attribute='sxp_name' operator='eq' value='X-API-KEY' />\n      <condition attribute='sxp_name' operator='eq' value='RedMapleServiceUrl' />\n      <condition attribute='sxp_name' operator='eq' value='RedMapleUiUrl' />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Gets_all_RedMaple_Environment_Variables_and_sets_the_Variables":{"foreach":"@outputs('Get_Redmaple_Configurations')?['body/value']","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"e4d7738a-d7ca-4e91-9b5c-6c092049c5f2"},"type":"Compose","inputs":"@items('Gets_all_RedMaple_Environment_Variables_and_sets_the_Variables')"},"Switch":{"runAfter":{"Parse_JSON":["Succeeded"]},"cases":{"X-API-KEY":{"case":"X-API-KEY","actions":{"Set_RedMaple_x-api-key":{"runAfter":{},"type":"SetVariable","inputs":{"name":"x-api-key","value":"@body('Parse_JSON')?['sxp_value']"}}}},"RedMapleUiUrl":{"case":"RedMapleUiUrl","actions":{"Set_RedMaple_Ui_URL":{"runAfter":{},"type":"SetVariable","inputs":{"name":"RedMapleUiUrl","value":"@body('Parse_JSON')?['sxp_value']"}}}},"RedMapleServiceUrl":{"case":"RedMapleServiceUrl","actions":{"Set_RedMaple_Service_URL":{"runAfter":{},"type":"SetVariable","inputs":{"name":"RedMapleServiceURL","value":"@body('Parse_JSON')?['sxp_value']"}}}}},"default":{"actions":{}},"expression":"@body('Parse_JSON')?['sxp_name']","metadata":{"operationMetadataId":"dc9be5a0-94ca-43f0-88a9-425b0303c839"},"type":"Switch"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"68cee14d-5083-4ded-ad28-45cc8371ce64"},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"sxp_name":{"type":"string"},"sxp_value":{"type":"string"},"sxp_configurationid@odata.type":{"type":"string"},"sxp_configurationid":{"type":"string"}}}}}},"runAfter":{"Get_Redmaple_Configurations":["Succeeded"]},"metadata":{"operationMetadataId":"338d94f1-d724-437f-b2e3-0a4e25487df2"},"type":"Foreach"},"What_Action_in_RedMaple":{"runAfter":{"If_billheader_in_body_of_request":["Succeeded"]},"cases":{"RM_Create_Transaction_ID":{"case":"trcreate","actions":{"Set_ActionURL_to_Create_Transaction":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ActionURL","value":"/transaction/create"}},"POST_Request_to_Create_Transaction_ID":{"runAfter":{"Set_ActionURL_to_Create_Transaction":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"@{variables('RedMapleServiceURL')}@{variables('ActionURL')}","headers":{"X-API-KEY":"@variables('x-api-key')"},"body":{"orderId":"@outputs('Get_Bill_Statement_Amount')?['body/cssp_billheaderid']","invoiceId":"@outputs('Get_Bill_Statement_Amount')?['body/cssp_billheaderid']","amount":"@outputs('Get_Bill_Statement_Amount')?['body/cssp_amountdue']","title":"@concat(outputs('Get_Contact_Details')?['body/firstname'],outputs('Get_Contact_Details')?['body/lastname'],utcNow())","customerId":"@outputs('Get_Contact_Details')?['body/contactid']","customerFirstName":"@outputs('Get_Contact_Details')?['body/firstname']","customerLastName":"@outputs('Get_Contact_Details')?['body/lastname']","customerEmail":"@outputs('Get_Contact_Details')?['body/emailaddress1']","customerPhone":"@outputs('Get_Contact_Details')?['body/address1_telephone1']"}}},"Respond_Create_Transaction_ID_Success":{"runAfter":{"POST_Request_to_Create_Transaction_ID":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@outputs('POST_Request_to_Create_Transaction_ID')['statusCode']","body":"@body('POST_Request_to_Create_Transaction_ID')"}}}},"Get_Transaction_ID":{"case":"gettrid","actions":{"Set_ActionURL_to_Get_Transaction_ID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ActionURL","value":"/transaction/invoice/"}},"GET_Request_Get_Transaction_ID":{"runAfter":{"Set_ActionURL_to_Get_Transaction_ID":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{variables('RedMapleServiceURL')}@{variables('ActionURL')}@{outputs('Get_Bill_Statement_Amount')?['body/cssp_billheaderid']}","headers":{"X-API-KEY":"@variables('x-api-key')"}}},"Respond_Request_Get_Transaction_ID":{"runAfter":{"GET_Request_Get_Transaction_ID":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@outputs('GET_Request_Get_Transaction_ID')['statusCode']","body":"@body('GET_Request_Get_Transaction_ID')"}}}},"Delete_Token":{"case":"deltok","actions":{"Set_ActionURL_to_Delete_Token":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ActionURL","value":"/token/delete"}},"DELETE_token_from_customer":{"runAfter":{"Set_ActionURL_to_Delete_Token":["Succeeded"]},"type":"Http","inputs":{"method":"DELETE","uri":"@{variables('RedMapleServiceURL')}@{variables('ActionURL')}?customerId=@{outputs('Get_Contact_Details')?['body/contactid']}&tokenId=@{triggerBody()?['token']}","headers":{"X-API-KEY":"@variables('x-api-key')"}}},"Response_Delete_Token":{"runAfter":{"DELETE_token_from_customer":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@outputs('DELETE_token_from_customer')['statusCode']","body":"@body('DELETE_token_from_customer')"}}}},"Get_Tokens":{"case":"gettok","actions":{"Set_ActionURL_to_Get_Tokens":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ActionURL","value":"/token/customer/"}},"GET_Tokens":{"runAfter":{"Set_ActionURL_to_Get_Tokens":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{variables('RedMapleServiceURL')}@{variables('ActionURL')}@{triggerBody()?['customerId']}","headers":{"X-API-KEY":"@variables('x-api-key')"}}},"Response_GET_Tokens":{"runAfter":{"GET_Tokens":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@outputs('GET_Tokens')['statusCode']","body":"@body('GET_Tokens')"}}}}},"default":{"actions":{}},"expression":"@triggerBody()?['action']","metadata":{"operationMetadataId":"f3e4e934-d91d-4178-adba-4f5bdf8f2b5b"},"type":"Switch"},"ActionURL":{"runAfter":{"RedMapleServiceURL":["Succeeded"]},"metadata":{"operationMetadataId":"b4c0258e-2c29-4dcb-a882-68e8f288f6b4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ActionURL","type":"string"}]}},"Get_Contact_Details":{"runAfter":{"Gets_all_RedMaple_Environment_Variables_and_sets_the_Variables":["Succeeded"]},"metadata":{"operationMetadataId":"4dc268ba-2e9f-4ead-91fe-bc6aa585ef6d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerBody()?['customerId']","$select":"contactid,firstname,lastname,emailaddress1,address1_telephone1"},"authentication":"@parameters('$authentication')"}},"If_billheader_in_body_of_request":{"actions":{},"runAfter":{"Get_Contact_Details":["Succeeded"]},"else":{"actions":{"Get_Bill_Statement_Amount":{"runAfter":{},"metadata":{"operationMetadataId":"19245351-9947-4b44-9b86-01eeb2e719db"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerBody()?['invoiceId']","$select":"cssp_billheaderid,cssp_amountdue"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerBody()?['invoiceId']",""]},"metadata":{"operationMetadataId":"3d3586b0-8d50-4996-a6ef-70afa4e38bf5"},"type":"If"},"Is_the_request_coming_from_the_Portal":{"actions":{},"runAfter":{},"else":{"actions":{"Response":{"runAfter":{},"metadata":{"operationMetadataId":"f76085f4-adfa-4abe-8d70-4c4cc93ed916"},"type":"Response","kind":"Http","inputs":{"statusCode":403,"body":{"Message":"Not Authorized"},"schema":{"type":"object","properties":{"message":{"type":"string"}}}}},"Terminate":{"runAfter":{"Response":["Succeeded"]},"metadata":{"operationMetadataId":"d093008c-b0e2-4c84-b83c-097c9f4dc3c8"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"403","message":"Origin not valid"}}}}},"expression":{"and":[{"contains":["@triggerOutputs()['headers']","origin"]},{"equals":["@triggerOutputs()['headers']['origin']","@parameters('Portal URL (cssp_portaluRL)')"]}]},"metadata":{"operationMetadataId":"a471c637-3bd9-408b-b8a0-e3fe774adac1"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}