ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/SendRegistrationNotificationCSSP-021C7998-8838-EC11-B6E6-000D3A994E43.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Guid Email User (cssp_GuidEmailUser)":{"defaultValue":"65686657-2C1F-EC11-B6E6-000D3A8EA31A","type":"String","metadata":{"schemaName":"cssp_GuidEmailUser"}}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"0d80fa80-13a4-413e-9e1a-db669d5dd322"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"adx_identity_username"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Add_a_new_row":{"runAfter":{},"metadata":{"operationMetadataId":"0e892923-6e27-4efc-8ed4-957020bfb20c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{triggerOutputs()?['body/contactid']})"},{"participationtypemask":1,"partyid@odata.bind":"/systemusers(@{parameters('Guid Email User (cssp_GuidEmailUser)')})"}],"item/description":"<p>Dear Customer,<br>\n<br>\nThank you for registering your Online Account!<br>\n<br>\nWith an Online Account, you can:<br>\n<br>\n- View your current and past invoices<br>\n- Check your current balance<br>\n- View historical billing and payments<br>\n- Update your password<br>\n<br>\n<br>\nThank you,<br>\nCustomer Care<br>\n<br>\n</p>\n\n<img src=\"https://th.bing.com/th/id/R.ee8b965dc94fc53257267081ef5cfe3e?rik=7hsvgYP02QxVTg&riu=http%3a%2f%2fwomenforhire.com%2fwp-content%2fuploads%2fServiceExpertsLogo.jpeg&ehk=DDlCd98f4DAQxOdETJhTjxlPPKMpsNi3iT5DpY7XXKY%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1\" width=\"170\" height=\"170\" />","item/subject":"Welcome to Service Experts Online Portal"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"Add_a_new_row":["Succeeded"]},"metadata":{"operationMetadataId":"845b8847-7b10-4f0d-9b6b-985500265961"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Add_a_new_row')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"not":{"equals":["@triggerOutputs()?['body/adx_identity_username']","@null"]}},{"not":{"equals":["@triggerOutputs()?['body/adx_identity_securitystamp']","@null"]}}]},"metadata":{"operationMetadataId":"a493748c-5ad3-40c2-884a-05edc69b59e9"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}