ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/ServiceLocation-OnsetprimarycopyaddresstoAccount-7BCFBFFF-6C52-EC11-8C62-0022482A246B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"c23e70fd-b5c2-4e58-a8a2-293cd81529b4"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cssp_servicelocation","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cssp_isprimary"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"5bdce55b-d8b9-43bb-99cf-6bfe2701736a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","$filter":"_cssp_account_value eq '@{triggerOutputs()?['body/_cssp_account_value']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Condition_2":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"fca165e5-bf00-4591-ace4-5b7f3746ab34"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@items('Apply_to_each')?['cssp_servicelocationid']","item/cssp_isprimary":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Apply_to_each')?['cssp_isprimary']",true]},{"not":{"equals":["@items('Apply_to_each')?['cssp_servicelocationid']","@triggerOutputs()?['body/cssp_servicelocationid']"]}}]},"metadata":{"operationMetadataId":"db4a45c8-4d7b-4364-92a8-dbf35b6467e8"},"type":"If"}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"ee15cc49-e6ce-44db-958a-59a6588057e0"},"type":"Foreach"},"Update_a_row_2":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"a3651dfc-4628-4647-9d2d-19bcf5304286"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_cssp_account_value']","item/sxp_ismailingaddresssameasinstallationaddress":false,"item/address2_city":"@triggerOutputs()?['body/cssp_deliveryaddresscity']","item/address2_country":"@triggerOutputs()?['body/cssp_deliveryaddresscountryregionid']","item/address2_stateorprovince":"@triggerOutputs()?['body/cssp_deliveryaddressstate']","item/address2_line1":"@triggerOutputs()?['body/cssp_deliveryaddressstreet']","item/address2_postalcode":"@triggerOutputs()?['body/cssp_deliveryaddresszipcode']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"1806b45c-a927-4a0a-9812-599d401af4cf"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_isprimary']",true]},"metadata":{"operationMetadataId":"cae908cd-6876-4e8a-a6fc-dae6323977b4"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}