ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/UpdateServiceLocationfromBillHeader-F0D5D449-7046-EC11-8C62-0022482A8738.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_bill_header_is_added_or_modified":{"metadata":{"operationMetadataId":"d5468e2f-6671-4581-a332-e238d00f083a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cssp_billheader","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cssp_ebillenrolled,cssp_paymmethod"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{"Initialize_cssp_paymentoptions":["Succeeded"]},"else":{"actions":{"billdeliverymethod_(paperless_or_paper)":{"actions":{"Set_cssp_billdeliverymethod_paperless":{"runAfter":{},"metadata":{"operationMetadataId":"3236205e-66a7-44f3-9ea8-dfce0b09971a"},"type":"SetVariable","inputs":{"name":"cssp_billdeliverymethod","value":685790000}}},"runAfter":{},"else":{"actions":{"Set_cssp_billdeliverymethod_paper":{"runAfter":{},"metadata":{"operationMetadataId":"27a0cdcc-6f10-4c6d-9fcf-f4b531f09b1e"},"type":"SetVariable","inputs":{"name":"cssp_billdeliverymethod","value":685790001}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_ebillenrolled']","B"]},"metadata":{"operationMetadataId":"218f3a8a-6106-40f3-ba08-379fe57fdfa8"},"type":"If"},"paymmethod_credit_card":{"actions":{"Set_cssp_paymentoptions_=_credit_card":{"runAfter":{},"metadata":{"operationMetadataId":"ee6ef477-0f5a-4c64-b4e8-34eb12aaea07"},"type":"SetVariable","inputs":{"name":"cssp_paymentoptions","value":685790000}}},"runAfter":{"billdeliverymethod_(paperless_or_paper)":["Succeeded"]},"else":{"actions":{"If_paymentmethod_is_ach":{"actions":{"Set_cssp_paymentoptions_=_ACH":{"runAfter":{},"metadata":{"operationMetadataId":"16b37a7a-2bcf-4ec4-a8d3-626ea05ed3f3"},"type":"SetVariable","inputs":{"name":"cssp_paymentoptions","value":685790002}}},"runAfter":{},"else":{"actions":{"Set_cssp_paymentoptions_=_manual":{"runAfter":{},"metadata":{"operationMetadataId":"1cc563bf-d97c-488d-a0e4-0c250e77e88a"},"type":"SetVariable","inputs":{"name":"cssp_paymentoptions","value":685790001}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_paymmethod']","Y"]},"metadata":{"operationMetadataId":"6212f862-6d85-43e9-a118-95abc810c1b1"},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_paymmethod']","C"]},"metadata":{"operationMetadataId":"0166d2dd-ec47-452f-9e6f-47f77a770aa6"},"type":"If"},"Update_a_row":{"runAfter":{"paymmethod_credit_card":["Succeeded"]},"metadata":{"operationMetadataId":"075a2f5a-f4c4-4e53-b697-94c06992a5bd"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_servicelocations","recordId":"@triggerOutputs()?['body/_cssp_location_value']","item/cssp_billdeliverymethod":"@variables('cssp_billdeliverymethod')","item/cssp_paymentoptions":"@variables('cssp_paymentoptions')","item/cssp_updatedfrombillstatement":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_updatedfromservicelocation']",true]},"metadata":{"operationMetadataId":"578e6a35-b3c1-415d-8f2e-67895ce231dd"},"type":"If"},"Initialize_cssp_billdeliverymethod":{"runAfter":{},"metadata":{"operationMetadataId":"87168d92-0f8c-4fd4-bcb8-eb3e04291a7f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cssp_billdeliverymethod","type":"integer"}]}},"Initialize_cssp_paymentoptions":{"runAfter":{"Initialize_cssp_billdeliverymethod":["Succeeded"]},"metadata":{"operationMetadataId":"6d2428a4-49a6-46c5-9c54-25a1f0e5b60e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cssp_paymentoptions","type":"integer"}]}}}}},"schemaVersion":"1.0.0.0"}