ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/UpdateBillHeaderFromServiceLocation-B65FA28A-6746-EC11-8C62-0022482A8738.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Service_Location_is_modified":{"metadata":{"operationMetadataId":"ac910703-c8b8-47b1-9c21-5ba6fe30e0b0"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cssp_servicelocation","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cssp_billdeliverymethod,cssp_paymentoptions,"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{"Initialize_cssp_paymmethod":["Succeeded"]},"else":{"actions":{"Get_Bill_Statements_sorted_by_created_on_Desc_Row_Count_1":{"runAfter":{},"metadata":{"operationMetadataId":"ff5382a8-b46d-42ae-8986-f306816cc6cf"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","$select":"cssp_billheaderid,cssp_ebillenrolled,cssp_ebillenrolled,cssp_mark3,cssp_billdeliverytiming,cssp_paymmethod","$orderby":"createdon desc","$top":1},"authentication":"@parameters('$authentication')"}},"if_ServiceLocation_Bill_Delivery_is_PaperLess":{"actions":{"Set_cssp_ebillenrolled_B":{"runAfter":{},"metadata":{"operationMetadataId":"fe432eb7-f003-491d-aed4-1b7677789c98"},"type":"SetVariable","inputs":{"name":"cssp_ebillenrolled","value":"B"}}},"runAfter":{"Get_Bill_Statements_sorted_by_created_on_Desc_Row_Count_1":["Succeeded"]},"else":{"actions":{"Set_cssp_ebillenrolled_N":{"runAfter":{},"metadata":{"operationMetadataId":"e8dc2ae2-f82b-4204-9149-6f220364dab8"},"type":"SetVariable","inputs":{"name":"cssp_ebillenrolled","value":"N"}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_billdeliverymethod']",685790000]},"metadata":{"operationMetadataId":"afe11bcb-fcee-47ae-b8b0-273db1d6a18f"},"type":"If"},"if_ServiceLocation_cssp_paymentoptions_is_autopayment":{"actions":{"Set_cssp_paymmethod_Credit_Card":{"runAfter":{},"metadata":{"operationMetadataId":"c7372f51-a0e0-4cc2-bf6b-0b362cc32ef4"},"type":"SetVariable","inputs":{"name":"cssp_paymmethod","value":"Credit Card"}}},"runAfter":{"if_ServiceLocation_Bill_Delivery_is_PaperLess":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{"Set_cssp_paymmethod_ACH":{"runAfter":{},"metadata":{"operationMetadataId":"cd8f1208-9a09-4bcf-8f4a-86459ee94c88"},"type":"SetVariable","inputs":{"name":"cssp_paymmethod","value":"ACH"}}},"runAfter":{},"else":{"actions":{"Set_cssp_paymmethod_Manual":{"runAfter":{},"metadata":{"operationMetadataId":"6bc07792-06cc-47a5-929c-d0ffbb0079bc"},"type":"SetVariable","inputs":{"name":"cssp_paymmethod","value":"Manual"}}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_paymentoptions']",685790002]},"metadata":{"operationMetadataId":"4fbe6dc8-16e8-4b00-b53b-633c4fe7ce09"},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_paymentoptions']",685790000]},"metadata":{"operationMetadataId":"159a1e0d-cd47-4581-8310-060b1dee3b07"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('Get_Bill_Statements_sorted_by_created_on_Desc_Row_Count_1')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"231cbb24-d4de-4d81-9c87-bab82a9453fb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@items('Apply_to_each')?['cssp_billheaderid']","item/cssp_ebillenrolled":"@variables('cssp_ebillenrolled')","item/cssp_paymmethod":"@variables('cssp_paymmethod')","item/cssp_updatedfromservicelocation":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"if_ServiceLocation_cssp_paymentoptions_is_autopayment":["Succeeded"]},"metadata":{"operationMetadataId":"f5b4b61f-2659-4262-8ee1-dd5255b218c0"},"type":"Foreach"}}},"expression":{"equals":["@triggerOutputs()?['body/cssp_updatedfrombillstatement']",true]},"metadata":{"operationMetadataId":"d622864a-861b-425d-85b4-666661b6f797"},"type":"If"},"cssp_ebillenrolled_initialized":{"runAfter":{},"metadata":{"operationMetadataId":"390fc07e-5f69-425c-a3b9-142b2feebd11"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cssp_ebillenrolled","type":"string"}]}},"Initialize_cssp_paymmethod":{"runAfter":{"cssp_ebillenrolled_initialized":["Succeeded"]},"metadata":{"operationMetadataId":"f2e3ad5a-d947-48a2-9ba7-3b19f7401a93"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cssp_paymmethod","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}