ener c/Power-platform-solutions/Solutions/CSSPProcess/Workflows/ValidationForAlltheBillLineandBillLineHistoriesPop-99C1884B-C363-EC11-8F8F-000D3A8DCEA4.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cssp_sharedcommondataserviceforapps_0add4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"ac11e13e-3dc2-4cf4-82dc-2524ec6343d9"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cssp_billheader","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Do_until_for_populating_all_the_related_records":{"actions":{"List_rows_bill_lines":{"runAfter":{},"metadata":{"operationMetadataId":"8f1b633c-e89b-41ce-9a04-e4202d6561a3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlines","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"List_rows_bill_histories":{"runAfter":{"List_rows_bill_lines":["Succeeded"]},"metadata":{"operationMetadataId":"cb8f4eab-1336-4c68-8143-04d4667971bc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billlinehistories","$filter":"_cssp_billheader_value eq '@{triggerOutputs()?['body/cssp_billheaderid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_for_bill_history":{"foreach":"@outputs('List_rows_bill_histories')?['body/value']","actions":{"Increment_variable":{"runAfter":{},"metadata":{"operationMetadataId":"bf94869c-db18-49af-9f28-69c68a8e3e84"},"type":"IncrementVariable","inputs":{"name":"variable2","value":"@items('Apply_to_each_for_bill_history')?['cssp_chargeamount']"}}},"runAfter":{"Set_bill_line_variable_to_zero":["Succeeded"]},"metadata":{"operationMetadataId":"30fe2db8-c93e-4ddf-90b2-5a85f2e14f8f"},"type":"Foreach"},"Apply_to_each_for_bill_line":{"foreach":"@outputs('List_rows_bill_lines')?['body/value']","actions":{"Increment_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"f3537193-2f36-443f-b5c6-147403ef00fd"},"type":"IncrementVariable","inputs":{"name":"variable3","value":"@items('Apply_to_each_for_bill_line')?['cssp_chargeamount']"}}},"runAfter":{"Apply_to_each_for_bill_history":["Succeeded"]},"metadata":{"operationMetadataId":"9b653e6c-af07-4f10-86fc-62cd75c330b3"},"type":"Foreach"},"Sum_of_variable_of_charge_amounts_of_BL_and_BLH":{"runAfter":{"Apply_to_each_for_bill_line":["Succeeded"]},"metadata":{"operationMetadataId":"0536aa3f-7927-46f9-9a51-64c267a56d0a"},"type":"SetVariable","inputs":{"name":"charge amounts","value":"@add(variables('variable2'),variables('variable3'))"}},"Condition":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"1bc96ff1-5c6d-4504-98ba-b46d00b0f96f"},"type":"SetVariable","inputs":{"name":"variable4","value":-1}}},"runAfter":{"Sum_of_variable_of_charge_amounts_of_BL_and_BLH":["Succeeded"]},"else":{"actions":{"Increment_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"ff787607-34aa-48bb-ac53-0f75306ee9d6"},"type":"IncrementVariable","inputs":{"name":"variable4","value":1}},"Delay":{"runAfter":{"Increment_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"1f15a155-ec54-4d34-b691-324c00c206c9"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}}}},"expression":{"equals":["@variables('charge amounts')","@triggerOutputs()?['body/cssp_amountdue']"]},"metadata":{"operationMetadataId":"13e7a6cc-6fb1-49a4-be66-50eb28338fe3"},"type":"If"},"Set_bill_history_variable_to_zero":{"runAfter":{"List_rows_bill_histories":["Succeeded"]},"metadata":{"operationMetadataId":"0f55ab65-5a4f-4a88-b208-e3bc599e76d5"},"type":"SetVariable","inputs":{"name":"variable2","value":0}},"Set_bill_line_variable_to_zero":{"runAfter":{"Set_bill_history_variable_to_zero":["Succeeded"]},"metadata":{"operationMetadataId":"8325b7e4-c252-4cb2-9571-5320e8a8986c"},"type":"SetVariable","inputs":{"name":"variable3","value":0}}},"runAfter":{"Initialize_variable_to_stop_the_loop":["Succeeded"]},"expression":"@equals(variables('variable4'), -1)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"357fdd22-3353-48cf-aeec-8328e48e4c29"},"type":"Until"},"Variable_to_store_the_charge_Amounts":{"runAfter":{},"metadata":{"operationMetadataId":"03e2d739-2819-4fb1-aefe-92cd19643557"},"type":"InitializeVariable","inputs":{"variables":[{"name":"charge amounts","type":"float"}]}},"variable_to_check_that_condition_is_met":{"runAfter":{"Variable_to_store_the_charge_Amounts":["Succeeded"]},"metadata":{"operationMetadataId":"02542eaa-1141-4c3a-abc3-102c5d739805"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable4","type":"integer","value":1}]}},"variable_for_sum_of_charge_amount_of_bill_history":{"runAfter":{"variable_to_check_that_condition_is_met":["Succeeded"]},"metadata":{"operationMetadataId":"09d48c4d-5f96-4f22-b49b-8dc1974f084d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable2","type":"float"}]}},"variable_for_sum_of_charge_amount_of_bill_line":{"runAfter":{"variable_for_sum_of_charge_amount_of_bill_history":["Succeeded"]},"metadata":{"operationMetadataId":"b966a8ce-a887-4630-9ba7-d5cb45b94295"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable3","type":"float"}]}},"Initialize_variable_to_stop_the_loop":{"runAfter":{"variable_for_sum_of_charge_amount_of_bill_line":["Succeeded"]},"metadata":{"operationMetadataId":"e170bddb-2759-4712-9e9d-5ad13cae1f25"},"type":"InitializeVariable","inputs":{"variables":[{"name":"variable5","type":"string","value":"start"}]}},"Condition_3":{"actions":{"Terminate_because_of_max_limit":{"runAfter":{},"metadata":{"operationMetadataId":"86fd7fe0-11fe-4a13-aaf6-24cec4f705c9"},"type":"Terminate","inputs":{"runStatus":"Failed"}}},"runAfter":{"Do_until_for_populating_all_the_related_records":["Succeeded"]},"else":{"actions":{"Apply_to_each_for_Buyout_Rentals_and_Sales_Tax":{"foreach":"@outputs('List_rows_bill_lines')?['body/value']","actions":{"condition_to_check_for_buyout_rentals":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"52ce8b63-af18-4c2b-adfa-78f8ebe1f85d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Buyout Rental"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Update_a_row":["Succeeded"]},"metadata":{"operationMetadataId":"8940fb73-3ad1-4268-831e-01e3663b6e76"},"type":"SetVariable","inputs":{"name":"variable5","value":"Buyout Rental"}}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Update_a_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"a38b7506-4811-4feb-9d2c-a93380ef34d7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Sales Tax"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Update_a_row_2":["Succeeded"]},"metadata":{"operationMetadataId":"74403487-46d7-4e83-bf13-c93bcf11a1cf"},"type":"SetVariable","inputs":{"name":"variable5","value":"Sales Tax"}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargedescription']","Sales Tax"]},{"greater":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"17d037a5-91a9-4860-89fa-a3b92c8e36d7"},"type":"If"}}},"expression":{"and":[{"equals":["@variables('variable5')","start"]},{"contains":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargedescription']","Buyout Rental"]},{"greater":["@items('Apply_to_each_for_Buyout_Rentals_and_Sales_Tax')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"39d07aec-4918-445a-beee-f376ecf99330"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"765c5204-a47c-4a09-9d31-05ebbc02926c"},"type":"Foreach"},"Condition_to_terminate_or_overdue_amount":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"86ac14de-929f-4642-a525-d917e5c788a7"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Apply_to_each_for_Buyout_Rentals_and_Sales_Tax":["Succeeded"]},"else":{"actions":{"Apply_to_each_of_Bill_Line_Histories":{"foreach":"@outputs('List_rows_bill_histories')?['body/value']","actions":{"Condition_4":{"actions":{"Update_a_row_3":{"runAfter":{},"metadata":{"operationMetadataId":"f498853c-5867-436f-ada8-41f75be746f0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cssp_billheaders","recordId":"@triggerOutputs()?['body/cssp_billheaderid']","item/cssp_billstatementcondition":"Overdue Amount"},"authentication":"@parameters('$authentication')"}},"Set_variable_4":{"runAfter":{"Update_a_row_3":["Succeeded"]},"metadata":{"operationMetadataId":"b0389c42-3d9c-4e08-b5fb-52f8e3bd1c41"},"type":"SetVariable","inputs":{"name":"variable5","value":"Overdue Amount"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@variables('variable5')","Overdue Amount"]}},{"contains":["@items('Apply_to_each_of_Bill_Line_Histories')?['cssp_chargedescription']","Balance forward/overdue amount"]},{"greater":["@items('Apply_to_each_of_Bill_Line_Histories')?['cssp_chargeamount']",0]}]},"metadata":{"operationMetadataId":"e14b12d7-eb0a-4fe6-b459-939a925fb5b6"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"1c388003-c259-4409-a84d-4d2d4a547b0b"},"type":"Foreach"}}},"expression":{"or":[{"equals":["@variables('variable5')","Buyout Rental"]},{"equals":["@variables('variable5')","Sales Tax"]}]},"metadata":{"operationMetadataId":"db26b8ac-554c-488b-aadd-b294142ca869"},"type":"If"}}},"expression":{"not":{"equals":["@variables('variable4')",-1]}},"metadata":{"operationMetadataId":"97d045ba-60f3-4102-95dd-4d74484c72a4"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}