ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/AdobeSignAgreementStatusUpdated-3783F831-6F54-EC11-8F8E-0022486DFDD7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_adobesign":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedadobesign_3834b"},"api":{"name":"shared_adobesign"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_the_state_of_an_agreement_changes":{"metadata":{"operationMetadataId":"5bd357e6-7c73-48be-8a28-8a2771db8978"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"CreateWebhookForAgreementStatusUpdated","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"WebhookCreationInfo/name":"Status Change","WebhookCreationInfo/scope":"Any of my agreements","WebhookCreationInfo/webhookSubscriptionEvents":["When a participant completes their action"],"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDetailedInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeParticipantsInfo":false,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDocumentsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeSignedDocuments":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"d0cc48c2-3dcb-47aa-a268-80b06e8678e2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Agreement ID","type":"array"}]}},"Set_variable":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3dd0aeea-b4c0-4354-ba10-015e2ca61a36"},"type":"SetVariable","inputs":{"name":"Agreement ID","value":"@array(split(triggerOutputs()?['body/agreement/externalId/id'],':'))"}},"Get_a_row_by_ID":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"ad3493b1-e311-45e0-8ace-4e2028bb2a49"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adobe_agreements","recordId":"@Last(variables('Agreement ID'))"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"52ac640b-5d8c-4a57-a18d-eea33c90c746"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_a_row_by_ID')?['body/_adobe_parentorderid_value']","item/sxp_agreementsignedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}