ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CalulateTaxforAgreementOrder-B76B747F-BA14-EC11-B6E7-000D3A09DCD8.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_7dd8c"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"da9d703b-a49b-4e61-ba7d-030cf835e0d9"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"requestBody":{"type":"object","properties":{"type":{"type":"string"},"customerCode":{"type":"string"},"amount":{"type":"string"},"region":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"itemCode":{"type":"string"}}},"salesOrderId":{"type":"string"}}},"method":"POST"}}},"actions":{"HTTP":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"92641898-5d8e-476e-8092-0fb0396a94a7"},"type":"Http","inputs":{"method":"POST","uri":"@variables('CalculateTaxUrl')","headers":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":"524994042d3c4f6491a261fcef715fdf","Ocp-Apim-Trace":true},"body":"@triggerBody()?['requestBody']"}},"Initialize_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"6b6a8386-7375-4df6-b8d0-10ed2933a4e3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SalesorderId","type":"string","value":"@triggerBody()?['salesorderid']"}]}},"Parse_JSON":{"runAfter":{"Error_Response":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"0ad66a87-9c01-40f4-8aa0-e0b870af04ef"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"TotalTax":{"type":"number"},"Percentage":{"type":"number"},"TotalAmount":{"type":"number"},"ErrorMessage":{"type":"string"}}}}},"Check_if_Error_message_contains_data":{"actions":{"Update_the_Order_Record":{"runAfter":{},"metadata":{"operationMetadataId":"353c23dc-79dd-4c3a-8637-3b7bc0c2476d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@variables('SalesorderId')","item/sxp_monthlytaxamount":"@body('Parse_JSON')?['TotalTax']","item/sxp_monthlytax":"@body('Parse_JSON')?['Percentage']"},"authentication":"@parameters('$authentication')"}},"Success_Response":{"runAfter":{"Update_the_Order_Record":["Succeeded"]},"metadata":{"operationMetadataId":"cb6b16c0-8b96-4f16-893c-1cd44bf8132a"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Message":"Monthly Tax has been calculated successfully and same has been updated on the record"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"expression":{"equals":["@empty(body('Parse_JSON')?['ErrorMessage'])",true]},"metadata":{"operationMetadataId":"3a7ca53e-9f7f-4364-99b2-5ba27cbda972"},"type":"If"},"List_rows":{"runAfter":{"CalculateTaxUrl":["Succeeded"]},"metadata":{"operationMetadataId":"b342e674-50f4-4d6e-9404-e51030e60d25"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","$filter":"sxp_name eq 'Order.CalculateTax.Url' or sxp_name eq 'Order.CalculateAdvantageTax.SubscriptionKey'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"Order.CalculateAdvantageTax.SubscriptionKey","actions":{"Set_SbscriptionKey":{"runAfter":{},"type":"SetVariable","inputs":{"name":"SubscriptionKey","value":"@items('Apply_to_each')?['sxp_value']"}}}},"Case_2":{"case":"Order.CalculateTax.Url","actions":{"Set_Calculate_Tax_Url":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CalculateTaxUrl","value":"@items('Apply_to_each')?['sxp_value']"}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each')?['sxp_name']","metadata":{"operationMetadataId":"8d02a1f4-306c-474d-be31-275d4a413eb1"},"type":"Switch"}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"549e88a4-9693-4df4-abb0-e9c32f8d92b5"},"type":"Foreach"},"SubsciptionKey":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"ea08fa9c-ba27-4da6-9df3-5eaad6e6e90a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SubscriptionKey","type":"string"}]}},"CalculateTaxUrl":{"runAfter":{"SubsciptionKey":["Succeeded"]},"metadata":{"operationMetadataId":"1186dec4-f96e-425b-9baa-0c5f7223f2e5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CalculateTaxUrl","type":"string"}]}},"Error_Response":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"41c4241a-2d68-4c13-a6d9-d75b9e1e2108"},"type":"Response","kind":"Http","inputs":{"statusCode":400,"body":{"Message":"@body('HTTP')['ErrorMessage']"}}},"Compose":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"a24e9053-ed35-4bb9-9b58-e18ba3c96063"},"type":"Compose","inputs":"@body('HTTP')"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}