ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CancelSalesOrder-765631F1-D41A-EC11-B6E7-000D3A09C974.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a4a09da1-06c6-4756-8a7b-9a20ab536e6a"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"orderId":{"type":"string"}}},"method":"POST"}}},"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"8dde58f1-5ecc-4624-ad69-61eb5ca91210"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerBody()?['orderId']","item/statuscode":275450004,"item/statecode":2},"authentication":"@parameters('$authentication')"}},"List_rows":{"runAfter":{"Update_a_row":["Succeeded"]},"metadata":{"operationMetadataId":"9f1657e5-f10e-41b5-8675-4bc9f07beb8c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","$filter":"_sxp_salesorder_value eq @{triggerBody()?['orderId']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Deactivate_the_Commissions_Related_to_Order":{"runAfter":{},"metadata":{"operationMetadataId":"e54f387d-9310-4f6b-9c3a-fc9a0db6cd92"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","recordId":"@items('Apply_to_each')?['sxp_commissionsid']","item/statecode":1,"item/statuscode":275450005},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"70b5b37c-2180-48b0-87ef-fa989214caa9"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}