ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CommissionValidationandCalculation-AA79316C-632A-EC11-B6E6-0022486DCCDD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_63e8b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a0713e05-07c7-4f4e-b81a-52be5ff7c25a"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"orderId":{"type":"string"}}}}}},"actions":{"Check_Order_ID":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"80ba3e30-cd31-4d35-8c4a-5574c85a7513"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Get_Associated_Order_Details":{"runAfter":{},"metadata":{"operationMetadataId":"c9f8b5f1-77f8-4c2c-acae-ded789851b54"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerBody()?['orderId']"},"authentication":"@parameters('$authentication')"}},"Get_User_related_to_Orders":{"runAfter":{"Get_Associated_Order_Details":["Succeeded"]},"metadata":{"operationMetadataId":"fd717167-82db-4068-900c-7006981d8bfe"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Associated_Order_Details')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_associated_Order_Product":{"runAfter":{"Get_User_related_to_Orders":["Succeeded"]},"metadata":{"operationMetadataId":"7436f3de-7cce-4fd6-8178-7531c058f456"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","$filter":"_salesorderid_value eq @{outputs('Get_Associated_Order_Details')?['body/salesorderid']} and isproductoverridden ne true"},"authentication":"@parameters('$authentication')"}},"Apply_to_related_order_Products":{"foreach":"@outputs('Get_associated_Order_Product')?['body/value']","actions":{"Get_Product_related_to_OrderProduct":{"runAfter":{},"metadata":{"operationMetadataId":"45c797ef-f225-42f5-9cf4-7d882ad56ab9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_related_order_Products')?['_productid_value']"},"authentication":"@parameters('$authentication')"}},"Check_Type_of_Agreement":{"actions":{"Condition_2":{"actions":{"Condition_4":{"actions":{"List_Commission_rate":{"runAfter":{},"metadata":{"operationMetadataId":"f529a011-2a57-49a0-ad27-acd96a6607c9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":" sxp_tiertypes eq  @{outputs('Get_Product_related_to_OrderProduct')?['body/sxp_producttiers']}  and sxp_commissiontypes eq 275450001","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_Commission_rate')?['body/value']","actions":{"Append_to_array_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"988fdd50-87d5-4cbe-b6a9-ce67ba020e67"},"type":"AppendToArrayVariable","inputs":{"name":"PercentRate","value":"@items('Apply_to_each_3')?['sxp_commissionpercentage']"}},"Increment_variable_4":{"runAfter":{"Set_temp_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"ac057c69-86b6-44fa-a6a6-4f150f1f1fe9"},"type":"IncrementVariable","inputs":{"name":"PercentRateAverage","value":"@variables('Temp')"}},"Set_temp_variable_3":{"runAfter":{"Append_to_array_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"6c7b63b7-35da-4ea6-a0d2-b6e51714f853"},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('Apply_to_each_3')?['sxp_commissionpercentage']"}}},"runAfter":{"List_Commission_rate":["Succeeded"]},"metadata":{"operationMetadataId":"88dfe2d5-82a4-40c7-8838-224f9de3f316"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"List_Commission_rate_2":{"runAfter":{},"metadata":{"operationMetadataId":"cc050406-a06f-4132-8ec9-157b7389ccba"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":" sxp_tiertypes eq  @{outputs('Get_Product_related_to_OrderProduct')?['body/sxp_producttiers']}  and sxp_commissiontypes eq 275450000","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Commission_rate_2')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"8271cc22-3ad8-4e54-a14b-a38a76f4e27b"},"type":"AppendToArrayVariable","inputs":{"name":"PercentRate","value":"@items('Apply_to_each')?['sxp_commissionpercentage']"}},"Increment_variable":{"runAfter":{"Set_temp_variable":["Succeeded"]},"metadata":{"operationMetadataId":"6ba0eea6-51b8-4f00-8441-21f24d2a5016"},"type":"IncrementVariable","inputs":{"name":"PercentRateAverage","value":"@variables('Temp')"}},"Set_temp_variable":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"metadata":{"operationMetadataId":"01988f57-5c6a-49f5-8fd2-0eb428e42ab2"},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('Apply_to_each')?['sxp_commissionpercentage']"}}},"runAfter":{"List_Commission_rate_2":["Succeeded"]},"metadata":{"operationMetadataId":"71a8c84c-d7fc-439f-a093-e0e1ca6f66bf"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Get_Associated_Order_Details')?['body/sxp_deferredrate']",275450001]},"metadata":{"operationMetadataId":"7053c0bb-8982-4c89-b692-9173c96c018e"},"type":"If"}},"runAfter":{},"else":{"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"69e5588c-5fb3-4ab0-bdc9-18f1051fa26d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":"_sxp_manufacturer_value  eq @{outputs('Get_Product_related_to_OrderProduct')?['body/_sxp_manufacturer_value']}  and  sxp_tiertypes eq  @{outputs('Get_Product_related_to_OrderProduct')?['body/sxp_producttiers']}  and sxp_commissiontypes eq 275450000","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Append_to_array_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"9f59242e-84c2-4b82-9c46-1416ad38d13a"},"type":"AppendToArrayVariable","inputs":{"name":"PercentRate","value":"@items('Apply_to_each_4')?['sxp_commissionpercentage']"}},"Increment_variable_2":{"runAfter":{"Set_temp_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"0a8a381c-08b6-4c7a-bfe2-cc37275a6931"},"type":"IncrementVariable","inputs":{"name":"PercentRateAverage","value":"@variables('Temp')"}},"Set_temp_variable_4":{"runAfter":{"Append_to_array_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"1e2b7eee-8476-4321-800f-eb71a502be03"},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('Apply_to_each_4')?['sxp_commissionpercentage']"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"737c570d-4486-43c1-bd24-333bbecae186"},"type":"Foreach"}}},"expression":{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/sxp_deferredrate']","@null"]}},"metadata":{"operationMetadataId":"84111989-ef9e-41b3-8d49-4d25a550b06f"},"type":"If"}},"runAfter":{"Get_Product_related_to_OrderProduct":["Succeeded"]},"else":{"actions":{"List_Commission_rate_3":{"runAfter":{},"metadata":{"operationMetadataId":"0ce7ad4e-6952-4af4-8c38-2d6f4c695a96"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":" sxp_tiertypes eq  @{outputs('Get_Product_related_to_OrderProduct')?['body/sxp_producttiers']}  and sxp_commissiontypes eq  275450002","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Commission_rate_3')?['body/value']","actions":{"Append_to_array_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"4050e160-a82f-4df7-87a2-6516b27ab1a0"},"type":"AppendToArrayVariable","inputs":{"name":"PercentRate","value":"@items('Apply_to_each_2')?['sxp_commissionpercentage']"}},"Increment_variable_3":{"runAfter":{"Set_temp_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"eea0f437-17f6-4d79-a6e1-9d27732b9ed6"},"type":"IncrementVariable","inputs":{"name":"PercentRateAverage","value":"@variables('Temp')"}},"Set_temp_variable_2":{"runAfter":{"Append_to_array_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"48c51183-f28d-4253-a117-e7f161cbb5d3"},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('Apply_to_each_2')?['sxp_commissionpercentage']"}}},"runAfter":{"List_Commission_rate_3":["Succeeded"]},"metadata":{"operationMetadataId":"0d50d335-3848-480b-aa00-4cb70047182a"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Get_Associated_Order_Details')?['body/sxp_typeofagreement']",275450000]},"metadata":{"operationMetadataId":"d266da0d-fe04-4691-8bcd-f464b4b7c74b"},"type":"If"}},"runAfter":{"Get_associated_Order_Product":["Succeeded"]},"metadata":{"operationMetadataId":"6c6b40e6-d08d-4e4a-b6df-c2d6aa14363e"},"type":"Foreach"},"Condition":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"6be05bfb-290b-46c4-a532-a7afcf583f62"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Apply_to_related_order_Products":["Succeeded"]},"else":{"actions":{"Format_number":{"runAfter":{},"metadata":{"operationMetadataId":"1a0e66dc-f5f3-4edc-a31c-a93a41a1f3b6"},"type":"Expression","kind":"FormatNumber","inputs":{"number":"@div(variables('PercentRateAverage'),length(variables('PercentRate')))","format":"#.00"}},"Calculate_Commission_Rate":{"runAfter":{"Format_number":["Succeeded"]},"metadata":{"operationMetadataId":"3bf71ca5-eadb-48f3-9709-86b1c1cedfce"},"type":"SetVariable","inputs":{"name":"CommissionRate","value":"@float(outputs('Format_number')?['body'])"}},"Set_Commission_Rate_as_percent":{"runAfter":{"Calculate_Commission_Rate":["Succeeded"]},"metadata":{"operationMetadataId":"131d7ba4-b94b-4ede-83ee-659afb0b9dea"},"type":"SetVariable","inputs":{"name":"CommissionRatePercent","value":"@div(variables('CommissionRate'), 100)"}},"Set_Total_Installed_Cost":{"runAfter":{"Set_Commission_Rate_as_percent":["Succeeded"]},"metadata":{"operationMetadataId":"56291b94-e34a-4bab-99cb-1007c94af3e9"},"type":"SetVariable","inputs":{"name":"TotalInstalledCost","value":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']"}}}},"expression":{"lessOrEquals":["@length(variables('PercentRate'))",0]},"metadata":{"operationMetadataId":"d525ba85-14e1-4a15-987a-5b1e3f051e1f"},"type":"If"},"Set_Commission_Amount_Final":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"6fcfc8da-f05a-4aaf-bd86-639ce6e5a030"},"type":"SetVariable","inputs":{"name":"CommissionAmountFinal","value":"@mul(variables('TotalInstalledCost'), variables('CommissionRatePercent'))"}},"Condition_6":{"actions":{"Condition_7":{"actions":{"Add_a_new_row":{"runAfter":{},"metadata":{"operationMetadataId":"0432fd30-b889-4858-9c19-feaf67c20ee9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@outputs('Get_Associated_Order_Details')?['body/name']","item/sxp_discountamount":"@outputs('Get_Associated_Order_Details')?['body/discountamount']","item/sxp_installdate":"@outputs('Get_Associated_Order_Details')?['body/sxp_actualinstalldate']","item/sxp_commissionamount":"@variables('CommissionAmountFinal')","item/sxp_commissiontier":"@variables('CommissionRate')","item/sxp_DiscountLookup@odata.bind":"/sxp_discounts/@{outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']}","item/sxp_discountreason":"@outputs('Get_Associated_Order_Details')?['body/sxp_discountreason']","item/sxp_installedcost":"@outputs('Get_Associated_Order_Details')?['body/totallineitemamount']","item/sxp_overdueadjustment":0,"item/ownerid@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_paycycle":"@outputs('Get_User_related_to_Orders')?['body/sxp_paycycle']","item/sxp_paymentrecieveddateadmin":"@outputs('Get_Associated_Order_Details')?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_salesagentstatus":"@outputs('Get_User_related_to_Orders')?['body/isdisabled']","item/sxp_SalesOrder@odata.bind":"/salesorders/@{outputs('Get_Associated_Order_Details')?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters(@{outputs('Get_Associated_Order_Details')?['body/_sxp_center_value']})","item/sxp_wagestype":"@outputs('Get_User_related_to_Orders')?['body/sxp_wagestype']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_8":{"actions":{"Add_a_new_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"10d735fb-727e-44a6-96bf-94214cb40096"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@outputs('Get_Associated_Order_Details')?['body/name']","item/sxp_discountamount":"@outputs('Get_Associated_Order_Details')?['body/discountamount']","item/sxp_installdate":"@outputs('Get_Associated_Order_Details')?['body/sxp_actualinstalldate']","item/sxp_commissionamount":"@variables('CommissionAmountFinal')","item/sxp_commissiontier":"@variables('CommissionRate')","item/sxp_discountreason":"@outputs('Get_Associated_Order_Details')?['body/sxp_discountreason']","item/sxp_discountpercentage":"@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","item/sxp_installedcost":"@outputs('Get_Associated_Order_Details')?['body/totallineitemamount']","item/sxp_overdueadjustment":0,"item/ownerid@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_paycycle":"@outputs('Get_User_related_to_Orders')?['body/sxp_paycycle']","item/sxp_paymentrecieveddateadmin":"@outputs('Get_Associated_Order_Details')?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_salesagentstatus":"@outputs('Get_User_related_to_Orders')?['body/isdisabled']","item/sxp_SalesOrder@odata.bind":"/salesorders/@{outputs('Get_Associated_Order_Details')?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters(@{outputs('Get_Associated_Order_Details')?['body/_sxp_center_value']})","item/sxp_wagestype":"@outputs('Get_User_related_to_Orders')?['body/sxp_wagestype']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_9":{"actions":{"Add_a_new_row_3":{"runAfter":{},"metadata":{"operationMetadataId":"c8e9dc3f-8d39-4fae-9f06-9e6e4ade7c3b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@outputs('Get_Associated_Order_Details')?['body/name']","item/sxp_discountamount":"@outputs('Get_Associated_Order_Details')?['body/discountamount']","item/sxp_installdate":"@outputs('Get_Associated_Order_Details')?['body/sxp_actualinstalldate']","item/sxp_commissionamount":"@variables('CommissionAmountFinal')","item/sxp_commissiontier":"@variables('CommissionRate')","item/sxp_discountreason":"@outputs('Get_Associated_Order_Details')?['body/sxp_discountreason']","item/sxp_installedcost":"@outputs('Get_Associated_Order_Details')?['body/totallineitemamount']","item/sxp_overdueadjustment":0,"item/ownerid@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_paycycle":"@outputs('Get_User_related_to_Orders')?['body/sxp_paycycle']","item/sxp_paymentrecieveddateadmin":"@outputs('Get_Associated_Order_Details')?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_salesagentstatus":"@outputs('Get_User_related_to_Orders')?['body/isdisabled']","item/sxp_SalesOrder@odata.bind":"/salesorders/@{outputs('Get_Associated_Order_Details')?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters(@{outputs('Get_Associated_Order_Details')?['body/_sxp_center_value']})","item/sxp_wagestype":"@outputs('Get_User_related_to_Orders')?['body/sxp_wagestype']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","@null"]},{"equals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","@null"]}]},"metadata":{"operationMetadataId":"f614cb70-4b46-4b66-8342-0c4595697f4d"},"type":"If"}}},"expression":{"and":[{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","@null"]},{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","@null"]}}]},"metadata":{"operationMetadataId":"2fa99c98-655e-4eae-8eef-ba47d1e5e0fa"},"type":"If"}}},"expression":{"and":[{"equals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","@null"]},{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","@null"]}}]},"metadata":{"operationMetadataId":"f6895716-9684-416f-8dae-99ac250d8511"},"type":"If"}},"runAfter":{"Set_Commission_Amount_Final":["Succeeded"]},"else":{"actions":{"Discount_Percent_Condition":{"actions":{"Set_variable_5":{"runAfter":{},"metadata":{"operationMetadataId":"e9ceec28-c3e8-4abc-8709-8d8f0aa12b28"},"type":"SetVariable","inputs":{"name":"Discount Range","value":"b"}}},"runAfter":{},"else":{"actions":{"Condition_3":{"actions":{"Set_variable_6":{"runAfter":{},"metadata":{"operationMetadataId":"28d19081-fa91-40b9-8343-a6e4ecc6d056"},"type":"SetVariable","inputs":{"name":"Discount Range","value":"c"}}},"runAfter":{},"else":{"actions":{"Condition_5":{"actions":{"Set_variable_7":{"runAfter":{},"metadata":{"operationMetadataId":"b725478d-8076-4924-8e65-739838cb1ae1"},"type":"SetVariable","inputs":{"name":"Discount Range","value":"d"}}},"runAfter":{},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"5dfb08b7-ca9a-4a37-ba3f-805bb4635ccf"},"type":"SetVariable","inputs":{"name":"Discount Range","value":"@{null}"}}}},"expression":{"and":[{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","99ec3d54-7c17-ec11-b6e7-000d3a09d4a7"]}},{"greaterOrEquals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']",15]}]},"metadata":{"operationMetadataId":"1c650fd2-b7f7-4ceb-9caa-cc7fbde4d8d3"},"type":"If"}}},"expression":{"and":[{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","99ec3d54-7c17-ec11-b6e7-000d3a09d4a7"]}},{"greaterOrEquals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']",10]},{"lessOrEquals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']",14.99]}]},"metadata":{"operationMetadataId":"48467db6-6382-4464-b337-0d8b6b4149fc"},"type":"If"}}},"expression":{"and":[{"not":{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","99ec3d54-7c17-ec11-b6e7-000d3a09d4a7"]}},{"greaterOrEquals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']",5]},{"lessOrEquals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']",9.99]}]},"metadata":{"operationMetadataId":"17e7e2d5-a48b-479c-9686-edae5a3c2e1b"},"type":"If"},"Switch_to_set_Discount_Range":{"runAfter":{"Discount_Percent_Condition":["Succeeded"]},"cases":{"Case_2":{"case":"b","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AdjustmentRange","value":275450000}}}},"Case_3":{"case":"c","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AdjustmentRange","value":275450001}}}},"Case_4":{"case":"d","actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AdjustmentRange","value":275450002}}}}},"default":{"actions":{"Set_variable_8":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AdjustmentRange","value":0}}}},"expression":"@variables('Discount Range')","metadata":{"operationMetadataId":"1e5ae61b-0b1d-4af3-b639-78b94915a399"},"type":"Switch"},"Adjustment_Reason_Null_Check":{"actions":{"Create_Commission_without_Adjustment_Reason":{"runAfter":{},"metadata":{"operationMetadataId":"1c662a18-91ce-42c0-bf45-249892b4c53c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@outputs('Get_Associated_Order_Details')?['body/name']","item/sxp_discountamount":"@outputs('Get_Associated_Order_Details')?['body/discountamount']","item/sxp_installdate":"@outputs('Get_Associated_Order_Details')?['body/sxp_actualinstalldate']","item/sxp_commissionamount":"@variables('CommissionAmountFinal')","item/sxp_commissiontier":"@variables('CommissionRate')","item/sxp_DiscountLookup@odata.bind":"/sxp_discounts/@{outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']}","item/sxp_discountreason":"@outputs('Get_Associated_Order_Details')?['body/sxp_discountreason']","item/sxp_discountpercentage":"@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","item/sxp_installedcost":"@outputs('Get_Associated_Order_Details')?['body/totallineitemamount']","item/sxp_overdueadjustment":0,"item/ownerid@odata.bind":"systemusers/@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']}","item/sxp_paycycle":"@outputs('Get_User_related_to_Orders')?['body/sxp_paycycle']","item/sxp_paymentrecieveddate":"@outputs('Get_Associated_Order_Details')?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_salesagentstatus":"@outputs('Get_User_related_to_Orders')?['body/isdisabled']","item/sxp_SalesOrder@odata.bind":"/salesorders/@{outputs('Get_Associated_Order_Details')?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters(@{outputs('Get_Associated_Order_Details')?['body/_sxp_center_value']})","item/sxp_wagestype":"@outputs('Get_User_related_to_Orders')?['body/sxp_wagestype']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch_to_set_Discount_Range":["Succeeded"]},"else":{"actions":{"Set_Adjustment_Reason_Value":{"runAfter":{},"metadata":{"operationMetadataId":"d0839b5e-3750-4b59-bcd3-30a9b002697c"},"type":"SetVariable","inputs":{"name":"ReasonAdjustment","value":"@variables('AdjustmentRange')"}},"Create_Commission":{"runAfter":{"Set_Adjustment_Reason_Value":["Succeeded"]},"metadata":{"operationMetadataId":"a445107c-c06f-475c-9ab6-018e8fb7225d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@outputs('Get_Associated_Order_Details')?['body/name']","item/sxp_discountamount":"@outputs('Get_Associated_Order_Details')?['body/discountamount']","item/sxp_installdate":"@outputs('Get_Associated_Order_Details')?['body/sxp_actualinstalldate']","item/sxp_adjustmentreason":"@variables('ReasonAdjustment')","item/sxp_commissionamount":"@variables('CommissionAmountFinal')","item/sxp_commissiontier":"@variables('CommissionRate')","item/sxp_DiscountLookup@odata.bind":"/sxp_discounts/@{outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']}","item/sxp_discountreason":"@outputs('Get_Associated_Order_Details')?['body/sxp_discountreason']","item/sxp_discountpercentage":"@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","item/sxp_installedcost":"@outputs('Get_Associated_Order_Details')?['body/totallineitemamount']","item/sxp_overdueadjustment":0,"item/ownerid@odata.bind":"systemusers/@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']}","item/sxp_paycycle":"@outputs('Get_User_related_to_Orders')?['body/sxp_paycycle']","item/sxp_paymentrecieveddate":"@outputs('Get_Associated_Order_Details')?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@outputs('Get_Associated_Order_Details')?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"systemusers(@{outputs('Get_Associated_Order_Details')?['body/_ownerid_value']})","item/sxp_SalesOrder@odata.bind":"/salesorders/@{outputs('Get_Associated_Order_Details')?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters(@{outputs('Get_Associated_Order_Details')?['body/_sxp_center_value']})","item/sxp_wagestype":"@outputs('Get_User_related_to_Orders')?['body/sxp_wagestype']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('AdjustmentRange')",0]},"metadata":{"operationMetadataId":"b400c22b-9544-4cb0-a93b-4a2fa87e0d7d"},"type":"If"}}},"expression":{"or":[{"equals":["@outputs('Get_Associated_Order_Details')?['body/discountpercentage']","@null"]},{"equals":["@outputs('Get_Associated_Order_Details')?['body/_sxp_discountlookup_value']","@null"]}]},"metadata":{"operationMetadataId":"b203678b-88f8-4172-a1c7-91514717c539"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['orderId']","@null"]},"metadata":{"operationMetadataId":"3f195093-d5cf-4166-9b66-487221327622"},"type":"If"},"Percent_Rate_Array":{"runAfter":{},"metadata":{"operationMetadataId":"1f6bca79-5fc2-487c-a2ef-2df74ec08fca"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PercentRate","type":"array"}]}},"Temp_Rate_Field":{"runAfter":{"Percent_Rate_Array":["Succeeded"]},"metadata":{"operationMetadataId":"14af6413-7356-4ded-916f-5dcfdd720454"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Temp","type":"float"}]}},"Percent_Rate_Sum":{"runAfter":{"Temp_Rate_Field":["Succeeded"]},"metadata":{"operationMetadataId":"6c97bc6c-0685-4926-bbce-0b2751b1351f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PercentRateAverage","type":"float","value":0}]}},"Commission_Rate":{"runAfter":{"Percent_Rate_Sum":["Succeeded"]},"metadata":{"operationMetadataId":"71c9271a-30e5-428e-8bfd-24893fd0b769"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CommissionRate","type":"float"}]}},"Commission_Rate_Percentage":{"runAfter":{"Commission_Rate":["Succeeded"]},"metadata":{"operationMetadataId":"7db8a769-5b8d-43e3-b4f3-4e045a35dd76"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CommissionRatePercent","type":"float"}]}},"_Total_Installed_Cost":{"runAfter":{"Commission_Rate_Percentage":["Succeeded"]},"metadata":{"operationMetadataId":"2d5b074c-85cd-4cbe-b221-f097cb0ade4d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TotalInstalledCost","type":"float"}]}},"Commission_Amount_Final":{"runAfter":{"_Total_Installed_Cost":["Succeeded"]},"metadata":{"operationMetadataId":"8d91f5d0-542d-44a6-a14a-ae97b3e15638"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CommissionAmountFinal","type":"float"}]}},"Discount_Range":{"runAfter":{"Commission_Amount_Final":["Succeeded"]},"metadata":{"operationMetadataId":"3c788878-9874-4fdf-b568-070b22864dea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Discount Range","type":"string"}]}},"AdjustmentReason":{"runAfter":{"Discount_Range":["Succeeded"]},"metadata":{"operationMetadataId":"56fab05a-b6dd-4bb6-9d8a-098986cf58e7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AdjustmentRange","type":"integer"}]}},"Adjustment_Reason_Temp":{"runAfter":{"AdjustmentReason":["Succeeded"]},"metadata":{"operationMetadataId":"1ee179d5-bd18-47af-9184-7bb4648885fb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReasonAdjustment","type":"integer"}]}},"Initialize_variable":{"runAfter":{"Adjustment_Reason_Temp":["Succeeded"]},"metadata":{"operationMetadataId":"a5cb9599-57de-4f68-87b7-e7107a27ee20"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TempCalculation","type":"float"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}