ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CommissionCalculation-D2CA360A-F03F-EC11-8C62-000D3A09FF93.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_63e8b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"975a9973-4ac3-442f-b4ae-b5db6d0a601a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_Commission_Header":{"actions":{"Add_Commission_Header":{"runAfter":{},"metadata":{"operationMetadataId":"df2fc39f-4bea-4aa7-80e0-55f626476c57"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","item/sxp_name":"@triggerOutputs()?['body/name']","item/sxp_discountamount":"@triggerOutputs()?['body/discountamount']","item/sxp_installdate":"@triggerOutputs()?['body/sxp_actualinstalldate']","item/sxp_commissionamount":"@variables('total commission amount')","item/sxp_DiscountLookup@odata.bind":"@variables('order discount')","item/sxp_discountreason":"@triggerOutputs()?['body/sxp_discountreason']","item/sxp_discountpercentage":"@triggerOutputs()?['body/discountpercentage']","item/sxp_installedcost":"@triggerOutputs()?['body/totallineitemamount']","item/ownerid@odata.bind":"/systemusers/@{triggerOutputs()?['body/_ownerid_value']}","item/sxp_paymentrecieveddate":"@triggerOutputs()?['body/sxp_paymentreceiveddate']","item/sxp_totalinstalledcost":"@triggerOutputs()?['body/sxp_totalinstalledcost']","item/sxp_SalesAgent@odata.bind":"/systemusers/@{triggerOutputs()?['body/_ownerid_value']}","item/sxp_SalesOrder@odata.bind":"/salesorders/@{triggerOutputs()?['body/salesorderid']}","item/sxp_servicecenter@odata.bind":"/sxp_servicecenters/@{triggerOutputs()?['body/_sxp_center_value']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Commissionable_Items_and_calculate_rates":["Succeeded"]},"metadata":{"operationMetadataId":"cefa9d5c-da57-4d17-bf05-270d099bf21f"},"type":"Scope"},"Get_Commissionable_Items_and_calculate_rates":{"actions":{"Get_Order_Products":{"runAfter":{},"metadata":{"operationMetadataId":"d58a758f-c420-4a9e-a977-26a87eed5807"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","$filter":"_salesorderid_value eq @{triggerOutputs()?['body/salesorderid']}"},"authentication":"@parameters('$authentication')"}},"For_Each_Order_Product_-_expect_multiple":{"foreach":"@outputs('Get_Order_Products')?['body/value']","actions":{"Get_Product":{"runAfter":{},"metadata":{"operationMetadataId":"96b22208-4c86-4c92-a294-584a659ebca1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('For_Each_Order_Product_-_expect_multiple')?['_productid_value']"},"authentication":"@parameters('$authentication')"}},"Get_commission_rates_record_for_Product":{"runAfter":{"If_Discount_causes_a_tier_decrease":["Succeeded"]},"metadata":{"operationMetadataId":"8559d311-a2e4-4bfc-b79f-a118d332073f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":"_sxp_manufacturer_value eq @{items('For_Each_Order_Product_-_expect_multiple')?['_sxp_manufacturer_value']} and sxp_commissiontypes eq @{variables('Commission Type')} and sxp_tiertypes eq @{variables('Adjusted Commission Tier')}"},"authentication":"@parameters('$authentication')"}},"If_Discount_causes_a_tier_decrease":{"actions":{"Adjusted_Commission_Tier_=_Product_Tier_-1":{"runAfter":{},"metadata":{"operationMetadataId":"a8d9337b-ed74-40b6-967f-2b10760e9e82"},"type":"SetVariable","inputs":{"name":"Adjusted Commission Tier","value":"@{outputs('Get_Product')?['body/sxp_producttiers']}"}}},"runAfter":{"Get_Product":["Succeeded"]},"else":{"actions":{"Adjusted_Commission_Tier_=_Product_Tier":{"runAfter":{},"metadata":{"operationMetadataId":"afe111cd-abb6-469c-85b5-22fa5fb1779b"},"type":"SetVariable","inputs":{"name":"Adjusted Commission Tier","value":"@{outputs('Get_Product')?['body/sxp_producttiers']}"}}}},"expression":{"greater":["@variables('Discount Percent')",15]},"metadata":{"operationMetadataId":"5a4ed2ab-44fc-474e-beb0-3df119c994a3"},"type":"If"},"Get_Profit_Center_record_for_the_Product_and_Order":{"runAfter":{"For_each_commission_record_-_expect_1":["Succeeded"]},"metadata":{"operationMetadataId":"93382eb9-c0f5-4ad5-bb54-80b535506c29"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_profitcenters","$filter":"sxp_servicetype eq @{items('For_Each_Order_Product_-_expect_multiple')?['sxp_service']} and sxp_agreementtypechoice eq @{triggerOutputs()?['body/sxp_typeofagreement']}"},"authentication":"@parameters('$authentication')"}},"For_Each_Profit_Center_-_Expect_1":{"foreach":"@outputs('Get_Profit_Center_record_for_the_Product_and_Order')?['body/value']","actions":{"Profit_Center_Values":{"runAfter":{},"metadata":{"operationMetadataId":"b9ac901c-8168-472f-b01f-325ae2dcac59"},"type":"Compose","inputs":{"profitCenter":"@{items('For_Each_Profit_Center_-_Expect_1')?['sxp_profitcenterid']}","department":"@{items('For_Each_Profit_Center_-_Expect_1')?['sxp_departmentnumber']}"}},"Set_profit_center_record":{"runAfter":{"Profit_Center_Values":["Succeeded"]},"metadata":{"operationMetadataId":"36da605c-db09-4db9-a6f8-93e4d9091a83"},"type":"SetVariable","inputs":{"name":"profit center record","value":"@outputs('Profit_Center_Values')"}}},"runAfter":{"Get_Profit_Center_record_for_the_Product_and_Order":["Succeeded"]},"metadata":{"operationMetadataId":"0b296440-bfea-4b96-a484-725851406331"},"type":"Foreach"},"For_each_commission_record_-_expect_1":{"foreach":"@outputs('Get_commission_rates_record_for_Product')?['body/value']","actions":{"Commission_Rate_Values":{"runAfter":{},"metadata":{"operationMetadataId":"a44643d0-ec5c-4d05-9fe7-f4966fd1458e"},"type":"Compose","inputs":{"commissionAmount":"@div(mul(items('For_each_commission_record_-_expect_1')?['sxp_commissionpercentage'],items('For_each_Order_Product_-_expect_multiple')['extendedamount']),100)","commissionPercent":"@items('For_each_commission_record_-_expect_1')?['sxp_commissionpercentage']","productType":"@items('For_each_commission_record_-_expect_1')?['sxp_producttype']","tierType":"@items('For_Each_Order_Product_-_expect_multiple')?['sxp_producttiers']"}},"Set_commissions_rate_record":{"runAfter":{"Commission_Rate_Values":["Succeeded"]},"metadata":{"operationMetadataId":"44c293bb-fdeb-4255-a5e3-8f6055270443"},"type":"SetVariable","inputs":{"name":"commission rates record","value":"@outputs('Commission_Rate_Values')"}}},"runAfter":{"Get_commission_rates_record_for_Product":["Succeeded"]},"metadata":{"operationMetadataId":"26f52374-7fb8-4949-b1b7-352fb2289c94"},"type":"Foreach"}},"runAfter":{"Get_Order_Products":["Succeeded"]},"metadata":{"operationMetadataId":"e0ea04c7-2e1c-4a9e-9ceb-20506ceeaa71"},"type":"Foreach"},"Compose_commissions_line":{"runAfter":{"Parse_profit_center_record":["Succeeded"]},"metadata":{"operationMetadataId":"b4e98933-a1c0-4654-ae5d-09ae0f545aaa"},"type":"Compose","inputs":{"commissionAmount":"@body('Parse_commissions_rate_record')?['commissionAmount']","commissionPercent":"@body('Parse_commissions_rate_record')?['commissionPercent']","productType":"@body('Parse_commissions_rate_record')?['productType']","tierType":"@body('Parse_commissions_rate_record')?['tierType']","adjustedTierType":"@body('Parse_commissions_rate_record')?['tierType']","profitCenter":"@{body('Parse_profit_center_record')?['profitCenter']}","department":"@{body('Parse_profit_center_record')?['department']}"}},"Add_Commission_Line_to_Commission_Lines_Array":{"runAfter":{"Increment_commission_amount":["Succeeded"]},"metadata":{"operationMetadataId":"c09c15bf-acb4-44ea-a882-102bc06801c2"},"type":"AppendToArrayVariable","inputs":{"name":"Commission Lines","value":"@outputs('Compose_commissions_line')"}},"Parse_commissions_rate_record":{"runAfter":{"For_Each_Order_Product_-_expect_multiple":["Succeeded"]},"metadata":{"operationMetadataId":"09b141f1-febf-4ff5-8cb4-0171469e57cf"},"type":"ParseJson","inputs":{"content":"@variables('commission rates record')","schema":{"type":"object","properties":{"commissionAmount":{"type":"number"},"commissionPercent":{"type":"number"},"productType":{"type":"integer"},"tierType":{"type":"integer"}}}}},"Parse_profit_center_record":{"runAfter":{"Parse_commissions_rate_record":["Succeeded"]},"metadata":{"operationMetadataId":"3896d4ef-d178-4db5-8d31-83bac972d7f0"},"type":"ParseJson","inputs":{"content":"@variables('profit center record')","schema":{"type":"object","properties":{"profitCenter":{"type":"string"},"department":{"type":"string"}}}}},"Increment_commission_amount":{"runAfter":{"Compose_commissions_line":["Succeeded"]},"metadata":{"operationMetadataId":"b9f04335-c279-4914-9c5c-fb27e79a7ff1"},"type":"IncrementVariable","inputs":{"name":"total commission amount","value":"@body('Parse_commissions_rate_record')?['commissionAmount']"}}},"runAfter":{"Set_Commission_Record_Lookup_Values_from_Order":["Succeeded"]},"metadata":{"operationMetadataId":"ee4c2e7f-807c-408d-b82a-48754bd32a9b"},"type":"Scope"},"Set_Commission_Record_Lookup_Values_from_Order":{"actions":{"Check_if_Advantage":{"actions":{"Check_if_Deferred":{"actions":{"Commission_Type_=_Advantage_Plus":{"runAfter":{},"metadata":{"operationMetadataId":"505c7b95-13c8-4cc4-868f-ae916cabb497"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450001"}}},"runAfter":{},"else":{"actions":{"Commission_Type_=_Advantage":{"runAfter":{},"metadata":{"operationMetadataId":"eba5f7da-0504-4b3d-96b1-0dfc87245fbd"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450000"}}}},"expression":{"equals":["",""]},"metadata":{"operationMetadataId":"959dc2b9-fdf0-4ab8-9546-1dba55f41425"},"type":"If"}},"runAfter":{},"else":{"actions":{"Commission_Type_=_Non-_Advantage":{"runAfter":{},"metadata":{"operationMetadataId":"6de2d73c-4562-4cd6-8ac6-e71fd6556d18"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450002"}}}},"expression":{"equals":["",""]},"metadata":{"operationMetadataId":"03f1b525-5da4-4ed9-a32f-491a7b37effd"},"type":"If"},"Check_if_Discounted":{"actions":{"Discount_Amount_=_Order_Discount_Percent":{"runAfter":{},"metadata":{"operationMetadataId":"44df0cdb-db0a-44df-99ff-e1d44a0b62ff"},"type":"SetVariable","inputs":{"name":"Discount Percent","value":"@triggerOutputs()?['body/discountpercentage']"}}},"runAfter":{"Check_if_Advantage":["Succeeded"]},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"1535796a-1a98-45b2-a960-d15fce751c1a"},"type":"SetVariable","inputs":{"name":"Discount Percent","value":0}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/sxp_promotiondiscountpercent']","@null"]}},"metadata":{"operationMetadataId":"86fe76d3-472f-4707-ab5c-75941ed285b1"},"type":"If"},"Check_if_Discount_assigned":{"actions":{"Order_Discount_=_discount_from_order":{"runAfter":{},"metadata":{"operationMetadataId":"08f378d3-4f5f-40c6-8b66-a4bf513d7958"},"type":"SetVariable","inputs":{"name":"order discount","value":"/sxp_discounts/@{triggerOutputs()?['body/_sxp_discountlookup_value']}"}}},"runAfter":{"Check_if_Discounted":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/_sxp_discountlookup_value']","@null"]}},"metadata":{"operationMetadataId":"ad769c28-f19e-4482-afc6-f2e7467aabfe"},"type":"If"}},"runAfter":{"Init_total_commission_percent":["Succeeded"]},"metadata":{"operationMetadataId":"c2cbfe6b-48f7-4c1e-a373-f5218f2f1393"},"type":"Scope"},"Init_Commission_Type":{"runAfter":{"Terminate_if_commission_already_exists":["Succeeded"]},"metadata":{"operationMetadataId":"ccd23fbc-665a-4d5e-a6ab-6f9e622f3863"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Type","type":"string"}]}},"Init_Discount_Percent":{"runAfter":{"Init_Commission_Type":["Succeeded"]},"metadata":{"operationMetadataId":"9a270973-cf17-428c-ac9d-bf3f4b717a4c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Discount Percent","type":"float"}]}},"Init_Commission_Lines":{"runAfter":{"Init_Discount_Percent":["Succeeded"]},"metadata":{"operationMetadataId":"9d56fb1d-9102-41f6-a6cd-93a286870c5b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Lines","type":"array"}]}},"Init_Adjusted_Commission_Tier":{"runAfter":{"Init_Commission_Lines":["Succeeded"]},"metadata":{"operationMetadataId":"c7475b56-ab7c-4df7-bdd7-eff24a139033"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Adjusted Commission Tier","type":"string"}]}},"Create_Commission_Lines":{"actions":{"Apply_to_each":{"foreach":"@variables('Commission Lines')","actions":{"Parsed_Line":{"runAfter":{},"metadata":{"operationMetadataId":"387f87bd-bf42-4b6a-8f7e-b098436d0892"},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each')","schema":{"type":"object","properties":{"commissionAmount":{"type":"number"},"commissionPercent":{"type":"number"},"productType":{"type":"integer"},"tierType":{"type":"integer"},"adjustedTierType":{"type":"integer"},"profitCenter":{"type":"string"},"department":{"type":"string"}}}}},"Add_Commission_Line":{"runAfter":{"Parsed_Line":["Succeeded"]},"metadata":{"operationMetadataId":"4e70c377-fbd1-4b0e-bcba-0339593b3d5d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionlines","item/sxp_amount":"@body('Parsed_Line')?['commissionAmount']","item/sxp_Commission@odata.bind":"/sxp_commissionses/@{outputs('Add_Commission_Header')?['body/sxp_commissionsid']}","item/sxp_ProfitCenter@odata.bind":"/sxp_profitcenters/@{body('Parsed_Line')?['profitCenter']}","item/sxp_service":"@body('Parsed_Line')?['productType']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"15669ca9-2482-4147-809f-7637ceaff885"},"type":"Foreach"}},"runAfter":{"Create_Commission_Header":["Succeeded"]},"metadata":{"operationMetadataId":"e896bfce-c51f-4253-9a9c-15152ad1fd36"},"type":"Scope"},"Terminate_if_commission_already_exists":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"17f7da9c-2043-4efd-853d-3a3f01a53ccc"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_Existing_Commissions_for_Order":["Succeeded"]},"expression":{"greater":["@length(outputs('Get_Existing_Commissions_for_Order')?['body/value'])",0]},"metadata":{"operationMetadataId":"e4451757-fd34-4c13-9f3c-c4de52d007c6"},"type":"If"},"Get_Existing_Commissions_for_Order":{"runAfter":{},"metadata":{"operationMetadataId":"3776d1fd-61a5-4750-b5e9-e3e61b61801a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","$filter":"_sxp_salesorder_value eq @{triggerOutputs()?['body/salesorderid']}"},"authentication":"@parameters('$authentication')"}},"Init_Order_Discount":{"runAfter":{"Init_Adjusted_Commission_Tier":["Succeeded"]},"metadata":{"operationMetadataId":"23fdca81-6437-46cd-a3c3-513dfce1acef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"order discount","type":"string"}]}},"Init_commissions_rate_record":{"runAfter":{"Init_Order_Discount":["Succeeded"]},"metadata":{"operationMetadataId":"fb7497ed-8e9b-4813-aa65-4c9f212ee65c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"commission rates record","type":"object"}]}},"Init_profit_center_record":{"runAfter":{"Init_commissions_rate_record":["Succeeded"]},"metadata":{"operationMetadataId":"13a23287-aaf7-45e7-99bd-e8487f338119"},"type":"InitializeVariable","inputs":{"variables":[{"name":"profit center record","type":"object"}]}},"Init_total_commission_amount":{"runAfter":{"Init_profit_center_record":["Succeeded"]},"metadata":{"operationMetadataId":"4baeb6e3-a7ef-465d-aaa2-9f42c69be487"},"type":"InitializeVariable","inputs":{"variables":[{"name":"total commission amount","type":"float"}]}},"Init_total_commission_percent":{"runAfter":{"Init_total_commission_amount":["Succeeded"]},"metadata":{"operationMetadataId":"9dcb1def-07fa-436e-9804-06d8005733ab"},"type":"InitializeVariable","inputs":{"variables":[{"name":"total commission percent","type":"float"}]}}}}},"schemaVersion":"1.0.0.0"}