ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CommissionEmailNotification-A2931F2E-152D-EC11-B6E6-0022486D7047.json
{"properties":{"connectionReferences":{"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedsharepointonline_8dd79"},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedoffice365_128be"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_every_Friday":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"Eastern Standard Time","startTime":"2021-10-13T18:30:00Z","schedule":{"weekDays":["Friday"],"hours":["8"]}},"metadata":{"operationMetadataId":"a0fee5a9-69e9-444f-b11c-5d162772268f"},"type":"Recurrence"}},"actions":{"Initialize_variable":{"runAfter":{"Get_file_content_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"c4f8b2ea-509e-40ec-b063-0334ebecfba4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Image1","type":"string","value":"<img src=\"data:image/jpeg;base64,@{outputs('Get_file_content_using_path')?['body'].$content}\" alt=\"My Image\" />"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"acf3b04f-29b6-4c11-bb89-f70a36199032"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Image2","type":"string","value":"<img src=\"data:image/jpeg;base64,@{outputs('Get_file_content_using_path_2')?['body'].$content}\" alt=\"My Image\" />"}]}},"Compose":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"21ab94be-47e6-4f49-8a9d-745ea9af0101"},"type":"Compose","inputs":"base64(outputs('Get_file_content_using_path')?['body'])"},"Compose_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"f7eaba1d-9d16-49c0-9645-1481fd16f9ec"},"type":"Compose","inputs":"Base64(outputs('Get_file_content_using_path_2')?['body'])"},"Minus_7":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"1128612c-b9a0-4903-a6df-2b9f7dc27968"},"type":"Compose","inputs":"@formatDateTime(addDays(startofday(utcNow()),-8),'yyyy-MM-dd')"},"Minus_14":{"runAfter":{"Minus_7":["Succeeded"]},"metadata":{"operationMetadataId":"152c2aaf-5abb-4580-b784-0164306b7cc0"},"type":"Compose","inputs":"@formatDateTime(addDays(startofday(utcNow()),-14),'yyyy-MM-dd')"},"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"655530ba-758e-456f-935c-d0dab23d5d10"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","path":"/Documents/EmailNotificationFooter1.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path_2":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"bccb6956-cedc-492f-92da-5404979b6277"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","path":"/Documents/EmailNotificationFooter2.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_Service_Centers":{"runAfter":{"Link_Url":["Succeeded"]},"metadata":{"operationMetadataId":"d0d92146-14bb-4088-a2ac-52526bd99d95"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_servicecenters","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"sxp_servicecenter\">\n    <attribute name=\"sxp_servicecenterid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"sxp_primaryservicecenterteam\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"sxp_commissions\" from=\"sxp_servicecenter\" to=\"sxp_servicecenterid\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_7')}' />\n        <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-after\" value='@{outputs('Minus_14')}' />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Service_Centers')?['body/value']","actions":{"Get_Users":{"runAfter":{},"metadata":{"operationMetadataId":"d7aecfe0-de52-4860-bd45-ff68e4e4e5d6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"systemuser\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"businessunitid\" />\n    <attribute name=\"title\" />\n    <attribute name=\"address1_telephone1\" />\n    <attribute name=\"positionid\" />\n    <attribute name=\"systemuserid\" />\n    <attribute name=\"internalemailaddress\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ab\">\n        <filter type=\"and\">\n          <condition attribute=\"teamid\" operator=\"eq\"  uitype=\"team\" value='@{items('Apply_to_each')?['_sxp_primaryservicecenterteam_value']}' />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_Email_List":{"foreach":"@outputs('Get_Users')?['body/value']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"9bb2074e-4740-4d55-800c-e559b9923e5f"},"type":"AppendToStringVariable","inputs":{"name":"Email List","value":"@{items('Get_Email_List')?['internalemailaddress']};"}}},"runAfter":{"Get_Users":["Succeeded"]},"metadata":{"operationMetadataId":"02aa09b0-27a8-4c61-8aec-5008d3f0f3dc"},"type":"Foreach"},"Get_Commissions":{"runAfter":{"Get_Email_List":["Succeeded"]},"metadata":{"operationMetadataId":"8a718a08-ff37-40c3-923a-e44b273c9a89"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_commissions\">\n    <attribute name=\"sxp_commissionsid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"createdon\" />\n<attribute name=\"sxp_primaryapprovalassigndate\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_7')}' />\n      <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-after\" value='@{outputs('Minus_14')}'/>\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"sxp_servicecenter\" operator=\"eq\" value='@{items('Apply_to_each')?['sxp_servicecenterid']}' />\n    </filter>\n<link-entity name=\"sxp_servicecenter\" from=\"sxp_servicecenterid\" to=\"sxp_servicecenter\" visible=\"false\" link-type=\"outer\" alias=\"sc\">\n      <attribute name=\"sxp_centername\" />\n    </link-entity>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"sxp_salesorder\" visible=\"false\" link-type=\"outer\" alias=\"so\">\n      <attribute name=\"ordernumber\" />\n    </link-entity>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"sxp_salesagent\" visible=\"false\" link-type=\"outer\" alias=\"su\">\n      <attribute name=\"fullname\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"Get_Commissions":["Succeeded"]},"metadata":{"operationMetadataId":"9700f185-e840-4719-9619-a88a6d509476"},"type":"ParseJson","inputs":{"content":"@outputs('Get_Commissions')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"sxp_commissionsid@odata.type":{"type":"string"},"sxp_commissionsid":{"type":"string"},"sxp_name":{"type":"string"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_primaryapprovalassigndate@odata.type":{"type":"string"},"sxp_primaryapprovalassigndate":{"type":"string"},"sc.sxp_centername@OData.Community.Display.V1.AttributeName":{"type":"string"},"sc.sxp_centername":{"type":"string"},"so.ordernumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"so.ordernumber":{"type":"string"},"su.fullname@OData.Community.Display.V1.AttributeName":{"type":"string"},"su.fullname":{"type":"string"}},"required":["@@odata.type","@@odata.id","@@odata.etag","@@odata.editLink","sxp_commissionsid@odata.type","sxp_commissionsid","sxp_name","createdon@OData.Community.Display.V1.FormattedValue","createdon@odata.type","createdon","sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue","sxp_primaryapprovalassigndate@odata.type","sxp_primaryapprovalassigndate","sc.sxp_centername@OData.Community.Display.V1.AttributeName","sc.sxp_centername","so.ordernumber@OData.Community.Display.V1.AttributeName","so.ordernumber","su.fullname@OData.Community.Display.V1.AttributeName","su.fullname"]}}}},"Select_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"fd336ab8-2930-4968-affa-bd5e7c708bec"},"type":"Select","inputs":{"from":"@body('Parse_JSON')","select":{"Sales Order No.":"@if(equals(item()?\r\n['so.ordernumber'],null),'',item()?['so.ordernumber'])","Commission":"@concat('<a href=\"',outputs('Link_Url'),item()?['sxp_commissionsid'], '\">',if(equals(item()?['so.ordernumber'],null),'',item()?['so.ordernumber']) , '</a>')","Employee Name":"@if(equals(item()?\r\n['su.fullname'],null),'',item()?['su.fullname'])","Center Name":"@if(equals(item()?\r\n['sc.sxp_centername'],null),'',item()?['sc.sxp_centername'])","Requested Date":"@if(equals(item()?\r\n['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'],null),'',item()?['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'])","Number Of Days":"@div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd')),ticks(formatDateTime(item()?['sxp_primaryapprovalassigndate'],'yyy-MM-dd'))),864000000000)"}}},"Create_HTML_table":{"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"4893dc66-bebb-4386-9ba2-3e677ab5f19a"},"type":"Table","inputs":{"from":"@body('Select_2')","format":"HTML"}},"Send_an_email_(V2)":{"runAfter":{"Compose_5":["Succeeded"]},"metadata":{"operationMetadataId":"b47d28c2-5f35-4d45-aa71-bc1e52fdad8f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('Email List')","emailMessage/Subject":"Commission approval reminder over 7 days outstanding","emailMessage/Body":"<p>Dear All,<br>\n<br>\nThe following commission requests have been outstanding and require immediate attention. Details of requests are as below. &nbsp;<br>\n<br>\nRequest details:<br>\n&nbsp;@{outputs('CSS_Styling_Table')} @{outputs('Compose_5')}<br>\n<br>\nNote: This is a system-generated e-mail. Please do not reply to it. &nbsp;<br>\n<br>\n@{variables('Image1')}<br>\n<a href=\"http://serviceexperts.com\">serviceexperts.com</a><br>\n@{variables('Image2')}</p>"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"27ef4767-cfc9-44c0-8bf7-45bc24c05799"},"type":"SetVariable","inputs":{"name":"Email List","value":"@{null}"}},"Compose_5":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"45da9ec3-f76f-4ddf-b537-1afb4200c7e3"},"type":"Compose","inputs":"@replace(replace(replace(body('Create_HTML_table'),'&lt;','<'),'&gt;','>'),'&quot;','\"')"}},"runAfter":{"Initialize_Email_List":["Succeeded"]},"metadata":{"operationMetadataId":"fd58ee04-698e-4aac-882a-c9c67ed5be73"},"type":"Foreach"},"Initialize_Email_List":{"runAfter":{"Get_Service_Centers":["Succeeded"]},"metadata":{"operationMetadataId":"68859970-a1c4-4329-87c1-c1ba2d2921d4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email List","type":"string"}]}},"Get_Service_Centers_2":{"runAfter":{"Link_Url":["Succeeded"]},"metadata":{"operationMetadataId":"a0766f3d-6bb8-4a2b-9306-1a2da694dce5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_servicecenters","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"sxp_servicecenter\">\n    <attribute name=\"sxp_servicecenterid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"sxp_primaryservicecenterteam\" />\n    <attribute name=\"createdon\" />\n    <attribute name=\"sxp_overridethreeservicecenterteam\" />\n    <attribute name=\"sxp_overridetwoservicecenterteam\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"sxp_commissions\" from=\"sxp_servicecenter\" to=\"sxp_servicecenterid\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_15')}' />\n        <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-after\" value='@{outputs('Minus_30')}' />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_Service_Centers_3":{"runAfter":{"Link_Url":["Succeeded"]},"metadata":{"operationMetadataId":"1434b891-13ad-4179-848b-69d27a3b079c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_servicecenters","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"sxp_servicecenter\">\n    <attribute name=\"sxp_servicecenterid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"sxp_primaryservicecenterteam\" />\n    <attribute name=\"createdon\" />\n     <attribute name=\"sxp_overridethreeservicecenterteam\" />\n    <attribute name=\"sxp_overridetwoservicecenterteam\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"sxp_commissions\" from=\"sxp_servicecenter\" to=\"sxp_servicecenterid\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n        <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_31')}' />\n              </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_Url":{"runAfter":{"Minus_31":["Succeeded"]},"metadata":{"operationMetadataId":"37a40c3e-caac-4ef9-ae2b-c304766634f1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","$select":"sxp_value","$filter":"sxp_name eq 'Commission.RecordUrl'"},"authentication":"@parameters('$authentication')"}},"Link_Url":{"runAfter":{"CSS_Styling_Table":["Succeeded"]},"metadata":{"operationMetadataId":"8dba1a9e-e1f7-4aa0-b26d-0d168694d15c"},"type":"Compose","inputs":"@outputs('Get_Url')?['body/value'][0]?['sxp_value']"},"Minus_31":{"runAfter":{"Minus_30":["Succeeded"]},"metadata":{"operationMetadataId":"5b880919-f825-4735-86ea-bd64e6a20ded"},"type":"Compose","inputs":"@formatDateTime(addDays(startofday(utcNow()),-31),'yyyy-MM-dd')"},"Minus_15":{"runAfter":{"Minus_14":["Succeeded"]},"metadata":{"operationMetadataId":"ef29f3b3-e4d4-49ca-9d3d-ee16b2031636"},"type":"Compose","inputs":"@formatDateTime(addDays(startofday(utcNow()),-15),'yyyy-MM-dd')"},"Minus_30":{"runAfter":{"Minus_15":["Succeeded"]},"metadata":{"operationMetadataId":"239580ae-57f9-4e1e-a048-7af57f7f94d7"},"type":"Compose","inputs":"@formatDateTime(addDays(startofday(utcNow()),-30),'yyyy-MM-dd')"},"Initialize_Email_for_Tier_2":{"runAfter":{"Get_Service_Centers_2":["Succeeded"]},"metadata":{"operationMetadataId":"0cbb7e9e-cfb9-40eb-8dfd-50d673693397"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Initialize Tier 2 Email List","type":"string"}]}},"Initialize_Email_for_Tier_3":{"runAfter":{"Get_Service_Centers_3":["Succeeded"]},"metadata":{"operationMetadataId":"04b73a1a-1aab-4c7d-8603-bad1e3253062"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Initialize Tier 3 Email List","type":"string"}]}},"Apply_to_each_2":{"foreach":"@outputs('Get_Service_Centers_2')?['body/value']","actions":{"Get_Users_2":{"runAfter":{},"metadata":{"operationMetadataId":"1f967336-0595-4552-b0cb-517ea4391298"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"systemuser\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"businessunitid\" />\n    <attribute name=\"title\" />\n    <attribute name=\"address1_telephone1\" />\n    <attribute name=\"positionid\" />\n    <attribute name=\"systemuserid\" />\n    <attribute name=\"internalemailaddress\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ab\">\n        <filter type=\"and\">\n          <condition attribute=\"teamid\" operator=\"eq\"  uitype=\"team\" value='@{items('Apply_to_each_2')?['_sxp_overridetwoservicecenterteam_value']}' />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_Email_List_2":{"foreach":"@outputs('Get_Users_2')?['body/value']","actions":{"Append_to_string_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"4f890840-76c3-4bbd-a758-6a2008b0a9db"},"type":"AppendToStringVariable","inputs":{"name":"Initialize Tier 2 Email List","value":"@{items('Get_Email_List_2')?['internalemailaddress']};"}}},"runAfter":{"Get_Users_2":["Succeeded"]},"metadata":{"operationMetadataId":"2bed59bf-ce31-41e7-9776-bc14ad8d0ebb"},"type":"Foreach"},"Get_Commissions_2":{"runAfter":{"Get_Email_List_2":["Succeeded"]},"metadata":{"operationMetadataId":"a740a3a0-76cc-42af-9550-44b9d33c51e7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_commissions\">\n    <attribute name=\"sxp_commissionsid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"createdon\" />\n<attribute name=\"sxp_primaryapprovalassigndate\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_15')}' />\n      <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-after\" value='@{outputs('Minus_30')}'/>\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"sxp_servicecenter\" operator=\"eq\" value='@{items('Apply_to_each_2')?['sxp_servicecenterid']}' />\n    </filter>\n<link-entity name=\"sxp_servicecenter\" from=\"sxp_servicecenterid\" to=\"sxp_servicecenter\" visible=\"false\" link-type=\"outer\" alias=\"sc\">\n      <attribute name=\"sxp_centername\" />\n    </link-entity>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"sxp_salesorder\" visible=\"false\" link-type=\"outer\" alias=\"so\">\n      <attribute name=\"ordernumber\" />\n    </link-entity>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"sxp_salesagent\" visible=\"false\" link-type=\"outer\" alias=\"su\">\n      <attribute name=\"fullname\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_2":{"runAfter":{"Get_Commissions_2":["Succeeded"]},"metadata":{"operationMetadataId":"c5c58225-b7e3-458c-afdd-37bf5be024b9"},"type":"ParseJson","inputs":{"content":"@outputs('Get_Commissions_2')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"sxp_commissionsid@odata.type":{"type":"string"},"sxp_commissionsid":{"type":"string"},"sxp_name":{"type":"string"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_primaryapprovalassigndate@odata.type":{"type":"string"},"sxp_primaryapprovalassigndate":{"type":"string"},"sc.sxp_centername@OData.Community.Display.V1.AttributeName":{"type":"string"},"sc.sxp_centername":{"type":"string"},"so.ordernumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"so.ordernumber":{"type":"string"},"su.fullname@OData.Community.Display.V1.AttributeName":{"type":"string"},"su.fullname":{"type":"string"}},"required":["@@odata.type","@@odata.id","@@odata.etag","@@odata.editLink","sxp_commissionsid@odata.type","sxp_commissionsid","sxp_name","createdon@OData.Community.Display.V1.FormattedValue","createdon@odata.type","createdon","sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue","sxp_primaryapprovalassigndate@odata.type","sxp_primaryapprovalassigndate","sc.sxp_centername@OData.Community.Display.V1.AttributeName","sc.sxp_centername","so.ordernumber@OData.Community.Display.V1.AttributeName","so.ordernumber","su.fullname@OData.Community.Display.V1.AttributeName","su.fullname"]}}}},"Select":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"e9ad25a2-2528-42af-8ced-916a052b2992"},"type":"Select","inputs":{"from":"@body('Parse_JSON_2')","select":{"Sales Order No.":"@if(equals(item()?['so.ordernumber'], null), '', item()?['so.ordernumber'])","Commission":"@concat('<a href=\"', outputs('Link_Url'), item()?['sxp_commissionsid'], '\">', if(equals(item()?['so.ordernumber'], null), '', item()?['so.ordernumber']), '</a>')","Employee Name":"@if(equals(item()?['su.fullname'], null), '', item()?['su.fullname'])","Center Name":"@if(equals(item()?['sc.sxp_centername'], null), '', item()?['sc.sxp_centername'])","Requested Date":"@if(equals(item()?['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'], null), '', item()?['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'])","Number Of Days":"@div(sub(ticks(formatDateTime(utcNow(), 'yyyy-MM-dd')), ticks(formatDateTime(item()?['sxp_primaryapprovalassigndate'], 'yyy-MM-dd'))), 864000000000)"}}},"Create_HTML_table_2":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"97f0472b-a99f-4e45-a40c-969ca25e8aee"},"type":"Table","inputs":{"from":"@body('Select')","format":"HTML"}},"Send_an_email_(V2)_2":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"4dcbfd81-b6e0-4efa-b94c-53bce064cf83"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('Initialize Tier 2 Email List')","emailMessage/Subject":"Commission approval reminder over 14 days outstanding","emailMessage/Body":"<p>Dear All,<br>\n<br>\nThe following commission requests have been outstanding and require immediate attention. Details of requests are as below. &nbsp;<br>\n<br>\nRequest details: &nbsp;<br>\n<br>\n@{outputs('CSS_Styling_Table')}@{outputs('Compose_3')}<br>\n<br>\nNote: This is a system-generated e-mail. Please do not reply to it. &nbsp;<br>\n<br>\n@{variables('Image1')}<br>\n<a href=\"http://serviceexperts.com\">serviceexperts.com</a><br>\n@{variables('Image2')}</p>"},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"05696dfb-b895-47e4-97db-8627acd265cf"},"type":"SetVariable","inputs":{"name":"Initialize Tier 2 Email List","value":"@{null}"}},"Compose_3":{"runAfter":{"Create_HTML_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"6eb587e6-b956-4bcb-9afd-32609a017e00"},"type":"Compose","inputs":"@replace(replace(replace(body('Create_HTML_table_2'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')"}},"runAfter":{"Initialize_Email_for_Tier_2":["Succeeded"]},"metadata":{"operationMetadataId":"83cbba75-8565-4257-9844-1428cde255a6"},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@outputs('Get_Service_Centers_3')?['body/value']","actions":{"Get_Users_3":{"runAfter":{},"metadata":{"operationMetadataId":"999cfea3-c688-408f-bc6d-512df8c96db6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"systemuser\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"businessunitid\" />\n    <attribute name=\"title\" />\n    <attribute name=\"address1_telephone1\" />\n    <attribute name=\"positionid\" />\n    <attribute name=\"systemuserid\" />\n    <attribute name=\"internalemailaddress\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ab\">\n        <filter type=\"and\">\n          <condition attribute=\"teamid\" operator=\"eq\" uitype=\"team\" value='@{items('Apply_to_each_3')?['_sxp_overridethreeservicecenterteam_value']}' />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_Email_List_3":{"foreach":"@outputs('Get_Users_3')?['body/value']","actions":{"Append_to_string_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"7cd308f4-4b22-44f9-bde9-55d56b9154d2"},"type":"AppendToStringVariable","inputs":{"name":"Initialize Tier 3 Email List","value":"@{items('Get_Email_List_3')?['internalemailaddress']};"}}},"runAfter":{"Get_Users_3":["Succeeded"]},"metadata":{"operationMetadataId":"9030492c-1d03-40f7-a068-63b046eda739"},"type":"Foreach"},"Get_Commissions_3":{"runAfter":{"Get_Email_List_3":["Succeeded"]},"metadata":{"operationMetadataId":"15f150ef-15b9-4f90-ae2a-aaeb5ae9f5df"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_commissions\">\n    <attribute name=\"sxp_commissionsid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"createdon\" />\n<attribute name=\"sxp_primaryapprovalassigndate\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"sxp_primaryapproved\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapproveruser\" operator=\"null\" />\n      <condition attribute=\"sxp_primaryapprovalassigndate\" operator=\"on-or-before\" value='@{outputs('Minus_31')}' />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"sxp_servicecenter\" operator=\"eq\" value='@{items('Apply_to_each_3')?['sxp_servicecenterid']}' />\n    </filter>\n<link-entity name=\"sxp_servicecenter\" from=\"sxp_servicecenterid\" to=\"sxp_servicecenter\" visible=\"false\" link-type=\"outer\" alias=\"sc\">\n      <attribute name=\"sxp_centername\" />\n    </link-entity>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"sxp_salesorder\" visible=\"false\" link-type=\"outer\" alias=\"so\">\n      <attribute name=\"ordernumber\" />\n    </link-entity>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"sxp_salesagent\" visible=\"false\" link-type=\"outer\" alias=\"su\">\n      <attribute name=\"fullname\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_3":{"runAfter":{"Get_Commissions_3":["Succeeded"]},"metadata":{"operationMetadataId":"337a50df-0502-4e0a-95c9-491eac6d942e"},"type":"ParseJson","inputs":{"content":"@outputs('Get_Commissions_3')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"sxp_commissionsid@odata.type":{"type":"string"},"sxp_commissionsid":{"type":"string"},"sxp_name":{"type":"string"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_primaryapprovalassigndate@odata.type":{"type":"string"},"sxp_primaryapprovalassigndate":{"type":"string"},"sc.sxp_centername@OData.Community.Display.V1.AttributeName":{"type":"string"},"sc.sxp_centername":{"type":"string"},"so.ordernumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"so.ordernumber":{"type":"string"},"su.fullname@OData.Community.Display.V1.AttributeName":{"type":"string"},"su.fullname":{"type":"string"}},"required":["@@odata.type","@@odata.id","@@odata.etag","@@odata.editLink","sxp_commissionsid@odata.type","sxp_commissionsid","sxp_name","createdon@OData.Community.Display.V1.FormattedValue","createdon@odata.type","createdon","sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue","sxp_primaryapprovalassigndate@odata.type","sxp_primaryapprovalassigndate","sc.sxp_centername@OData.Community.Display.V1.AttributeName","sc.sxp_centername","so.ordernumber@OData.Community.Display.V1.AttributeName","so.ordernumber","su.fullname@OData.Community.Display.V1.AttributeName","su.fullname"]}}}},"Select_3":{"runAfter":{"Parse_JSON_3":["Succeeded"]},"metadata":{"operationMetadataId":"3ca6fabe-f8b8-4dce-86e4-d46aa8a13c06"},"type":"Select","inputs":{"from":"@body('Parse_JSON_3')","select":{"Sales Order No.":"@if(equals(item()?['so.ordernumber'], null), '', item()?['so.ordernumber'])","Commission":"@concat('<a href=\"', outputs('Link_Url'), item()?['sxp_commissionsid'], '\">', if(equals(item()?['so.ordernumber'], null), '', item()?['so.ordernumber']), '</a>')","Employee Name":"@if(equals(item()?['su.fullname'], null), '', item()?['su.fullname'])","Center Name":"@if(equals(item()?['sc.sxp_centername'], null), '', item()?['sc.sxp_centername'])","Requested Date":"@if(equals(item()?['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'], null), '', item()?['sxp_primaryapprovalassigndate@OData.Community.Display.V1.FormattedValue'])","Number Of Days":"@div(sub(ticks(formatDateTime(utcNow(), 'yyyy-MM-dd')), ticks(formatDateTime(item()?['sxp_primaryapprovalassigndate'], 'yyy-MM-dd'))), 864000000000)"}}},"Create_HTML_table_3":{"runAfter":{"Select_3":["Succeeded"]},"metadata":{"operationMetadataId":"bc92fcb9-5595-42df-80b6-4f5a679f4be4"},"type":"Table","inputs":{"from":"@body('Select_3')","format":"HTML"}},"Send_an_email_(V2)_3":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"fcf9de6d-bb9c-4d1f-a864-690a6ab3cd80"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('Initialize Tier 3 Email List')","emailMessage/Subject":"Commission approval reminder over 30 days outstanding","emailMessage/Body":"<p>Dear All,<br>\n<br>\nThe following commission requests have been outstanding and require immediate attention. Details of requests are as below. &nbsp;<br>\n<br>\nRequest details: &nbsp;<br>\n<br>\n@{outputs('CSS_Styling_Table')}@{outputs('Compose_4')}<br>\n<br>\nNote: This is a system-generated e-mail. Please do not reply to it. &nbsp;<br>\n<br>\n@{variables('Image1')}<br>\n<a href=\"http://serviceexperts.com\">serviceexperts.com</a><br>\n@{variables('Image2')}</p>"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"013f91d5-d9b3-464e-9d99-bd2aab242336"},"type":"SetVariable","inputs":{"name":"Initialize Tier 3 Email List","value":"@{null}"}},"Compose_4":{"runAfter":{"Create_HTML_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"4a94da8b-fc06-421e-b82d-46158e299510"},"type":"Compose","inputs":"@replace(replace(replace(body('Create_HTML_table_3'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')"}},"runAfter":{"Initialize_Email_for_Tier_3":["Succeeded"]},"metadata":{"operationMetadataId":"ec48da4f-e7de-407e-b840-7f3dd68a36ca"},"type":"Foreach"},"CSS_Styling_Table":{"runAfter":{"Get_Url":["Succeeded"]},"metadata":{"operationMetadataId":"48163b2a-6162-4d3a-b650-75ab57f1c568"},"type":"Compose","inputs":"<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"}}}},"schemaVersion":"1.0.0.0"}