ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CommissionApprovalProcess-DAE06D1E-A64E-EC11-8F8E-0022486DC00F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_63e8b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Order_status_is_changed":{"metadata":{"operationMetadataId":"51f85f47-5698-4f73-9b5e-17b90dfdde41"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_Commissions":{"runAfter":{},"metadata":{"operationMetadataId":"952e0c46-24e1-43e9-82ae-74a2c9fba0bc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","$filter":"_sxp_salesorder_value eq @{triggerOutputs()?['body/salesorderid']}"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_Service_Center":{"runAfter":{},"metadata":{"operationMetadataId":"c27a6a4d-60c8-4a7f-a863-9a728f77238b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_servicecenters","recordId":"@triggerOutputs()?['body/_sxp_center_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Commissions')?['body/value']","actions":{"Update_Commission":{"runAfter":{},"metadata":{"operationMetadataId":"088de889-5df4-45de-a2f5-d843c0ae1261"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","recordId":"@items('Apply_to_each')?['sxp_commissionsid']","item/sxp_primaryapprovalassigndate":"@utcNow()","item/sxp_PrimaryApproverNew@odata.bind":"teams(@{outputs('Get_Service_Center')?['body/_sxp_primaryservicecenterteam_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Service_Center":["Succeeded"]},"metadata":{"operationMetadataId":"6df337ff-24f5-48e8-8700-51abefa1e253"},"type":"Foreach"}},"runAfter":{"List_Commissions":["Succeeded"]},"expression":{"or":[{"equals":["@triggerOutputs()?['body/statuscode']",100003]},{"equals":["@triggerOutputs()?['body/statuscode']",275450006]}]},"metadata":{"operationMetadataId":"1e13eca3-81df-459b-80f8-b8150e9b98b1"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}