ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CreateUpdateOrderDepartmentonOrder-CCF641C9-8A77-EC11-8942-000D3AF4F6D1.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Order_Processing_is_modified_and_active_stage_is_Installation":{"metadata":{"operationMetadataId":"bde19e96-d87a-4ada-bc06-844cd40bb471"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sxp_orderprocessing","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"_activestageid_value eq a6723f5e-c1c6-42dc-a1f0-b100979d5117"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_Profit_Center":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"560b510c-bf4f-49aa-ba93-0d2efb8f336b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Profit Center","type":"string"}]}},"Initialize_Order_Id":{"runAfter":{"Initialize_Profit_Center":["Succeeded"]},"metadata":{"operationMetadataId":"c4d6b0d3-c796-42ac-9fa1-6af00e775ecb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Id","type":"string","value":"@triggerOutputs()?['body/_bpf_salesorderid_value']"}]}},"Initialize_Order_Products":{"runAfter":{"Initialize_Order_Id":["Succeeded"]},"metadata":{"operationMetadataId":"ba1107a0-58e7-4ecf-aed8-48ab6ca2244b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Products","type":"array"}]}},"Initialize_Order_Profit_Center_Id":{"runAfter":{"Initialize_Order_Products":["Succeeded"]},"metadata":{"operationMetadataId":"da5dd015-8dcb-4b02-b6e3-b762a9b4698e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Profit Center Id","type":"string"}]}},"Initialize_Order_Installed_Cost":{"runAfter":{"Initialize_Order_Profit_Center_Id":["Succeeded"]},"metadata":{"operationMetadataId":"8fcae506-4985-4ba4-bccd-9c2918a1e90c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Installed Cost","type":"float"}]}},"Initialize_Order_Discount":{"runAfter":{"Initialize_Order_Installed_Cost":["Succeeded"]},"metadata":{"operationMetadataId":"4ba89e2f-5ad0-477d-a668-2e8e0eb3ca57"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Discount","type":"float"}]}},"Initialize_Order_Pre-tax_Installed_Cost":{"runAfter":{"Initialize_Order_Discount":["Succeeded"]},"metadata":{"operationMetadataId":"2dca2356-43f1-4ade-8825-fe0cbbd15c93"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Pre-tax Installed Cost","type":"float"}]}},"Initialize_Order_Total_Installed_Cost":{"runAfter":{"Initialize_Order_Pre-tax_Installed_Cost":["Succeeded"]},"metadata":{"operationMetadataId":"6fcc0b8c-9e3c-40d5-beff-a8bba5f055a6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Total installed Cost","type":"float"}]}},"Initialize_Order_Product_Line_Total_-_Qualified_Service":{"runAfter":{"Initialize_Order_Total_Installed_Cost":["Succeeded"]},"metadata":{"operationMetadataId":"9f5bc21e-f61a-46d8-8739-8ec14551b2e1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Product Line Total - Qualified Service","type":"float"}]}},"Initialize_Order_Found":{"runAfter":{"Initialize_Order_Type":["Succeeded"]},"metadata":{"operationMetadataId":"f0a28868-9491-4d32-9254-efe5283ed975"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Found","type":"boolean","value":false}]}},"Initialize_Order_Discount_Percent":{"runAfter":{"Initialize_Order_Product_Line_Total_-_Qualified_Service":["Succeeded"]},"metadata":{"operationMetadataId":"e0f81d92-8521-4b59-9af7-865f88af2dd4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Discount Percent","type":"float"}]}},"Initialize_Commission_Adjusted_Tier":{"runAfter":{"Initialize_Order_Found":["Succeeded"]},"metadata":{"operationMetadataId":"299a0689-8145-44a2-b1dc-bedd99f19931"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Adjusted Tier","type":"string"}]}},"Initialize_Commission_Type":{"runAfter":{"Initialize_Commission_Adjusted_Tier":["Succeeded"]},"metadata":{"operationMetadataId":"6e759248-7bcc-46fb-b28a-ec4fbb9ae1e5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Type","type":"string"}]}},"Initialize_Commission_Rate_Record":{"runAfter":{"Initialize_Commission_Type":["Succeeded"]},"metadata":{"operationMetadataId":"acb7b5ce-b2d4-4b72-8016-82745af0db5b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Rate Record","type":"object"}]}},"Initialize_Order_Type":{"runAfter":{"Initialize_Order_Discount_Percent":["Succeeded"]},"metadata":{"operationMetadataId":"8700d77d-6ae7-4da8-9c83-4f2ac05b8357"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Type","type":"string"}]}},"Initialize_Commission_Total_of_Rates":{"runAfter":{"Initialize_Commission_Rate_Record":["Succeeded"]},"metadata":{"operationMetadataId":"b85620b9-c7f7-42b9-ac93-075d7065ffbb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Total of Rates","type":"float"}]}},"Initialize_Commission_Record_Count":{"runAfter":{"Initialize_Commission_Total_of_Rates":["Succeeded"]},"metadata":{"operationMetadataId":"449d56ef-b568-484f-9633-eeba79da1fc7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Record Count","type":"integer"}]}},"Initialize_Product_Service_Type":{"runAfter":{"Initialize_Commission_Record_Count":["Succeeded"]},"metadata":{"operationMetadataId":"fd2bd81c-537a-4100-8e2a-4cc65f430488"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Product Service Type","type":"boolean"}]}},"Get_Configuration_or_Terminate_":{"actions":{"Get_Configuration":{"runAfter":{},"metadata":{"operationMetadataId":"964461ea-6f81-4ad0-a53c-8c10c36b9f9b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","$filter":"sxp_configurationid eq 05f40060-8773-ec11-8942-000d3af4f6d1 and sxp_value eq 'yes'"},"authentication":"@parameters('$authentication')"}},"If_Configuration_was_found_":{"foreach":"@outputs('Get_Configuration')?['body/value']","actions":{"Set_Configuration_Found":{"runAfter":{},"metadata":{"operationMetadataId":"767113c7-47d4-4d66-865b-13d505f2abba"},"type":"SetVariable","inputs":{"name":"Configuration Found","value":true}}},"runAfter":{"Get_Configuration":["Succeeded"]},"metadata":{"operationMetadataId":"36f2e9ea-4a66-4b62-9668-c70a445072df"},"type":"Foreach"},"Condition__2":{"actions":{"Return_Order_or_Terminate_":{"actions":{"Get_Order_":{"runAfter":{},"metadata":{"operationMetadataId":"964461ea-6f81-4ad0-a53c-8c10c36b9f9b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","$filter":"salesorderid eq @{variables('Order Id')} and sxp_typeofagreement eq 275450001"},"authentication":"@parameters('$authentication')"}},"If_Order_was_found_":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Found_2":{"runAfter":{},"metadata":{"operationMetadataId":"767113c7-47d4-4d66-865b-13d505f2abba"},"type":"SetVariable","inputs":{"name":"Order Found","value":true}}},"runAfter":{"Get_Order_":["Succeeded"]},"metadata":{"operationMetadataId":"36f2e9ea-4a66-4b62-9668-c70a445072df"},"type":"Foreach"},"Condition_":{"actions":{"Assume_one_order_-_Set_Order_Installed_Cost_":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Installed_Cost_":{"runAfter":{},"metadata":{"operationMetadataId":"27f85a44-18fc-40cf-84f7-103185555104"},"type":"SetVariable","inputs":{"name":"Order Installed Cost","value":"@items('Assume_one_order_-_Set_Order_Installed_Cost_')?['totallineitemamount']"}}},"runAfter":{},"metadata":{"operationMetadataId":"440a7624-940d-449f-8385-3c969a2db87b"},"type":"Foreach"},"Assume_one_order_-_Set_Order_Discount":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Discount_":{"runAfter":{},"metadata":{"operationMetadataId":"c7036ea8-43c1-4fc5-9b06-067c1b3ca54c"},"type":"SetVariable","inputs":{"name":"Order Discount","value":"@if(equals(items('Assume_one_order_-_Set_Order_Discount')?['discountamount'], null), 0, items('Assume_one_order_-_Set_Order_Discount')?['discountamount'])"}}},"runAfter":{"Assume_one_order_-_Set_Order_Installed_Cost_":["Succeeded"]},"metadata":{"operationMetadataId":"9b9fdd1a-5866-46e1-bd4b-bb9ac7c10712"},"type":"Foreach"},"Assume_one_order_-_Set_Order_Pre-tax_Installed_Cost_":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Pre-tax_Installed_Cost_":{"runAfter":{},"metadata":{"operationMetadataId":"18de64cb-3919-4772-86ca-036e879c135f"},"type":"SetVariable","inputs":{"name":"Order Pre-tax Installed Cost","value":"@items('Assume_one_order_-_Set_Order_Pre-tax_Installed_Cost_')?['sxp_totalinstalledcost']"}}},"runAfter":{"Assume_one_order_-_Set_Order_Discount":["Succeeded"]},"metadata":{"operationMetadataId":"0dc9dac2-e7c0-49fd-9fc4-de8b1fef0089"},"type":"Foreach"},"Assume_one_order_-_Set_Order_Total_Installed_Cost_":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Total_installed_Cost_":{"runAfter":{},"metadata":{"operationMetadataId":"2b6627e3-e2a8-4fb0-9c0e-00cf3073831d"},"type":"SetVariable","inputs":{"name":"Order Total installed Cost","value":"@items('Assume_one_order_-_Set_Order_Total_Installed_Cost_')?['sxp_totalordercost']"}}},"runAfter":{"Assume_one_order_-_Set_Order_Pre-tax_Installed_Cost_":["Succeeded"]},"metadata":{"operationMetadataId":"d87c2488-074e-4e07-ba9f-579b2a0013df"},"type":"Foreach"},"Assume_one_order_-_Set_Order_Discount_Percent":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Discount_Percent_":{"runAfter":{},"metadata":{"operationMetadataId":"8155f872-52f2-4985-8f74-2a91ae3b752b"},"type":"SetVariable","inputs":{"name":"Order Discount Percent","value":"@if(equals(items('Assume_one_order_-_Set_Order_Discount_Percent')?['discountpercentage'], null), 0, items('Assume_one_order_-_Set_Order_Discount_Percent')?['discountpercentage'])"}}},"runAfter":{"Assume_one_order_-_Set_Order_Total_Installed_Cost_":["Succeeded"]},"metadata":{"operationMetadataId":"57a3ef05-0b18-4d17-8a19-6a87bceefc87"},"type":"Foreach"},"Assume_one_order_-_Set_Commission_Type_":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Check_if_Advantage_":{"actions":{"Check_if_Deferred_":{"actions":{"Set_commission_type_=_advantage_plus_":{"runAfter":{},"metadata":{"operationMetadataId":"d545ab39-7b66-493a-ab42-6ce8e9e5a2fc"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450001"}}},"runAfter":{},"else":{"actions":{"Set_commission_type_=_advantage_":{"runAfter":{},"metadata":{"operationMetadataId":"0777be6b-42ae-4a9a-870e-f80bfbe0845b"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450000"}}}},"expression":{"equals":["",275450001]},"metadata":{"operationMetadataId":"62895247-b2cd-454f-8297-557a450747e6"},"type":"If"}},"runAfter":{},"else":{"actions":{"set_commission_type_=_non-advantage_":{"runAfter":{},"metadata":{"operationMetadataId":"80d02352-62c5-483e-957a-bfa1ba789af8"},"type":"SetVariable","inputs":{"name":"Commission Type","value":"275450002"}}}},"expression":{"equals":["@items('Assume_one_order_-_Set_Commission_Type_')?['sxp_typeofagreement']",275450000]},"metadata":{"operationMetadataId":"a2eacd01-86e8-43a3-9b35-79aee7563f02"},"type":"If"}},"runAfter":{"Assume_one_order_-_Set_Order_Discount_Percent":["Succeeded"]},"metadata":{"operationMetadataId":"da826a78-fac9-40fb-a328-04b0d82b8780"},"type":"Foreach"},"Assume_one_order_-_Set_Order_name":{"foreach":"@outputs('Get_Order_')?['body/value']","actions":{"Set_Order_Total_installed_Cost__2":{"runAfter":{},"metadata":{"operationMetadataId":"2b6627e3-e2a8-4fb0-9c0e-00cf3073831d"},"type":"SetVariable","inputs":{"name":"order Name","value":"@{items('Assume_one_order_-_Set_Order_name')?['name']}_"}}},"runAfter":{"Assume_one_order_-_Set_Commission_Type_":["Succeeded"]},"metadata":{"operationMetadataId":"d87c2488-074e-4e07-ba9f-579b2a0013df"},"type":"Foreach"}},"runAfter":{"If_Order_was_found_":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"b535d1f4-2fc0-4e04-b8bf-567ff89c1ca3"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@variables('Order Found')",true]},"metadata":{"operationMetadataId":"0fdc1e2d-0664-41ff-b1f1-1a3c31d48d25"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"ea02bd33-6421-43cc-a018-4db493c37a24"},"type":"Scope"},"Get_related_order_products":{"runAfter":{"Remove_Existing_Order_Profit_Center_Records_":["Succeeded"]},"metadata":{"operationMetadataId":"52a27499-5203-4a5c-be5f-1f30288f508f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","fetchXml":"<fetch aggregate=\"true\" >\n  <entity name=\"salesorderdetail\" >\n<attribute name=\"salesorderdetailid\" alias =\"salesorderdetailid\" groupby=\"true\"/>\n    <attribute name=\"sxp_service\" alias=\"sxp_service\" groupby=\"true\" />\n    <attribute name=\"extendedamount\" alias=\"extendedamount\" aggregate=\"sum\" />\n<attribute name=\"sxp_department\" alias=\"sxp_department\" groupby=\"true\" />\n    <filter>\n      <condition attribute=\"salesorderid\" operator=\"eq\" value=\"@{variables('Order Id')}\" />\n      <filter type=\"and\" >\n        <condition attribute=\"sxp_service\" operator=\"neq\" value=\"275450004\" />\n        <condition attribute=\"sxp_service\" operator=\"neq\" value=\"275450003\" />\n      </filter>\n    </filter>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"salesorderid\" >\n      <attribute name=\"sxp_typeofagreement\" alias=\"sxp_typeofagreement\" groupby=\"true\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_all_Order_Product":{"foreach":"@outputs('Get_related_order_products')?['body/value']","actions":{"Create_Order_Profit_Center_Records_and_Associations":{"actions":{"Aggregate_FetchXML_for_Order_Products_total":{"runAfter":{},"metadata":{"operationMetadataId":"95b27a19-86f6-49f7-bf54-8fc24e39c350"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","fetchXml":"<fetch aggregate=\"true\" >\n  <entity name=\"salesorderdetail\" >\n    <attribute name=\"extendedamount\" alias=\"extendedamount\" aggregate=\"sum\" />\n    <attribute name=\"salesorderid\" alias=\"salesorderid\" groupby=\"true\" />\n    <filter>\n      <condition attribute=\"salesorderid\" operator=\"eq\" value=\"@{variables('Order Id')}\" />\n      <filter type=\"and\" >\n        <condition attribute=\"sxp_service\" operator=\"neq\" value=\"275450004\" />\n        <condition attribute=\"sxp_service\" operator=\"neq\" value=\"275450003\" />\n      </filter>\n    </filter>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"salesorderid\" >\n      <attribute name=\"sxp_typeofagreement\" alias=\"sxp_typeofagreement\" groupby=\"true\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Assume_1_from_Aggregate_FetchXML_for_Order_Products_total":{"foreach":"@outputs('Aggregate_FetchXML_for_Order_Products_total')?['body/value']","actions":{"Set_Order_Product_Line_Total_-_Qualified_Service":{"runAfter":{},"metadata":{"operationMetadataId":"91a9e3b9-3f07-4a94-932f-1f1d58915b9d"},"type":"SetVariable","inputs":{"name":"Order Product Line Total - Qualified Service","value":"@items('Assume_1_from_Aggregate_FetchXML_for_Order_Products_total')?['extendedamount']"}}},"runAfter":{"Aggregate_FetchXML_for_Order_Products_total":["Succeeded"]},"metadata":{"operationMetadataId":"922b4ebe-93eb-4281-a617-55414fb0e4a0"},"type":"Foreach"},"Set_Order_Profit_Center_Id_to_Null":{"runAfter":{"Assume_1_from_Aggregate_FetchXML_for_Order_Products_total":["Succeeded"]},"metadata":{"operationMetadataId":"65993423-fac8-4b59-9a6c-3ab78480bffd"},"type":"SetVariable","inputs":{"name":"Order Profit Center Id","value":"@{null}"}},"Set_Commission_Record_Count_to_0":{"runAfter":{"Set_Order_Profit_Center_Id_to_Null":["Succeeded"]},"metadata":{"operationMetadataId":"3ac0516e-d71c-4dc8-83a1-5e3c74556e7b"},"type":"SetVariable","inputs":{"name":"Commission Record Count","value":0}},"Set_Commission_Total_of_Rates_to_0":{"runAfter":{"Set_Commission_Record_Count_to_0":["Succeeded"]},"metadata":{"operationMetadataId":"969e46c5-e8a5-4f10-9d34-c6aa3f3a1617"},"type":"SetVariable","inputs":{"name":"Commission Total of Rates","value":0}},"Get_Order_Products_for_Profit_Center_Record":{"runAfter":{"Set_Commission_Total_of_Rates_to_0":["Succeeded"]},"metadata":{"operationMetadataId":"9bb0b8fc-1a3b-4f73-974f-d612036bdb80"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","$filter":"_salesorderid_value eq @{variables('Order Id')} and sxp_department eq @{items('Apply_to_all_Order_Product')?['sxp_department']}"},"authentication":"@parameters('$authentication')"}},"Process_Order_Product_Records":{"actions":{"For_each_order_product_record_-_append_to_order_product_array":{"foreach":"@outputs('Get_Order_Products_for_Profit_Center_Record')?['body/value']","actions":{"Add_to_Order_Products_Array":{"runAfter":{},"metadata":{"operationMetadataId":"a11e3c1d-f02d-429f-9376-99396fe33ffc"},"type":"AppendToArrayVariable","inputs":{"name":"Order Products","value":"@items('For_each_order_product_record_-_append_to_order_product_array')?['salesorderdetailid']"}},"Calculate_Commission_Rate":{"actions":{"Get_Product":{"runAfter":{},"metadata":{"operationMetadataId":"b45e03b6-d28d-4450-b919-298a5335f2db"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('For_each_order_product_record_-_append_to_order_product_array')?['_productid_value']"},"authentication":"@parameters('$authentication')"}},"If_Discount_causes_a_tier_decrease":{"actions":{"Commission_Adjusted_Tier_=_Product_Tier_-1":{"runAfter":{},"metadata":{"operationMetadataId":"b365cc4c-7283-4adb-aea0-28987995b2d5"},"type":"SetVariable","inputs":{"name":"Commission Adjusted Tier","value":"@{items('For_each_order_product_record_-_append_to_order_product_array')?['sxp_producttiers']}"}}},"runAfter":{"Get_Product":["Succeeded"]},"else":{"actions":{"Commission_Adjusted_Tier_=_Product_Tier":{"runAfter":{},"metadata":{"operationMetadataId":"0e41a79f-5476-4e57-abae-6a765d3b4042"},"type":"SetVariable","inputs":{"name":"Commission Adjusted Tier","value":"@{items('For_each_order_product_record_-_append_to_order_product_array')?['sxp_producttiers']}"}}}},"expression":{"greater":["@variables('Order Discount Percent')",15]},"metadata":{"operationMetadataId":"e5f53094-e29b-45d0-841b-336810e1a1c9"},"type":"If"},"Get_commission_rates_record_for_Products":{"runAfter":{"If_Discount_causes_a_tier_decrease":["Succeeded"]},"metadata":{"operationMetadataId":"001ca6fd-1759-46b9-b6e9-522c356d12a6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionrates","$filter":"sxp_commissiontypes eq @{variables('Commission Type')} and sxp_tiertypes eq @{variables('Commission Adjusted Tier')}"},"authentication":"@parameters('$authentication')"}},"For_each_commission_record_-_expect":{"foreach":"@outputs('Get_commission_rates_record_for_Products')?['body/value']","actions":{"Increment_Commission_Record_Count":{"runAfter":{},"metadata":{"operationMetadataId":"fdb891b5-d579-4aab-b13f-04a2c42dddb6"},"type":"IncrementVariable","inputs":{"name":"Commission Record Count","value":1}},"Increment_Commission_Rate":{"runAfter":{"Increment_Commission_Record_Count":["Succeeded"]},"metadata":{"operationMetadataId":"c4e0e198-fa0c-4591-a81d-ad5e35ade4a8"},"type":"IncrementVariable","inputs":{"name":"Commission Total of Rates","value":"@items('For_each_commission_record_-_expect')?['sxp_commissionpercentage']"}}},"runAfter":{"Get_commission_rates_record_for_Products":["Succeeded"]},"metadata":{"operationMetadataId":"48430ade-674b-4a9d-8391-76f59e9fd3ab"},"type":"Foreach"}},"runAfter":{"Add_to_Order_Products_Array":["Succeeded"]},"metadata":{"operationMetadataId":"0544284a-fa54-419c-8f53-9e3b513f6f3a"},"type":"Scope"}},"runAfter":{},"metadata":{"operationMetadataId":"c4433080-973e-4fc8-9e7e-e2071de52ed0"},"type":"Foreach"}},"runAfter":{"Get_Order_Products_for_Profit_Center_Record":["Succeeded"]},"metadata":{"operationMetadataId":"fa33d929-270b-42cc-a1f7-d75b5acd5946"},"type":"Scope"},"Create_Order_Profit_Center_Records":{"actions":{"Set_Order_Profit_Center_reference_if_records_retrieved":{"foreach":"@outputs('Retrieve_Order_Profit_Center_record_that_may_already_exist_')?['body/value']","actions":{"Set_Order_Profit_Center_Id_from_Existing_Order_Profit_Center_record":{"runAfter":{},"metadata":{"operationMetadataId":"a2da876d-0a41-4511-ad05-1f28cb55415d"},"type":"SetVariable","inputs":{"name":"Order Profit Center Id","value":"@items('Set_Order_Profit_Center_reference_if_records_retrieved')?['sxp_orderprofitcenterid']"}}},"runAfter":{"Retrieve_Order_Profit_Center_record_that_may_already_exist_":["Succeeded"]},"metadata":{"operationMetadataId":"8c59ec26-cb83-4c01-b724-ad43038a3751"},"type":"Foreach"},"Order_Profit_Center_Record_Exists":{"actions":{"Apply_to_each":{"foreach":"@outputs('Retrieve_Order_Profit_Center_record_that_may_already_exist_')?['body/value']","actions":{"Get_Order_Product_based_on_Order_Profit_center_Service":{"runAfter":{},"metadata":{"operationMetadataId":"92459287-5f31-46f1-b44c-e04884cd4ade"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","fetchXml":"<fetch aggregate=\"true\" >\n    <entity name=\"salesorderdetail\" >\n        <attribute name=\"extendedamount\" alias=\"extendedamount_sum\" aggregate=\"sum\" />\n<attribute name=\"salesorderid\" alias=\"salesorderid\" groupby=\"true\" />\n        <filter>\n            <condition attribute=\"salesorderid\" operator=\"eq\" value=\"@{variables('Order Id')}\" />\n            <condition attribute=\"sxp_department\" operator=\"eq\" value=\"@{items('Apply_to_each')?['sxp_productservicetype']}\" />\n        </filter>\n    </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_Order_Product_based_on_Order_Profit_center_Service')?['body/value']","actions":{"Update_Existing_Order_Profit_Center_record":{"runAfter":{},"metadata":{"operationMetadataId":"c4d191fb-ed0d-4897-a0cc-00e1c3c11066"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprofitcenters","recordId":"@variables('Order Profit Center Id')","item/sxp_totalamount":"@mul(div(items('Apply_to_each_2')?['extendedamount_sum'], variables('Order Product Line Total - Qualified Service')), variables('Order Total Installed Cost'))","item/sxp_commissionamount":"@mul(div(sub(div(variables('Commission Total of Rates'), variables('Commission Record Count')),variables('Commission Discount Reduction')),100),mul(div(items('Apply_to_each_2')?['extendedamount_sum'], variables('Order Product Line Total - Qualified Service')), variables('Order Pre-tax Installed Cost')))","item/sxp_commissionrate":"@sub(div(variables('Commission Total of Rates'), variables('Commission Record Count')),variables('Commission Discount Reduction'))","item/sxp_discountsplit":"@mul(div(items('Apply_to_each_2')?['extendedamount_sum'], variables('Order Product Line Total - Qualified Service')), variables('Order Discount'))","item/sxp_pretaxinstalledcost":"@mul(div(items('Apply_to_each_2')?['extendedamount_sum'], variables('Order Product Line Total - Qualified Service')), variables('Order Pre-tax Installed Cost'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Order_Product_based_on_Order_Profit_center_Service":["Succeeded"]},"metadata":{"operationMetadataId":"9ffa8ed6-4ed8-4ed8-88c2-edbe93a7b3de"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"877e12dd-7021-42bd-940a-3a3adc3ebf8d"},"type":"Foreach"}},"runAfter":{"Set_Order_Profit_Center_reference_if_records_retrieved":["Succeeded"]},"else":{"actions":{"Set_Order_Profit_Center_Id_from_New_Order_Profit_Center_record":{"runAfter":{"Create_new_Order_Profit_Center_records":["Succeeded"]},"metadata":{"operationMetadataId":"ca0937c7-5e0d-47cc-b715-6e6a493ea456"},"type":"SetVariable","inputs":{"name":"Order Profit Center Id","value":"@outputs('Create_new_Order_Profit_Center_records')?['body/sxp_orderprofitcenterid']"}},"Create_new_Order_Profit_Center_records":{"runAfter":{},"metadata":{"operationMetadataId":"7a8c15bf-320b-4f78-8a11-1c42e878ea86"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprofitcenters","item/sxp_totalamount":"@mul(div(items('Apply_to_all_Order_Product')?['extendedamount'], variables('Order Product Line Total - Qualified Service')), variables('Order Total Installed Cost'))","item/sxp_commissionamount":"@mul(div(sub(div(variables('Commission Total of Rates'), variables('Commission Record Count')),variables('Commission Discount Reduction')),100),mul(div(items('Apply_to_all_Order_Product')?['extendedamount'], variables('Order Product Line Total - Qualified Service')), variables('Order Pre-tax Installed Cost')))","item/sxp_commissionrate":"@sub(div(variables('Commission Total of Rates'), variables('Commission Record Count')),variables('Commission Discount Reduction'))","item/sxp_productservicetype":"@if(equals(items('Apply_to_all_Order_Product')?['sxp_service'],275450000),'275450000','275450001')","item/sxp_department":"@variables('Department')","item/sxp_discountsplit":"@mul(div(items('Apply_to_all_Order_Product')?['extendedamount'], variables('Order Product Line Total - Qualified Service')), variables('Order Discount'))","item/sxp_name":"@variables('Order profit Centre Name')","item/sxp_Order@odata.bind":"/salesorders/@{variables('Order Id')}","item/sxp_pretaxinstalledcost":"@mul(div(items('Apply_to_all_Order_Product')?['extendedamount'], variables('Order Product Line Total - Qualified Service')), variables('Order Pre-tax Installed Cost'))","item/sxp_ProfitCenter@odata.bind":"/sxp_profitcenters/@{variables('Profit Center')}"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@empty(variables('Order Profit Center Id'))","@false"]},"metadata":{"operationMetadataId":"4d3f3209-4079-42e2-a875-4a2af5bd26e7"},"type":"If"},"Retrieve_Order_Profit_Center_record_that_may_already_exist_":{"runAfter":{"Assume":["Succeeded"]},"metadata":{"operationMetadataId":"bf687b5f-152e-450d-a6b8-4853d8c91887"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprofitcenters","$filter":"_sxp_profitcenter_value eq @{variables('Profit Center')} and _sxp_order_value eq @{variables('Order Id')}"},"authentication":"@parameters('$authentication')"}},"Assume":{"foreach":"@outputs('Get_Profit_Center')?['body/value']","actions":{"Set_Profit_Center_":{"runAfter":{},"metadata":{"operationMetadataId":"8e747ef3-121b-4b1e-a141-2f145755b796"},"type":"SetVariable","inputs":{"name":"Profit Center","value":"@items('Assume')?['sxp_profitcenterid']"}},"Set_Department":{"runAfter":{"Set_Order_profit_center_Name":["Succeeded"]},"metadata":{"operationMetadataId":"3209dd1d-7874-493f-92a2-7e59a585ab35"},"type":"SetVariable","inputs":{"name":"Department","value":"@items('Assume')?['sxp_departmentnumber']"}},"Set_Service_Name":{"runAfter":{"Set_Profit_Center_":["Succeeded"]},"metadata":{"operationMetadataId":"d49d7c25-e9e1-4700-92f7-96fd38307fa7"},"type":"SetVariable","inputs":{"name":"Service Name","value":"@{items('Assume')?['sxp_servicecategory@OData.Community.Display.V1.FormattedValue']}"}},"Set_Order_profit_center_Name":{"runAfter":{"Set_Service_Name":["Succeeded"]},"metadata":{"operationMetadataId":"e27a72e6-260f-4b73-96fc-020dc7493152"},"type":"SetVariable","inputs":{"name":"Order profit Centre Name","value":"@{variables('order Name')}_@{variables('Service Name')}"}}},"runAfter":{"Get_Profit_Center":["Succeeded"]},"metadata":{"operationMetadataId":"fb620e46-d64b-4c38-95d9-9395b308e9f7"},"type":"Foreach"},"Get_Profit_Center":{"runAfter":{},"metadata":{"operationMetadataId":"cc93d0c5-94e2-436e-84ff-220da015aa27"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_profitcenters","fetchXml":"<fetch version=\"1.0\" >\n  <entity name=\"sxp_profitcenter\">\n    <attribute name=\"sxp_profitcenterid\" />\n    <attribute name=\"sxp_servicecategory\" />\n    <attribute name=\"sxp_departmentnumber\" />\n    <link-entity name=\"sxp_orderproductorderdepartmentmapping\" from=\"sxp_profitcenter\" to=\"sxp_profitcenterid\" link-type=\"inner\">\n      <filter type=\"and\">\n        <condition attribute=\"sxp_agreementtype\" operator=\"eq\" value=\"@{items('Apply_to_all_Order_Product')?['sxp_typeofagreement']}\" />\n        <condition attribute=\"sxp_servicetype\" operator=\"eq\" value=\"@{items('Apply_to_all_Order_Product')?['sxp_service']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Process_Order_Product_Records":["Succeeded"]},"metadata":{"operationMetadataId":"598f05cd-93c3-417b-831d-598e038677f4"},"type":"Scope"},"Create_Association_Records":{"actions":{"Create_Association_for_each_Order_Product":{"foreach":"@variables('Order Products')","actions":{"Create_Associations":{"runAfter":{},"metadata":{"operationMetadataId":"ff658bfb-612e-4bde-a05a-c524bf02d367"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderproductorderprofitcenterassociations","item/sxp_Order@odata.bind":"/salesorders/@{variables('Order Id')}","item/sxp_OrderProduct@odata.bind":"/salesorderdetails/@{items('Create_Association_for_each_Order_Product')}","item/sxp_OrderProfitCenter@odata.bind":"/sxp_orderprofitcenters/@{variables('Order Profit Center Id')}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"2f87f102-749e-4153-9b4a-dd3fd8abf696"},"type":"Foreach"}},"runAfter":{"Create_Order_Profit_Center_Records":["Succeeded"]},"metadata":{"operationMetadataId":"8877b084-40c1-457b-8fb3-bbde37e5a351"},"type":"Scope"}},"runAfter":{},"metadata":{"operationMetadataId":"1433518f-b507-4137-8c71-fe8748557e56"},"type":"Scope"}},"runAfter":{"Get_related_order_products":["Succeeded"]},"metadata":{"operationMetadataId":"4ad9e365-9994-44ac-909c-97ba37956fa2"},"type":"Foreach"},"Remove_Existing_Order_Profit_Center_Records_":{"actions":{"Get_Association_Record_for_Order_Product_Line":{"runAfter":{},"metadata":{"operationMetadataId":"fdbb5aae-c2ce-4f34-a27a-96d8f374cf18"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderproductorderprofitcenterassociations","$filter":"_sxp_order_value eq @{variables('Order Id')}  or _sxp_order_value eq null"},"authentication":"@parameters('$authentication')"}},"Assume_1_Associations_Record":{"foreach":"@outputs('Get_Association_Record_for_Order_Product_Line')?['body/value']","actions":{"Find_Order_Profit_Centers":{"runAfter":{},"metadata":{"operationMetadataId":"441c13d8-1b4b-4352-aed0-7f3bc83f2aae"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprofitcenters","$filter":"sxp_orderprofitcenterid eq @{items('Assume_1_Associations_Record')?['_sxp_orderprofitcenter_value']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Find_Order_Profit_Centers')?['body/value']","actions":{"Delete_Order_Profit_Center_record":{"runAfter":{},"metadata":{"operationMetadataId":"55d2a725-67ac-4f12-8674-b4dc38d0191b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprofitcenters","recordId":"@items('Apply_to_each_3')?['sxp_orderprofitcenterid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_Order_Profit_Centers":["Succeeded"]},"metadata":{"operationMetadataId":"b831f9f5-c15a-4d52-9af4-4f16a415d454"},"type":"Foreach"}},"runAfter":{"Get_Association_Record_for_Order_Product_Line":["Succeeded"]},"metadata":{"operationMetadataId":"f9260d15-f969-4829-9a17-71d8bdb20979"},"type":"Foreach"}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"metadata":{"operationMetadataId":"3471f19a-fa50-477f-a7f9-cd40ef966f1c"},"type":"Scope"},"Get_Commission_Discount_Reduction_Record":{"runAfter":{"Return_Order_or_Terminate_":["Succeeded"]},"metadata":{"operationMetadataId":"ed6311cf-2c46-4743-b710-ca13dc53fd4d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissiondiscountreductions","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_commissiondiscountreduction\">\n    <attribute name=\"sxp_discountrangemin\" />\n    <attribute name=\"sxp_discountrangemax\" />\n    <attribute name=\"sxp_commissionratereduction\" />\n    <attribute name=\"sxp_commissiondiscountreductionid\" />\n    <order attribute=\"sxp_commissionratereduction\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"sxp_discountrangemin\" operator=\"le\" value=\"@{variables('Order Discount Percent')}\" />\n      <condition attribute=\"sxp_discountrangemax\" operator=\"ge\" value=\"@{variables('Order Discount Percent')}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('Get_Commission_Discount_Reduction_Record')?['body/value']","actions":{"Set_Commission_Discount_Reduction":{"runAfter":{},"metadata":{"operationMetadataId":"f4441fa9-dc19-4226-bfbf-9eda1008e6fe"},"type":"SetVariable","inputs":{"name":"Commission Discount Reduction","value":"@items('Apply_to_each_4')?['sxp_commissionratereduction']"}}},"runAfter":{"Get_Commission_Discount_Reduction_Record":["Succeeded"]},"metadata":{"operationMetadataId":"6ae9d184-0785-4d3a-93c8-36ef891a9369"},"type":"Foreach"}},"runAfter":{"If_Configuration_was_found_":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"b535d1f4-2fc0-4e04-b8bf-567ff89c1ca3"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@variables('Configuration Found')",true]},"metadata":{"operationMetadataId":"0fdc1e2d-0664-41ff-b1f1-1a3c31d48d25"},"type":"If"}},"runAfter":{"Initialize_Commission_Discount_Reduction":["Succeeded"]},"metadata":{"operationMetadataId":"ea02bd33-6421-43cc-a018-4db493c37a24"},"type":"Scope"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"8e825762-4258-4613-a005-c212bbeecae0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Configuration Found","type":"boolean","value":"@false"}]}},"Initialize_Department":{"runAfter":{"Initialize_Product_Service_Type":["Succeeded"]},"metadata":{"operationMetadataId":"b1271539-8673-4df9-aa5c-d3e2be93c8d9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Department","type":"string"}]}},"Order_profit_Centre_Name":{"runAfter":{"Initialize_OrderName":["Succeeded"]},"metadata":{"operationMetadataId":"b537bb2a-b17b-40c4-b9c3-a1c9565f7186"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order profit Centre Name","type":"string"}]}},"Initialize_OrderName":{"runAfter":{"Initialize_Department":["Succeeded"]},"metadata":{"operationMetadataId":"86ffa9e2-ef86-4a11-b55d-6086f90b406d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"order Name","type":"string"}]}},"Initialize_Service_Name":{"runAfter":{"Order_profit_Centre_Name":["Succeeded"]},"metadata":{"operationMetadataId":"58ce08b4-9b7c-4072-bc60-1d3c97a8c5d1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Service Name","type":"string"}]}},"Initialize_Commission_Discount_Reduction":{"runAfter":{"Initialize_Service_Name":["Succeeded"]},"metadata":{"operationMetadataId":"57ae9faa-ebe8-446c-9e75-1d40aa318e77"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Commission Discount Reduction","type":"float"}]}}}}},"schemaVersion":"1.0.0.0"}