ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/CreditCheckOverrideApproval-823B8D15-9016-EC11-B6E7-000D3A09D4A7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedapprovals_e5da9"},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"28d71e38-e13b-4e56-a144-59be26e45fd7"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sxp_creditcheckoverride","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_approvalstatus","subscriptionRequest/filterexpression":"sxp_approvalstatus eq 275450002"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Credit_Check_Override_Record":{"runAfter":{"Initialize_approvers_array":["Succeeded"]},"metadata":{"operationMetadataId":"3d40aa4c-7c22-4b44-b059-225d1914f6b9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrides","recordId":"@triggerOutputs()?['body/sxp_creditcheckoverrideid']"},"authentication":"@parameters('$authentication')"}},"Get_team_user_emails":{"runAfter":{"Get_Credit_Check_Record":["Succeeded"]},"metadata":{"operationMetadataId":"e0488a2b-cd4b-4c3c-abcc-7c6e92ade177"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","fetchXml":"<fetch mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\" distinct=\"true\" > \n  <entity name=\"systemuser\" > \n    <attribute name=\"fullname\" /> \n    <attribute name=\"systemuserid\" /> \n    <attribute name=\"internalemailaddress\" /> \n    <order descending=\"false\" attribute=\"fullname\" /> \n    <link-entity name=\"teammembership\" visible=\"false\" to=\"systemuserid\" from=\"systemuserid\" intersect=\"true\" > \n      <link-entity name=\"team\" to=\"teamid\" from=\"teamid\" alias=\"ac\" > \n        <filter type=\"and\" > \n          <condition value=\"@{outputs('Get_Credit_Check_Override_Record')?['body/_sxp_approverteam_value']}\" attribute=\"teamid\" operator=\"eq\" /> \n        </filter> \n      </link-entity> \n    </link-entity> \n  </entity> \n</fetch> "},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_URL":["Succeeded"]},"metadata":{"operationMetadataId":"d279c873-ba4c-48da-99b7-55239188fce2"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Advantage - Credit Check Override Request - Order @{outputs('Get_Order_Record')?['body/ordernumber']}","WebhookApprovalCreationInput/assignedTo":"@{body('Create_approvers_string')};","WebhookApprovalCreationInput/details":"| Criteria | Value |\n|--|--|\n| Credit Score | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_creditscore']} |\n| Income | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_income']} |\n| Increase Amount | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_increaseamount']} |\n| Percent of Income | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_percentofincome']} |\n| Service Type | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_servicetype']} |\n| Number of Systems | @{outputs('Get_Credit_Check_Override_Record')?['body/sxp_numberofsystems']} |","WebhookApprovalCreationInput/itemLink":"@{outputs('Get_URL')}/main.aspx?appid=e7d0d959-ba04-ec11-b6e7-000d3af410ab&pagetype=entityrecord&etn=sxp_creditcheckoverride&id=@{triggerOutputs()?['body/sxp_creditcheckoverrideid']}","WebhookApprovalCreationInput/itemLinkDescription":"Credit Check Override","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Order_Record":{"runAfter":{"Get_Credit_Check_Override_Record":["Succeeded"]},"metadata":{"operationMetadataId":"589608f3-f577-4fc0-836f-ec920a995c64"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_Credit_Check_Override_Record')?['body/_sxp_order_value']"},"authentication":"@parameters('$authentication')"}},"Get_Credit_Check_Record":{"runAfter":{"Get_Order_Record":["Succeeded"]},"metadata":{"operationMetadataId":"abc49e5c-c0f7-4329-8f91-b4c126999e50"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_Order_Record')?['body/_sxp_creditcheck_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_team_user_emails')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a4c6fc6c-3eb4-478e-adb4-b5100e3c918e"},"type":"AppendToArrayVariable","inputs":{"name":"approvers","value":"@items('Apply_to_each')?['internalemailaddress']"}}},"runAfter":{"Get_team_user_emails":["Succeeded"]},"metadata":{"operationMetadataId":"a3c756b5-b207-4ff4-9f35-5124bb260de0"},"type":"Foreach"},"Initialize_approvers_array":{"runAfter":{},"metadata":{"operationMetadataId":"6516ae7c-cbc9-4fc9-8c8c-28d74ea4e66e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"approvers","type":"array"}]}},"Create_approvers_string":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"5eda5a60-e4a0-47f0-be89-09da56142919"},"type":"Join","inputs":{"from":"@variables('approvers')","joinWith":";"}},"Get_URL":{"runAfter":{"Create_approvers_string":["Succeeded"]},"metadata":{"operationMetadataId":"bf00e574-5147-4527-b3f5-8df36dba3e30"},"type":"Compose","inputs":"@substring(outputs('Get_Order_Record')?['body/@odata.id'], 0, indexOf(outputs('Get_Order_Record')?['body/@odata.id'],'/api/'))"},"Condition":{"actions":{"Update_Credit_Check_Override_-_Approve":{"runAfter":{},"metadata":{"operationMetadataId":"1b6c8186-ee87-4ba4-a008-683e068c15ca"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrides","recordId":"@outputs('Get_Credit_Check_Override_Record')?['body/sxp_creditcheckoverrideid']","item/sxp_approvallink":"@outputs('Start_and_wait_for_an_approval')?['body/itemLink']","item/sxp_approvalstatus":275450000},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Calculate_override_amount":["Succeeded"]},"metadata":{"operationMetadataId":"eb9be638-1b21-4493-9199-1424e906f586"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_Order_Record')?['body/_sxp_creditcheck_value']","item/sxp_remainingamount":"@outputs('Calculate_remaining_amount')","item/sxp_override":true},"authentication":"@parameters('$authentication')"}},"Calculate_remaining_amount":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"a4def9b2-a577-4e94-b811-e5dd30f0efb0"},"type":"Compose","inputs":"@add(outputs('Get_Credit_Check_Record')?['body/sxp_remainingamount'], outputs('Update_Credit_Check_Override_-_Approve')?['body/sxp_increaseamount'])"},"Calculate_override_amount":{"runAfter":{"Calculate_remaining_amount":["Succeeded"]},"metadata":{"operationMetadataId":"e2e8fe33-8fb2-446e-8624-0d1d4cf1f158"},"type":"Compose","inputs":"@add(outputs('Get_Credit_Check_Record')?['body/sxp_amount'],outputs('Update_Credit_Check_Override_-_Approve')?['body/sxp_increaseamount'])"},"List_rows":{"runAfter":{"Update_Credit_Check_Override_-_Approve":["Succeeded"]},"metadata":{"operationMetadataId":"47cf4031-25f1-416e-857d-98c821a71ebe"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrideprocessings","$filter":"_bpf_sxp_creditcheckoverrideid_value eq @{triggerOutputs()?['body/sxp_creditcheckoverrideid']}","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Update_Stage_to_next":{"runAfter":{},"metadata":{"operationMetadataId":"62a68b4e-c9d4-4640-a705-5cdada0592c2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrideprocessings","recordId":"@items('Apply_to_each_2')?['businessprocessflowinstanceid']","item/activestageid@odata.bind":"/processstages(02a294f2-e852-457a-b151-4b327cf70bde)","item/activestagestartedon":"@utcNow()","item/traversedpath":"49d1fff7-95f7-449f-9d78-ba2e9578edbf,02a294f2-e852-457a-b151-4b327cf70bde"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"1ae48e2f-ef5d-41bb-8dc2-301009dccb70"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_Credit_Check_Override_-_Reject":{"runAfter":{},"metadata":{"operationMetadataId":"65ad13bb-19fd-4be1-b4d1-734c3b379a3c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrides","recordId":"@outputs('Get_Credit_Check_Override_Record')?['body/sxp_creditcheckoverrideid']","item/sxp_approvallink":"@outputs('Start_and_wait_for_an_approval')?['body/itemLink']","item/sxp_approvalstatus":275450001},"authentication":"@parameters('$authentication')"}},"List_rows_2":{"runAfter":{"Update_Credit_Check_Override_-_Reject":["Succeeded"]},"metadata":{"operationMetadataId":"8a2135de-4663-47ea-890e-8613d3bb3c56"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrideprocessings","$filter":"_bpf_sxp_creditcheckoverrideid_value eq @{triggerOutputs()?['body/sxp_creditcheckoverrideid']}","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_rows_2')?['body/value']","actions":{"Update_Stage_to_Finished":{"runAfter":{},"metadata":{"operationMetadataId":"e1967fb1-a66c-4af7-b00f-3db0ac3f2abb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditcheckoverrideprocessings","recordId":"@items('Apply_to_each_3')?['businessprocessflowinstanceid']","item/completedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_2":["Succeeded"]},"metadata":{"operationMetadataId":"6b1598d9-220e-4ada-83a4-015e87ee9279"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"044759e5-4430-444e-aa7b-a0b566fdfee3"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}