ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/Enercare-UpdateCommissionFieldsonupdateofrelatedor-424C54CE-A325-EC11-B6E6-000D3A09D7FF.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_InstallDate_and_PaymentDate_fields_are_modified_on_Order_record":{"metadata":{"operationMetadataId":"2ea39914-e2f9-435d-b931-dcc667f35895"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_actualinstalldate,sxp_paymentreceiveddate"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_related_commissions":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9b1636f3-0e70-4b2c-8efd-f5c494326033"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","$filter":"_sxp_salesorder_value eq @{triggerOutputs()?['body/salesorderid']}"},"authentication":"@parameters('$authentication')"}},"Initialize_Variable_to_store_Diff._of_Days":{"runAfter":{},"metadata":{"operationMetadataId":"d650ab63-6235-4e09-a440-e1d149b434b8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NumberOfDays","type":"integer"}]},"description":"This Variable will store the diff in days between Install date and Payment Date"},"Initialize_variable":{"runAfter":{"Initialize_Variable_to_store_Diff._of_Days":["Succeeded"]},"metadata":{"operationMetadataId":"bb3584a7-ecf6-4b4f-a3a8-0d872c9e58ba"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamType","type":"integer"}]}},"Apply_to_each":{"foreach":"@outputs('List_related_commissions')?['body/value']","actions":{"Update_a_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"a889e299-e46f-41fb-a8b3-de925a4dc90e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","recordId":"@items('Apply_to_each')?['sxp_commissionsid']","item/sxp_installdate":"@if(equals(triggerOutputs()?['body/sxp_actualinstalldate'],''),'',triggerOutputs()?['body/sxp_actualinstalldate'])","item/sxp_paymentrecieveddate":"@if(equals(triggerOutputs()?['body/sxp_paymentreceiveddate'],''),'',triggerOutputs()?['body/sxp_paymentreceiveddate'])"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_related_commissions":["Succeeded"]},"metadata":{"operationMetadataId":"1ccdab1e-86c8-409e-b9e1-c8efffd90a42"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}