ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/Enercare-UpdateOrderstatustoExpired-686B52A0-7310-EC11-B6E6-000D3A09C993.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_Everyday_at_Midnight":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["0"]}},"metadata":{"operationMetadataId":"71b315cd-4eeb-4a70-8947-e57bd4a960ea"},"type":"Recurrence"}},"actions":{"Fetch_Configuration_Record_-_Orders_Expiry_Days":{"runAfter":{},"metadata":{"operationMetadataId":"18133b04-9833-4210-9a6d-0d317ca6f6d0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","$select":"sxp_value","$filter":"sxp_configurationid eq dc162bca-fd0e-ec11-b6e6-000d3a09c993"},"authentication":"@parameters('$authentication')"}},"Get_Current_Date_Time":{"runAfter":{"Fetch_Configuration_Record_-_Orders_Expiry_Days":["Succeeded"]},"metadata":{"operationMetadataId":"a0fdd143-066b-4853-aadb-fb7b7aaa16e5"},"type":"Compose","inputs":"@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.fffffffK')"},"Order_Expiry_Days(Typecast)":{"runAfter":{"Get_Current_Date_Time":["Succeeded"]},"metadata":{"operationMetadataId":"fd2a6b91-cb71-4449-80ec-9cc59bd989da"},"type":"Compose","inputs":"@int(outputs('Fetch_Configuration_Record_-_Orders_Expiry_Days')?['body/value'][0]?['sxp_value'])"},"Difference_Current_date_and_Order_Expiry_days":{"runAfter":{"Order_Expiry_Days(Typecast)":["Succeeded"]},"metadata":{"operationMetadataId":"955ddd53-2485-4193-8d74-e1726d4e2a84"},"type":"Compose","inputs":"@subtractFromTime(outputs('Get_Current_Date_Time'),outputs('Order_Expiry_Days(Typecast)'),'Day')"},"Fetch_Orders":{"runAfter":{"Difference_Current_date_and_Order_Expiry_days":["Succeeded"]},"metadata":{"operationMetadataId":"2ef202d0-aa7b-4461-a925-98114199daf3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","$filter":"statuscode eq 1 and createdon le @{outputs('Difference_Current_date_and_Order_Expiry_days')}"},"authentication":"@parameters('$authentication')"}},"Update_order_status_to_expired":{"foreach":"@outputs('Fetch_Orders')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"6d71e3be-dad3-4cf2-938a-a4a9f6c4c0d4"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@items('Update_order_status_to_expired')?['salesorderid']","item/statuscode":275450003,"item/statecode":4},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Fetch_Orders":["Succeeded"]},"metadata":{"operationMetadataId":"b2eb94f0-dbd1-49ff-b40d-d52f68ac2184"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}