ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/EnhanceSharePointMetadata-C269E63A-3740-EC11-8C62-000D3A09E210.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedsharepointonline_8dd79"},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"688bd34d-20ba-414a-88b6-f6b7bbfd31fd"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","table":"c4e9d068-3964-4c34-bf50-3106bbef5c9e"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_file_properties_2":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"33462647-6fc5-4ded-b51e-14f24c13c855"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","table":"c4e9d068-3964-4c34-bf50-3106bbef5c9e","id":"@triggerOutputs()?['body/ID']","item/Customer_x0020_Name":"@{outputs('Get_a_row_by_ID')?['body/sxp_firstname']}@{outputs('Get_a_row_by_ID')?['body/sxp_lastname']}","item/CustomerNumber":"@outputs('Get_a_row_by_ID')?['body/accountnumber']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"0364d27b-dfa2-42be-a255-09ee32602836"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountString","type":"string"}]}},"Compose":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"c69e59ac-a2bb-4075-8a99-d1392d229dec"},"type":"Compose","inputs":"@split(triggerOutputs()?['body/{Path}'], '/')"},"Set_variable":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"7d92d090-f523-4155-821e-0aa2ac500649"},"type":"SetVariable","inputs":{"name":"AccountString","value":"@{outputs('Compose')?[1]}"}},"Get_a_row_by_ID":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"9f660f24-b31b-4cf5-a022-4f22ff861d37"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@variables('AccountGuid')"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"c0805943-1f79-4281-b955-6ba6eac4c2a9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountGuid","type":"string"}]}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"bfe890bb-5d12-4cc8-996e-f321f2fa550c"},"type":"SetVariable","inputs":{"name":"AccountGuid","value":"@{concat(substring(substring(variables('AccountString'), sub(length(variables('AccountString')), 32), 32),0,8),'-',\r\nsubstring(substring(variables('AccountString'), sub(length(variables('AccountString')), 32), 32),8,4),'-',\r\nsubstring(substring(variables('AccountString'), sub(length(variables('AccountString')), 32), 32),12,4),'-',\r\nsubstring(substring(variables('AccountString'), sub(length(variables('AccountString')), 32), 32),16,4),'-',\r\nsubstring(substring(variables('AccountString'), sub(length(variables('AccountString')), 32), 32),20,12),'')}"}}}}},"schemaVersion":"1.0.0.0"}