ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/ExpirationofCreditCheck-54A649E0-8D05-EC11-B6E7-000D3AF45BA0.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_Everyday_at_0:01":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Pacific Standard Time","schedule":{"hours":["0"],"minutes":[1]}},"metadata":{"operationMetadataId":"fd1541c2-c28e-4c23-8f33-c8f602ef7cc9"},"type":"Recurrence"}},"actions":{"List_Configuration_Records":{"runAfter":{},"metadata":{"operationMetadataId":"5a5bd8c5-5b55-45d0-ae1d-f3a6214ad46c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_configurations","$select":"sxp_value","$filter":"sxp_name eq 'CreditCheck.EffectiveDaysForDeactivation'"},"authentication":"@parameters('$authentication')"}},"Get_All_active_Credit_Checks":{"runAfter":{"Get_Effective_Date":["Succeeded"]},"metadata":{"operationMetadataId":"82eabfae-bf7b-4a61-a683-9a33109a59f2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","$filter":"statecode eq 0 and sxp_dateperformed lt @{outputs('Get_Effective_Date')}"},"authentication":"@parameters('$authentication')"}},"Get_Effective_Days":{"runAfter":{"List_Configuration_Records":["Succeeded"]},"metadata":{"operationMetadataId":"c247c1d1-5540-4e53-9764-2c997ce5d088"},"type":"Compose","inputs":"@int(outputs('List_Configuration_Records')?['body/value'][0]?['sxp_value'])"},"Get_Negative_Effective_Days":{"runAfter":{"Get_Effective_Days":["Succeeded"]},"metadata":{"operationMetadataId":"1aa18da2-289f-4108-9087-9ae79c35665f"},"type":"Compose","inputs":"@mul(outputs('Get_Effective_Days'),-1)"},"Get_Effective_Date":{"runAfter":{"Get_Negative_Effective_Days":["Succeeded"]},"metadata":{"operationMetadataId":"0ee2f10a-8739-40f0-a9b4-1a67a3a24546"},"type":"Compose","inputs":"@addDays(startofday(utcNow()),outputs('Get_Negative_Effective_Days'))"},"Apply_to_each":{"foreach":"@outputs('Get_All_active_Credit_Checks')?['body/value']","actions":{"List_Active_Order":{"runAfter":{},"metadata":{"operationMetadataId":"d32f0954-ce34-476b-86ed-ead84a74b1fb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","$filter":"statecode eq 0 and _sxp_creditcheck_value eq '@{items('Apply_to_each')?['sxp_creditcheckid']}'"},"authentication":"@parameters('$authentication')"}},"Check_if_there_is_any_active_order":{"actions":{"Deactivate_the_Credit_Check":{"runAfter":{},"metadata":{"operationMetadataId":"5c33d9fe-9077-4064-9b32-0c7043d52a39"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@items('Apply_to_each')?['sxp_creditcheckid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Active_Order":["Succeeded"]},"expression":{"equals":["@length(outputs('List_Active_Order')?['body/value'])",0]},"metadata":{"operationMetadataId":"039f42bc-7e76-408d-892e-7c8c8f376ff3"},"type":"If"}},"runAfter":{"Get_All_active_Credit_Checks":["Succeeded"]},"metadata":{"operationMetadataId":"c44d901a-4e50-4318-8a0a-5d14ea6d70e5"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}