ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/GenerateCSVfileforSpiffs-BA248163-C825-EC11-B6E6-000D3A09D7FF.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedsharepointonline_8dd79"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_payout_week_record__is_processed":{"metadata":{"operationMetadataId":"83444ec5-62e0-4fa8-a935-66b7f4251cf5"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sxp_payoutweek","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"sxp_processed eq true","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"List_all_Spiffs_related_to_Payout_Week":{"runAfter":{},"metadata":{"operationMetadataId":"db087efe-0d2d-4c99-854d-6a1e03a8502f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_spiffs","$filter":"_sxp_payoutweek_value eq @{triggerOutputs()?['body/sxp_payoutweekid']}","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_spiff\">\n    <attribute name=\"sxp_spiffid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"createdon\" />\n    <attribute name=\"statuscode\" />\n    <attribute name=\"sxp_starsticketnumber\" />\n    <attribute name=\"sxp_spiffamount\" />\n    <attribute name=\"sxp_payoutweek\" />\n    <attribute name=\"sxp_departmentnumber\" />\n    <order attribute=\"sxp_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"createdby\" link-type=\"outer\" alias=\"user\">\n      <attribute name=\"sxp_wagestype\" />\n      <attribute name=\"sxp_starsarea\" />\n      <attribute name=\"sxp_paycycle\" />\n      <attribute name=\"lastname\" />\n      <attribute name=\"sxp_exponenthr\" />\n      <link-entity name=\"sxp_servicecenter\" from=\"sxp_servicecenterid\" to=\"sxp_primaryservicecenter\" link-type=\"outer\" alias=\"aa\">\n\t   <attribute name=\"sxp_centername\" />\n\t\t<attribute name=\"sxp_centernumber\" />\n                 <attribute name=\"sxp_starsareanumber\" />\n      </link-entity>\n    </link-entity>\n <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"sxp_relatedorder\" link-type=\"outer\" alias=\"ad\">\n      <link-entity name=\"account\" from=\"accountid\" to=\"customerid\" link-type=\"outer\" alias=\"ae\">\n\t  <attribute name=\"sxp_lastname\" />\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"7876a1b9-eaf5-4276-8864-29ee8e81bdf8"},"type":"ParseJson","inputs":{"content":"@outputs('List_all_Spiffs_related_to_Payout_Week')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"_transactioncurrencyid_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_transactioncurrencyid_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_transactioncurrencyid_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_transactioncurrencyid_value@odata.type":{"type":"string"},"_transactioncurrencyid_value":{"type":"string"},"sxp_name":{"type":"string"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"sxp_spiffid@odata.type":{"type":"string"},"sxp_spiffid":{"type":"string"},"_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_sxp_payoutweek_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_sxp_payoutweek_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_sxp_payoutweek_value@odata.type":{"type":"string"},"_sxp_payoutweek_value":{"type":"string"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statuscode":{"type":"integer"},"sxp_spiffamount@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_spiffamount@odata.type":{"type":"string"},"sxp_spiffamount":{"type":"integer"},"aa.sxp_centername@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_centername":{"type":"string"},"aa.sxp_starsareanumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_starsareanumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"aa.sxp_starsareanumber":{"type":"integer"},"user.lastname@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.lastname":{"type":"string"},"aa.sxp_centernumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_centernumber":{"type":"string"},"transactioncurrencyid@odata.associationLink":{"type":"string"},"transactioncurrencyid@odata.navigationLink":{"type":"string"},"sxp_payoutweek@odata.associationLink":{"type":"string"},"sxp_payoutweek@odata.navigationLink":{"type":"string"}},"required":["sxp_spiffid"]}}}},"Select":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a4009bf6-26cd-4f11-af1f-e8379706a24a"},"type":"Select","inputs":{"from":"@body('Parse_JSON')","select":{"Area Number":"@if(equals(item()?['aa.sxp_starsareanumber'],null),'',item()?['aa.sxp_starsareanumber'])","Stars#":"@if(equals(item()?['user.sxp_starsarea'],null),'',item()?['user.sxp_starsarea'])","Last Name":"@if(equals(item()?['user.lastname'],null),'',item()?['user.lastname'])","Center Sold for #":"@if(equals(item()?['aa.sxp_centernumber'],null),'',item()?['aa.sxp_centernumber'])","Job Status":"@item()?['statuscode@OData.Community.Display.V1.FormattedValue']","Paycycle":"@if(equals(item()?['user.sxp_paycycle@OData.Community.Display.V1.FormattedValue'],null),'',item()?['user.sxp_paycycle@OData.Community.Display.V1.FormattedValue'])","Wage Type":"@if(equals(item()?['user.sxp_wagestype'],null),'',item()?['user.sxp_wagestype'])","RSC Payment Period":"@if(equals(item()?['_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue'],null),'',item()?['_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue'])","Department Number":"@if(equals(item()?['sxp_departmentnumber@OData.Community.Display.V1.FormattedValue'],null),'',item()?['sxp_departmentnumber@OData.Community.Display.V1.FormattedValue'])","Customer Last Name":"@if(equals(item()?['ae.sxp_lastname'],null),'',item()?['ae.sxp_lastname'])","Job# /ticket #":"@if(equals(item()?['sxp_starsticketnumber'],null),'',item()?['sxp_starsticketnumber'])","Spiff Amount":"@if(equals(item()?['sxp_spiffamount'],null),'',item()?['sxp_spiffamount'])","Exponent HR#":"@if(equals(item()?['user.sxp_exponenthr'],null),'',item()?['user.sxp_exponenthr'])"}}},"Create_CSV_table":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"f9d75a1c-4b64-4359-a25f-36cb2c88d875"},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Compose":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"bd870a24-45de-4f7e-8482-de68fe17d855"},"type":"Compose","inputs":"@replace(triggerOutputs()?['body/sxp_name'], ' # ', '')"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"269c6592-420b-49ce-91e1-310a94b3df9f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","folderPath":"/Documents/PayoutWeek_Spiffs","name":"@{concat(utcNow('yyyy-MM-ddTHH:mm:ss'), '_', outputs('Compose'), '_spiffs')}.csv","body":"@body('Create_CSV_table')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"List_all_Spiffs_related_to_Payout_Week":["Succeeded"]},"expression":{"equals":["@empty(body('List_all_Spiffs_related_to_Payout_Week')?['value'])",false]},"metadata":{"operationMetadataId":"75333e53-7f1d-4cd5-96c9-0b4e745a2194"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('List_all_Spiffs_related_to_Payout_Week')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"dcb3286c-c408-4565-86ea-bbd42d6d8f27"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_spiffs","recordId":"@items('Apply_to_each')?['sxp_spiffid']","item/statecode":1,"item/statuscode":275450003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"f5deb5ad-edb6-4d81-b56f-e451739354c2"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}