ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/GenerateCSVfileforCommissions-4464D8CD-AC25-EC11-B6E6-000D3A09D416.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedsharepointonline_8dd79"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_payout_week_record__is_processed":{"metadata":{"operationMetadataId":"077e3f4f-292f-4791-919f-9d8502c2d0f1"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sxp_payoutweek","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"sxp_processed eq true","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"List_all_Commission_related_to_Payout_Week":{"runAfter":{},"metadata":{"operationMetadataId":"60154a24-36b4-400d-8989-a20dfd020c75"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","$filter":"_sxp_payoutweek_value eq @{triggerOutputs()?['body/sxp_payoutweekid']}","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_commissions\">\n    <attribute name=\"sxp_commissionsid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"statuscode\" />\n    <attribute name=\"sxp_payoutweek\" />\n    <attribute name=\"sxp_commissionpayablenew\" />\n    <attribute name=\"sxp_installdate\" />\n  <attribute name=\"sxp_commissionamount\" />\n\n    <order attribute=\"sxp_name\" descending=\"false\" />\n<filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"sxp_salesagent\" visible=\"false\" link-type=\"outer\" alias=\"user\">\n   \n      <attribute name=\"lastname\" />\n      <attribute name=\"sxp_exponenthr\" />\n      <attribute name=\"sxp_wagestype\" />\n      <attribute name=\"sxp_paycycle\" />\n       <attribute name=\"sxp_starsarea\" />\n    </link-entity>\n    <link-entity name=\"salesorder\" from=\"salesorderid\" to=\"sxp_salesorder\" link-type=\"outer\" alias=\"order\">\n      <attribute name=\"sxp_starsticketnumber\" />\n<link-entity name=\"sxp_orderprofitcenter\" from=\"sxp_order\" to=\"salesorderid\" link-type=\"inner\" alias=\"od\" >\n<attribute name=\"sxp_department\" />\n<attribute name=\"sxp_commissionamount\" />\n<attribute name=\"sxp_starsticketnumber\" />\n\n</link-entity>\n      <link-entity name=\"sxp_servicecenter\" from=\"sxp_servicecenterid\" to=\"sxp_center\" link-type=\"outer\" alias=\"aa\">\n\t  <attribute name=\"sxp_centername\" />\n      <attribute name=\"sxp_centernumber\" /> \n        <attribute name=\"sxp_starsareanumber\" />         \n      </link-entity>\n      <link-entity name=\"account\" from=\"accountid\" to=\"customerid\" link-type=\"outer\" alias=\"ab\">\n\t  <attribute name=\"sxp_lastname\" />\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Parse_JSON_2":{"runAfter":{},"metadata":{"operationMetadataId":"90f11d0b-8f5d-46f0-9c36-204f13db9195"},"type":"ParseJson","inputs":{"content":"@outputs('List_all_Commission_related_to_Payout_Week')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"sxp_name":{"type":"string"},"sxp_commissionamount@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_commissionamount@odata.type":{"type":"string"},"sxp_commissionamount":{"type":"integer"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statuscode":{"type":"integer"},"_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_sxp_payoutweek_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_sxp_payoutweek_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_sxp_payoutweek_value@odata.type":{"type":"string"},"_sxp_payoutweek_value":{"type":"string"},"sxp_commissionsid@odata.type":{"type":"string"},"sxp_commissionsid":{"type":"string"},"sxp_commissionpayablenew@OData.Community.Display.V1.FormattedValue":{"type":"string"},"sxp_commissionpayablenew@odata.type":{"type":"string"},"sxp_commissionpayablenew":{"type":"integer"},"_transactioncurrencyid_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_transactioncurrencyid_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_transactioncurrencyid_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_transactioncurrencyid_value@odata.type":{"type":"string"},"_transactioncurrencyid_value":{"type":"string"},"aa.sxp_centername@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_centername":{"type":"string"},"user.lastname@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.lastname":{"type":"string"},"aa.sxp_centernumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_centernumber":{"type":"string"},"aa.sxp_starsareanumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"aa.sxp_starsareanumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"aa.sxp_starsareanumber":{"type":"integer"},"ab.sxp_lastname@OData.Community.Display.V1.AttributeName":{"type":"string"},"ab.sxp_lastname":{"type":"string"},"sxp_PayoutWeek@odata.associationLink":{"type":"string"},"sxp_PayoutWeek@odata.navigationLink":{"type":"string"},"transactioncurrencyid@odata.associationLink":{"type":"string"},"transactioncurrencyid@odata.navigationLink":{"type":"string"},"od.sxp_department@OData.Community.Display.V1.AttributeName":{"type":"string"},"od.sxp_department":{"type":"string"},"user.sxp_paycycle@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.sxp_paycycle@OData.Community.Display.V1.FormattedValue":{"type":"string"},"user.sxp_paycycle":{"type":"integer"},"od.transactioncurrencyid@OData.Community.Display.V1.AttributeName":{"type":"string"},"od.transactioncurrencyid@OData.Community.Display.V1.FormattedValue":{"type":"string"},"od.transactioncurrencyid@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"od.transactioncurrencyid@odata.type":{"type":"string"},"od.transactioncurrencyid":{"type":"string"},"user.sxp_starsarea@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.sxp_starsarea":{"type":"string"},"od.sxp_starsticketnumber@OData.Community.Display.V1.AttributeName":{"type":"string"},"od.sxp_starsticketnumber":{"type":"string"},"user.sxp_exponenthr@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.sxp_exponenthr":{"type":"string"},"user.sxp_wagestype@OData.Community.Display.V1.AttributeName":{"type":"string"},"user.sxp_wagestype":{"type":"string"},"od.sxp_commissionamount@OData.Community.Display.V1.AttributeName":{"type":"string"},"od.sxp_commissionamount@OData.Community.Display.V1.FormattedValue":{"type":"string"},"od.sxp_commissionamount@odata.type":{"type":"string"},"od.sxp_commissionamount":{"type":"number"}},"required":[]}}}},"Select_2":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"d7db4bd6-6178-4a42-b304-3264fe556066"},"type":"Select","inputs":{"from":"@body('Parse_JSON_2')","select":{"Paycycle":"@if(equals(item()?['user.sxp_paycycle@OData.Community.Display.V1.FormattedValue'],null),'',item()?['user.sxp_paycycle@OData.Community.Display.V1.FormattedValue'])","Area Number":"@if(equals(item()?['aa.sxp_starsareanumber@OData.Community.Display.V1.FormattedValue'],null),'',item()?['aa.sxp_starsareanumber@OData.Community.Display.V1.FormattedValue'])","Stars#":"@if(equals(item()?['user.sxp_starsarea'],null),'',item()?['user.sxp_starsarea'])","Last Name":"@if(equals(item()?['user.lastname'],null),'',item()?['user.lastname'])","Date Installed":"@if(equals(item()?['sxp_installdate@OData.Community.Display.V1.FormattedValue'],null),'',item()?['sxp_installdate@OData.Community.Display.V1.FormattedValue'])","Wage Type":"@if(equals(item()?['user.sxp_wagestype'],null),'',item()?['user.sxp_wagestype'])","Job Status":"@item()?['statuscode@OData.Community.Display.V1.FormattedValue']","RSC Payment Period":"@if(equals(item()?['_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue'],null),'',item()?['_sxp_payoutweek_value@OData.Community.Display.V1.FormattedValue'])","Center Sold for #":"@if(equals(item()?['aa.sxp_centernumber'],null),'',item()?['aa.sxp_centernumber'])","Job# /ticket #":"@if(equals(item()?['od.sxp_starsticketnumber'],null),'',item()?['od.sxp_starsticketnumber'])","Commission Payable":"@if(equals(item()?['od.sxp_commissionamount'],null),'',item()?['od.sxp_commissionamount'])","Department Number":"@if(equals(item()?['od.sxp_department'],null),'',item()?['od.sxp_department'])","Customer Last Name":"@if(equals(item()?['ab.sxp_lastname'],null),'',item()?['ab.sxp_lastname'])","Exponent HR#":"@if(equals(item()?['user.sxp_exponenthr'],null),'',item()?['user.sxp_exponenthr'])"}}},"Create_CSV_table":{"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"33811152-33ee-4c78-9912-af5a9b2180c3"},"type":"Table","inputs":{"from":"@body('Select_2')","format":"CSV"}},"Compose":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"b17a5e2a-9c84-4f8a-8ae8-806dc5248447"},"type":"Compose","inputs":"@replace(triggerOutputs()?['body/sxp_name'],' # ','')"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"eacaae40-c861-4566-83db-acdbb51904ff"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","folderPath":"/Documents/PayoutWeek_Commissions","name":"@{concat(utcNow('yyyy-MM-ddTHH:mm:ss'),'_',outputs('Compose'),'_commissions')}.csv","body":"@body('Create_CSV_table')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"List_all_Commission_related_to_Payout_Week":["Succeeded"]},"expression":{"equals":["@empty(body('List_all_Commission_related_to_Payout_Week')?['value'])",false]},"metadata":{"operationMetadataId":"9918e0ce-53ca-4162-9d75-4b1ccd84297c"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('List_all_Commission_related_to_Payout_Week')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"0a059948-9e31-4f4f-85a8-55382e00af39"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_commissionses","recordId":"@items('Apply_to_each')?['sxp_commissionsid']","item/statecode":1,"item/statuscode":275450007},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"881cd6c2-6cdd-483a-816e-f21ab01fc75b"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}