ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/GenericProductUpdateExtendedAmount-5A599D57-A65E-EC11-8F8E-000D3A09F978.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"9a60c400-05d8-4696-9649-231c75334e35"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"salesorderdetail","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_a_row_by_ID":{"runAfter":{},"metadata":{"operationMetadataId":"9f4f0b9a-66ba-47de-8ab7-3c4a6ff0008b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@triggerOutputs()?['body/_productid_value']","$select":"sxp_generic"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"26a0c50f-25ae-4b50-aaf6-660d65f1be21"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorderdetails","recordId":"@triggerOutputs()?['body/salesorderdetailid']","item/extendedamount":"@mul(triggerOutputs()?['body/quantity'],triggerOutputs()?['body/priceperunit'])"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"expression":{"equals":["@outputs('Get_a_row_by_ID')?['body/sxp_generic']","@true"]},"metadata":{"operationMetadataId":"678f3129-fe12-4be8-a44f-099948ea1d48"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}