ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/OrderSignedAgreementUploadtoSharePointNonDigitalSi-D9069E31-4F4D-EC11-8F8E-0022486DFDD7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"d569a29d-da98-4a76-b4dd-aab6a8f0c109"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_wetsignatureagreement"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Download_a_file_or_an_image":{"runAfter":{},"metadata":{"operationMetadataId":"ac0d181f-4ca3-4ea4-b50b-844300993153"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","fileImageFieldName":"sxp_wetsignatureagreement"},"authentication":"@parameters('$authentication')"}},"Get_a_row_by_ID":{"runAfter":{"Download_a_file_or_an_image":["Succeeded"]},"metadata":{"operationMetadataId":"8618f917-aac0-46a6-8de4-b4dd13175ccc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_row_by_ID_2":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"37c79343-4291-4510-9dae-1a37b1ad0ca1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","$select":"sxp_wetsignatureagreement,sxp_wetsignatureagreement_name"},"authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"Get_a_row_by_ID_2":["Succeeded"]},"metadata":{"operationMetadataId":"93e3ff36-274b-42a8-9e2d-4da203d877d5"},"type":"ParseJson","inputs":{"content":"@body('Get_a_row_by_ID_2')","schema":{"type":"object","properties":{"sxp_wetsignatureagreement_name":{"type":"string"}}}}},"Create_file":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"587c972d-1904-4ad2-b018-1ec573b9fae7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","folderPath":"/account/@{concat(trim(outputs('Get_a_row_by_ID')?['body/name']),'_',replace(outputs('Get_a_row_by_ID')?['body/accountid'],'-',''),'/salesorder/',triggerOutputs()?['body/ordernumber'],'_',replace(triggerOutputs()?['body/salesorderid'],'-',''))}","name":"@body('Parse_JSON')?['sxp_wetsignatureagreement_name']","body":"@body('Download_a_file_or_an_image')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"5b111267-9f53-4ed3-ad4f-c18af060667d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","table":"c4e9d068-3964-4c34-bf50-3106bbef5c9e","id":"@outputs('Create_file')?['body/ItemId']","item/Document_x0020_Type":"Signed Agreement"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row_by_ID_3":["Succeeded"]},"expression":{"and":[{"equals":["@outputs('Get_a_row_by_ID_3')?['body/sxp_customercomfortablesigningdigitally']",275450000]},{"not":{"equals":["@triggerOutputs()?['body/sxp_wetsignatureagreement']","@null"]}}]},"metadata":{"operationMetadataId":"6b826d65-ee0b-424b-8c76-36663e06c05e"},"type":"If"},"Get_a_row_by_ID_3":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"42d11f20-69c7-4a39-82f4-a31bfc3b722d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"f88391c5-c3fb-4ab3-b812-9d791ffb90b6"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}}}}},"schemaVersion":"1.0.0.0"}