ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/OrderRemoteCreditCheck-37BC7701-EB2C-EC11-B6E6-0022486DCCDD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a95e2374-b3d3-4d67-8018-2746a5db5144"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"orderId":{"type":"string"},"creditcheckUrl":{"type":"string"}}},"method":"POST"}}},"actions":{"Get_Order":{"runAfter":{},"metadata":{"operationMetadataId":"6079b65c-32a4-47ab-b53b-ba843e768450"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerBody()?['orderId']","$expand":"customerid_account($select=emailaddress1,name)"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"32d32f9a-1985-4d75-bc0a-8e1687382997"},"type":"Compose","inputs":"@outputs('Get_Order')?['body']?['customerid_account']?['emailaddress1']"},"Send_an_email_(V2)":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"33c9af1d-9675-48c6-a2dc-f4b456e65aaf"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@{outputs('Compose')};shivanshu.sharma@accenture.com","emailMessage/Subject":"Remote Credit Check","emailMessage/Body":"<p>Hi @{outputs('Get_Order')?['body']?['customerid_account']?['name']},<br>\n<br>\nPlease click on the below link to perform the credit check.<br>\n<br>\n<a href=@{triggerBody()?['creditcheckUrl']}>Credit Check Url</a>\n<br>\n<br>\n<br>\nRegards,\n<br>\n@{variables('Image1')}\n</p>"},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path":{"runAfter":{"Get_Order":["Succeeded"]},"metadata":{"operationMetadataId":"e36a4ca7-ee79-424b-b0fa-589698f3e035"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","path":"/Documents/EmailNotificationFooter1.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"534e2fae-979d-4d13-916b-6b5974de2bac"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Image1","type":"string","value":"<img src=\"data:image/jpeg;base64,@{outputs('Get_file_content_using_path')?['body'].$content}\" alt=\"My Image\" />"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}