ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/OrderSignedAgreementUploadtoSharePointDigitalSigna-30ADE356-4F4D-EC11-8F8E-0022486DFDD7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"d569a29d-da98-4a76-b4dd-aab6a8f0c109"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"adobe_agreement","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"adobe_esagreementstatus","subscriptionRequest/filterexpression":"adobe_esagreementstatus eq 'SIGNED'"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_a_row_by_ID":{"runAfter":{"Get_a_row_by_ID_2":["Succeeded"]},"metadata":{"operationMetadataId":"8618f917-aac0-46a6-8de4-b4dd13175ccc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_row_by_ID_2')?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"e8babde0-1c1e-4c4e-941f-4bc48ed4b54e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","$select":"filename,mimetype,documentbody","$filter":"_objectid_value eq @{triggerOutputs()?['body/adobe_agreementid']} and isdocument eq true"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"587c972d-1904-4ad2-b018-1ec573b9fae7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","folderPath":"/account/@{concat(trim(outputs('Get_a_row_by_ID')?['body/name']),'_',replace(outputs('Get_a_row_by_ID')?['body/accountid'],'-',''),'/salesorder/',outputs('Get_a_row_by_ID_2')?['body/ordernumber'],'_',replace(outputs('Get_a_row_by_ID_2')?['body/salesorderid'],'-',''))}","name":"@items('Apply_to_each')?['filename']","body":"@items('Apply_to_each')?['documentbody']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"7e8a23c4-c3dc-459b-83c9-91fde382f3c0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","table":"c4e9d068-3964-4c34-bf50-3106bbef5c9e","id":"@outputs('Create_file')?['body/ItemId']","item/Document_x0020_Type":"Signed Agreement"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"e40eb34d-e48b-4d23-8069-fc4a6fe43b23"},"type":"Foreach"},"Get_a_row_by_ID_2":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"37c79343-4291-4510-9dae-1a37b1ad0ca1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/_adobe_parentorderid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/adobe_esagreementstatus']","SIGNED"]},"metadata":{"operationMetadataId":"6b826d65-ee0b-424b-8c76-36663e06c05e"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}