ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/OrderCOIDocumentUploadtoSharePoint-433633B6-D748-EC11-8C62-000D3A09F88C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"b421fa56-d0d0-40e5-b6ab-451cce99a44a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_coidocument"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Download_a_file_or_an_image":{"runAfter":{},"metadata":{"operationMetadataId":"7ea40a67-8e0e-45d5-a8e2-f72790bb769a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","fileImageFieldName":"sxp_coidocument"},"authentication":"@parameters('$authentication')"}},"Get_a_row_by_ID_2":{"runAfter":{"Download_a_file_or_an_image":["Succeeded"]},"metadata":{"operationMetadataId":"f03f1bc3-8f8d-481c-a3e8-d0189be614ad"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_row_by_ID":{"runAfter":{"Get_a_row_by_ID_2":["Succeeded"]},"metadata":{"operationMetadataId":"2c9e0878-bb35-4aff-a548-bbb3aa37dbe7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","$select":"sxp_coidocument,sxp_coidocument_name"},"authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"fab1ddaa-1de2-4ca4-843d-cdcc3771e759"},"type":"ParseJson","inputs":{"content":"@body('Get_a_row_by_ID')","schema":{"type":"object","properties":{"sxp_coidocument_name":{"type":"string"}}}}},"Create_file":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"fbab1a89-3d5f-4861-9338-5e1e84d315d2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","folderPath":"/account/@{concat(trim(outputs('Get_a_row_by_ID_2')?['body/name']),'_',replace(outputs('Get_a_row_by_ID_2')?['body/accountid'],'-',''),'/salesorder/',triggerOutputs()?['body/ordernumber'],'_',replace(triggerOutputs()?['body/salesorderid'],'-',''))}","name":"@body('Parse_JSON')?['sxp_coidocument_name']","body":"@body('Download_a_file_or_an_image')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"87680fc2-5b53-4058-ac9c-f088d5424d16"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://enercareca.sharepoint.com/sites/sesoedev","table":"c4e9d068-3964-4c34-bf50-3106bbef5c9e","id":"@outputs('Create_file')?['body/ItemId']","item/Document_x0020_Type":"COI"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerOutputs()?['body/sxp_coidocument']","@null"]}},"metadata":{"operationMetadataId":"3c77cbee-7e90-4049-acd7-96505cc47c54"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}