ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/PartyContactSetAccount-F255E1B5-AC48-EC11-8C62-000D3A09F0FC.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"11bc5bd8-430f-4475-8ebf-9a2bd670a6d3"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"sxp_partycontact","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"eb70b51a-bcf5-41be-ac85-88672823e5c7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch top=\"1\">\n  <entity name=\"account\">\n    <attribute name=\"accountid\" />\n    <filter>\n      <condition attribute=\"msdyn_partynumber\" operator=\"eq\" value=\"@{triggerOutputs()?['body/sxp_partynumber']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"ae08d233-c6ea-4075-bcb8-68ebf7dac13c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_partycontacts","recordId":"@triggerOutputs()?['body/sxp_partycontactid']","item/sxp_account@odata.bind":"accounts(@{items('Apply_to_each')?['accountid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"830252b0-6c07-4a68-a819-dc243d422c9f"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}