ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/ProcessCreditCheckEmail-146E1B5C-C820-EC11-B6E6-0022486DA96B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedoffice365_128be"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"f621d837-4303-4d44-9a1d-2827aa4896c5"},"type":"OpenApiConnectionNotification","inputs":{"host":{"connectionName":"shared_office365","operationId":"OnNewEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"folderPath":"Inbox","includeAttachments":false,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Body_of_Email":{"runAfter":{"init_user":["Succeeded"]},"metadata":{"operationMetadataId":"5dbdb8a0-293c-487d-8c28-b56fa1e751e3"},"type":"Compose","inputs":"@triggerOutputs()?['body/body']"},"split_body_of_email_by_carriage_return":{"runAfter":{"Body_of_Email":["Succeeded"]},"metadata":{"operationMetadataId":"d1244645-a689-45c6-a2bf-dcb931a72d3b"},"type":"Compose","inputs":"@split(outputs('Body_of_Email'),decodeUriComponent('%0A'))"},"Apply_to_each":{"foreach":"@outputs('split_body_of_email_by_carriage_return')","actions":{"Check_if_empty":{"actions":{"check_for_center":{"actions":{"Set_center":{"runAfter":{},"metadata":{"operationMetadataId":"712aaea0-3ebf-43ad-8476-f8f35087d39a"},"type":"SetVariable","inputs":{"name":"center","value":"@{substring(items('Apply_to_each'),6,sub(length(items('Apply_to_each')),6))}"}}},"runAfter":{},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'),'Ctr #')",-1]}},"metadata":{"operationMetadataId":"3b02ca29-fee4-4a55-92ff-130a632a7448"},"type":"If"},"check_for_reference":{"actions":{"Set_reference":{"runAfter":{},"metadata":{"operationMetadataId":"b416de8c-b272-4521-970b-98c4ff999890"},"type":"SetVariable","inputs":{"name":"reference","value":"@{substring(items('Apply_to_each'),13,7)}"}}},"runAfter":{"check_for_center":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'),'Order Number')",-1]}},"metadata":{"operationMetadataId":"df30b66f-4514-4f00-82ce-206670d5ed42"},"type":"If"},"check_for_date_processed":{"actions":{"set_date_processed":{"runAfter":{},"metadata":{"operationMetadataId":"aa670149-1e99-4f88-a18d-c23d6c30322d"},"type":"SetVariable","inputs":{"name":"performed","value":"@{substring(items('Apply_to_each'),15,10)}"}}},"runAfter":{"check_for_reference":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'), 'Date Processed')",-1]}},"metadata":{"operationMetadataId":"0bd782c2-15f5-4940-a4d5-dcc766f37d92"},"type":"If"},"check_for_approved":{"actions":{"Set_amount":{"runAfter":{},"metadata":{"operationMetadataId":"1a57b631-4ce3-41b6-a1e6-702d739480b9"},"type":"SetVariable","inputs":{"name":"amount","value":"@float(substring(items('Apply_to_each'),17,sub(length(items('Apply_to_each')),17)))"}}},"runAfter":{"check_for_date_processed":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'), 'Status approved')",-1]}},"metadata":{"operationMetadataId":"692f3c69-aa8e-43a9-85d3-28d6dffc087f"},"type":"If"},"check_for_not_approved":{"actions":{"Set_amount_0":{"runAfter":{},"metadata":{"operationMetadataId":"ec3e6f3b-8a15-4b87-90fd-b8d3e32b7429"},"type":"SetVariable","inputs":{"name":"amount","value":0}},"Set_reason":{"runAfter":{"Set_amount_0":["Succeeded"]},"metadata":{"operationMetadataId":"43479eea-27e6-47be-a02a-7c478a0cb67d"},"type":"SetVariable","inputs":{"name":"reason","value":"@{items('Apply_to_each')}"}}},"runAfter":{"check_for_approved":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'), 'Status Not approved')",-1]}},"metadata":{"operationMetadataId":"b4fa6e10-9a91-4941-a41b-7b6b4686af65"},"type":"If"},"check_for_email":{"actions":{"Set_email":{"runAfter":{},"metadata":{"operationMetadataId":"b1aa26ea-36b0-4f2e-8624-9d9472bb88a9"},"type":"SetVariable","inputs":{"name":"email","value":"@{substring(items('Apply_to_each'),16,sub(length(items('Apply_to_each')),17))}"}}},"runAfter":{"check_for_not_approved":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'), 'Sales Rep Email')",-1]}},"metadata":{"operationMetadataId":"66a79aae-5ded-435d-8c12-910219df7c9e"},"type":"If"},"check_for_customer":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ae17fa25-feb5-4312-b234-fffe69d79253"},"type":"SetVariable","inputs":{"name":"customer","value":"@{substring(items('Apply_to_each'),14,sub(length(items('Apply_to_each')),14))}"}}},"runAfter":{"check_for_email":["Succeeded"]},"expression":{"not":{"equals":["@indexOf(items('Apply_to_each'), 'Customer Name')",-1]}},"metadata":{"operationMetadataId":"9806f419-6a5b-4c94-80e1-94bfdf3d884f"},"type":"If"}},"runAfter":{},"expression":{"equals":["@empty(items('Apply_to_each'))",false]},"metadata":{"operationMetadataId":"98637fc2-bf17-44c5-b82f-a2bc73bcad85"},"type":"If"}},"runAfter":{"split_body_of_email_by_carriage_return":["Succeeded"]},"metadata":{"operationMetadataId":"a3181798-696c-4193-917b-0b22fc496fa3"},"type":"Foreach"},"init_center":{"runAfter":{"init_customer":["Succeeded"]},"metadata":{"operationMetadataId":"c4e6daf3-dafe-47ea-8526-99048ea0facc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"center","type":"string"}]}},"init_amount":{"runAfter":{"init_center":["Succeeded"]},"metadata":{"operationMetadataId":"adde25ae-ac54-4bd3-b728-6d313399b12f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"amount","type":"float"}]}},"init_performed":{"runAfter":{"init_amount":["Succeeded"]},"metadata":{"operationMetadataId":"0dd6541f-2c0a-4ef9-960d-f371300706e6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"performed","type":"string"}]}},"init_reference":{"runAfter":{"init_performed":["Succeeded"]},"metadata":{"operationMetadataId":"ecfec0fb-e79f-4a72-ac7a-585fec660172"},"type":"InitializeVariable","inputs":{"variables":[{"name":"reference","type":"string"}]}},"init_reason":{"runAfter":{"init_reference":["Succeeded"]},"metadata":{"operationMetadataId":"2e4b5faf-a5b3-4d40-adcc-f73faead9a3e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"reason","type":"string"}]}},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"69179f16-fa5e-4b22-a506-1ae1a309c3c0"},"type":"Compose","inputs":"Center: @{variables('center')}\nAmount: @{variables('amount')}\nPerformed: @{variables('performed')}\nReference: @{variables('reference')}\nReason: @{variables('reason')}\nEmail: @{variables('email')}"},"init_email":{"runAfter":{"init_reason":["Succeeded"]},"metadata":{"operationMetadataId":"89e539b3-2647-479d-8687-0dcfeedeaef3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"email","type":"string"}]}},"Add_a_new_row":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"4fcbd162-cd29-4683-811e-6df64483b1c4"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","item/sxp_name":"@{variables('reference')} - @{variables('customer')}","item/sxp_amount":"@variables('amount')","item/sxp_complete":true,"item/sxp_dateperformed":"@variables('performed')","item/sxp_referenceidcontrol":"@int(variables('reference'))","item/sxp_remainingamount":"@variables('amount')","item/sxp_serviceexpertssalesrepemailaddress":"@variables('email')","item/ownerid@odata.bind":"/systemusers(@{variables('user')})","item/sxp_reason":"@variables('reason')","item/sxp_referenceid":"@variables('reference')","item/sxp_referenceidcontroller":"@variables('reference')"},"authentication":"@parameters('$authentication')"}},"Get_user_by_email_address":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"b7c5be6e-fe09-43fa-8801-747d206586bb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"internalemailaddress eq '@{variables('email')}'"},"authentication":"@parameters('$authentication')"}},"init_user":{"runAfter":{"init_email":["Succeeded"]},"metadata":{"operationMetadataId":"0f38ef3c-cbf0-43a3-8fd8-34e0ad6a47bc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"user","type":"string"}]}},"Apply_to_each_2":{"foreach":"@outputs('Get_user_by_email_address')?['body/value']","actions":{"set_user":{"runAfter":{},"metadata":{"operationMetadataId":"54596571-5605-492b-ba52-1d28cbc9bd5a"},"type":"SetVariable","inputs":{"name":"user","value":"@items('Apply_to_each_2')?['systemuserid']"}}},"runAfter":{"Get_user_by_email_address":["Succeeded"]},"metadata":{"operationMetadataId":"db4495d0-7cca-4db8-a3d4-c0eae6006056"},"type":"Foreach"},"init_customer":{"runAfter":{},"metadata":{"operationMetadataId":"abe7f142-4b95-4848-93af-604a497c1e0c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"customer","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}