ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/SetAgreementLineNumber-AAF977DB-4463-EC11-8F8E-0022486D91CB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"5ebcdbf7-6368-41eb-9667-d1bcdbce6f86"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"sxp_agreementfundingline","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"cf06ea0f-0ae9-4e79-aa65-c4cfdd0602de"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Agreement Funding Record Name","type":"string"}]}},"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"46cef562-2aef-49de-b891-fa4c23b40987"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_agreementfundinglines","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sxp_agreementfundingline\">\n    <attribute name=\"sxp_agreementfundinglineid\" />\n    <attribute name=\"sxp_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"createdon\" descending=\"true\" />\n    <filter type=\"and\">\n      <condition attribute=\"sxp_orderid\" operator=\"eq\"  value=\"{@{triggerOutputs()?['body/_sxp_orderid_value']}}\" />\n      <condition attribute=\"sxp_name\" operator=\"not-null\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"6a477b6b-f8b9-4bc8-996c-e03d591d2cbe"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_agreementfundinglines","recordId":"@triggerOutputs()?['body/sxp_agreementfundinglineid']","item/sxp_name":"@variables('Agreement Funding Record Name')"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"618d29c0-e072-4e12-a52a-4c90620fd05d"},"type":"SetVariable","inputs":{"name":"Agreement Funding Record Name","value":"Line 1"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"af356407-8e89-41b9-94f1-3b1b16e495fa"},"type":"Compose","inputs":"@int(replace(outputs('List_rows')?['body']?['value'][0].sxp_name,'Line ',''))"},"Set_variable_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"66d2d49d-2fce-4e68-8b85-746be9414daf"},"type":"SetVariable","inputs":{"name":"Agreement Funding Record Name","value":"@{concat('Line ',string(add(outputs('Compose'),1)))}"}}}},"expression":{"equals":["@length(outputs('List_rows')?['body/value'])",0]},"metadata":{"operationMetadataId":"b34cbcab-b269-4b32-a73a-c0db164aa9bc"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}