ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdateOrderDuration-B92075CD-8F47-EC11-8C62-000D3A09F88C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_63e8b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Actual_Install_or_Estimated_Install_Date_is_modified":{"metadata":{"operationMetadataId":"fbdfae42-f611-490e-aa5f-7f9e44bace5b"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_estimatedinstalldate,sxp_actualinstalldate"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_Duration":{"runAfter":{},"metadata":{"operationMetadataId":"2f3621b0-fc38-4fdc-8d9b-c1bc4306dff8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Duration","type":"integer"}]}},"Condition":{"actions":{"Calculate_no_of_Days":{"runAfter":{},"metadata":{"operationMetadataId":"ea047930-abd3-46ca-8188-74336726cb1a"},"type":"SetVariable","inputs":{"name":"Duration","value":"@div(sub(ticks(formatDateTime(triggerOutputs()?['body/sxp_actualinstalldate'],'yyyy-MM-dd')),ticks(formatDateTime(triggerOutputs()?['body/sxp_estimatedinstalldate'],'yyy-MM-dd'))),864000000000)"}},"Update_a_row":{"runAfter":{"Calculate_no_of_Days":["Succeeded"]},"metadata":{"operationMetadataId":"793448f1-c752-4633-b5bb-47ddd1d9d8ce"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","item/sxp_duration":"@variables('Duration')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_Duration":["Succeeded"]},"else":{"actions":{"Update_a_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"b1e8bac4-949a-4aec-a14a-436c178ebe40"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']","item/sxp_duration":"@null"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greaterOrEquals":["@triggerOutputs()?['body/sxp_actualinstalldate']","@triggerOutputs()?['body/sxp_estimatedinstalldate']"]},"metadata":{"operationMetadataId":"927083ea-8e8e-40ad-87e8-61d5f38f0cee"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}