ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdateProductHierarchyPath-Scheduled-5C4404D2-214E-EC11-8F8E-0022486DC00F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-11-25T11:15:00Z"},"metadata":{"operationMetadataId":"47abf2ed-61b4-4d55-b716-df24c22779be"},"type":"Recurrence"}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"f52f6a50-1b14-4a76-ac4e-e0ca396e3357"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","$filter":"productstructure eq 2 and hierarchypath ne null and name ne null"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"02adc202-44a8-4307-8ac5-bf33aaa54d87"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_each')?['productid']","item/sxp_producthierarchyfullpath":"@{items('Apply_to_each')?['hierarchypath']}\\@{items('Apply_to_each')?['name']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"e563a512-5d69-4bf8-bd1d-4764eeeb8c51"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}