ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdateCustomeronSOCompletion-1D50EDC6-D952-EC11-8F8E-0022486DFDD7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_25d30"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"70d33bb0-2fb8-4d6a-a49e-8b3760fe606a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"sxp_agreementstatus eq 'SIGNED'"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Customer_Account":{"runAfter":{"Bank_Account":["Succeeded"]},"metadata":{"operationMetadataId":"6e344bf9-ef62-46d2-be7a-72eef4dee1b3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"Update_Customer_Account":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"75961f9a-6233-424a-9913-5ed661e1fc2b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_customerid_value']","item/msdyn_customerpaymentmethod@odata.bind":"/msdyn_customerpaymentmethods/@{variables('CE Method of Payment')}","item/address2_city":"@triggerOutputs()?['body/billto_city']","item/address2_country":"@triggerOutputs()?['body/billto_country']","item/sxp_address2county":"@triggerOutputs()?['body/sxp_billtocounty']","item/address2_stateorprovince":"@triggerOutputs()?['body/billto_stateorprovince']","item/address2_line1":"@triggerOutputs()?['body/billto_line1']","item/address2_postalcode":"@triggerOutputs()?['body/billto_postalcode']","item/sxp_bankaccount":"@variables('Bank Account')"},"authentication":"@parameters('$authentication')"}},"EPay_Enrolled":{"actions":{"Payment_Method":{"runAfter":{},"cases":{"Credit_Card":{"case":275450000,"actions":{"Set_Paymethod_to_Credit_Card":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FO Method of Payment","value":"CreditCard"}}}},"ACH":{"case":275450001,"actions":{"Set_Paymethod_to_ACH":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FO Method of Payment","value":"ACH"}},"Get_Bank_Account":{"runAfter":{"Set_Paymethod_to_ACH":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_bankaccounts","recordId":"@triggerOutputs()?['body/_sxp_bankaccount_value']"},"authentication":"@parameters('$authentication')"}},"Set_Bank_Account":{"runAfter":{"Get_Bank_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Bank Account","value":"@outputs('Get_Bank_Account')?['body/sxp_bankaccountiden']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/sxp_easypaymethod']","metadata":{"operationMetadataId":"17721d63-20c8-48c9-8b52-be0457743efb"},"type":"Switch"}},"runAfter":{"Get_Customer_Account":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/sxp_easypayoptout']",275450001]},"metadata":{"operationMetadataId":"7a72c390-76dc-4e82-bdc3-6e851d6106d3"},"type":"If"},"Init_FO_Method_of_Payment":{"runAfter":{},"metadata":{"operationMetadataId":"f7ae4f50-2d3d-471b-a36c-ae6e439af72c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FO Method of Payment","type":"string","value":"Manual"}]}},"Get_Method_of_Payment":{"runAfter":{"EPay_Enrolled":["Succeeded"]},"metadata":{"operationMetadataId":"8c2b1853-db8b-4f0d-bee1-bb6c852a054f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_customerpaymentmethods","$filter":"_msdyn_company_value eq '@{outputs('Get_Customer_Account')?['body/_msdyn_company_value']}' and msdyn_name eq '@{variables('FO Method of Payment')}'"},"authentication":"@parameters('$authentication')"}},"Init_CE_Method_of_Payment":{"runAfter":{"Init_FO_Method_of_Payment":["Succeeded"]},"metadata":{"operationMetadataId":"88ed0f25-c57d-47ac-af86-567e22fa2b3b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CE Method of Payment","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Get_Method_of_Payment')?['body/value']","actions":{"Set_CE_Method_of_Payment":{"runAfter":{},"metadata":{"operationMetadataId":"9c8d88d4-e9ba-413d-8154-399b43709e9d"},"type":"SetVariable","inputs":{"name":"CE Method of Payment","value":"@items('Apply_to_each')?['msdyn_customerpaymentmethodid']"}}},"runAfter":{"Get_Method_of_Payment":["Succeeded"]},"metadata":{"operationMetadataId":"1608341b-3b66-4895-a2f1-6ef51cc1f251"},"type":"Foreach"},"Bank_Account":{"runAfter":{"Init_CE_Method_of_Payment":["Succeeded"]},"metadata":{"operationMetadataId":"10265767-5bad-49ec-be8c-b81ff47fd6da"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Bank Account","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}