ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdatetheRemainingAmountincreditcheck-2FCC841B-7A56-EC11-8F8E-000D3AF4A312.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Order_Processing_stage_is_changed":{"metadata":{"operationMetadataId":"47a76300-3804-41a1-b834-bde794ab2414"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"sxp_orderprocessing","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Active_Stage_row":{"runAfter":{},"metadata":{"operationMetadataId":"1325ebe9-3096-4851-aaf9-915b73a22bb5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprocessings","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_Credit_Check_":{"runAfter":{"Subtract_Total_Installed_Cost_from_Remaining_Amount":["Succeeded"]},"metadata":{"operationMetadataId":"690d6fef-e5af-4224-85fa-d18e8babcf17"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_related_Order_')?['body/_sxp_creditcheck_value']","item/sxp_remainingamount":"@outputs('Subtract_Total_Installed_Cost_from_Remaining_Amount')"},"authentication":"@parameters('$authentication')"}},"Subtract_Total_Installed_Cost_from_Remaining_Amount":{"runAfter":{},"metadata":{"operationMetadataId":"9e596729-4d9f-4bf6-96aa-d0a3bae496bd"},"type":"Compose","inputs":"@sub(outputs('compose_remaining_amount'),outputs('Compose_Total_Installed_Cost'))"},"Update_Order_2":{"runAfter":{"Update_Credit_Check_":["Succeeded"]},"metadata":{"operationMetadataId":"5edb0828-eb3d-4758-a153-6b83c9271fe9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_related_Order_')?['body/salesorderid']","item/sxp_customerverifcationcheck":275450000,"item/sxp_productandpricingcheck":275450000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Stage_Name":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Stage_Name')","Agreement Review"]},"metadata":{"operationMetadataId":"2b91a833-9b38-40f6-8480-62fb547aa29c"},"type":"If"},"Get_related_Order_":{"runAfter":{"Get_Active_Stage_row":["Succeeded"]},"metadata":{"operationMetadataId":"d16bad96-8e36-46fd-9725-f8bbead6056a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_Active_Stage_row')?['body/_bpf_salesorderid_value']"},"authentication":"@parameters('$authentication')"}},"Get_related_Credit_Check_":{"runAfter":{"Compose_Total_Installed_Cost":["Succeeded"]},"metadata":{"operationMetadataId":"d6648d18-5d95-43a3-86c6-cce5d81d1e10"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_related_Order_')?['body/_sxp_creditcheck_value']"},"authentication":"@parameters('$authentication')"}},"Compose_Stage_Name":{"runAfter":{"compose_remaining_amount":["Succeeded"]},"metadata":{"operationMetadataId":"92d8ba37-c61c-4b72-a122-5635fa4f06bf"},"type":"Compose","inputs":"@outputs('Get_Active_Stage_row')?['body/_activestageid_value@OData.Community.Display.V1.FormattedValue']"},"Compose_Total_Installed_Cost":{"runAfter":{"Get_related_Order_":["Succeeded"]},"metadata":{"operationMetadataId":"4808ec60-b51b-4e76-bc1b-96ec6e6c3d53"},"type":"Compose","inputs":"@outputs('Get_related_Order_')?['body/sxp_totalinstalledcost']"},"compose_remaining_amount":{"runAfter":{"Get_related_Credit_Check_":["Succeeded"]},"metadata":{"operationMetadataId":"46d92e53-11b4-45cf-ad2f-f582bb83fffb"},"type":"Compose","inputs":"@outputs('Get_related_Credit_Check_')?['body/sxp_remainingamount']"},"Condition_5":{"actions":{"Condition_4":{"actions":{"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"6a949bcc-f23e-4ef0-9ab1-40150fdd2be8"},"type":"Compose","inputs":"@add(outputs('compose_remaining_amount'), outputs('Compose_Total_Installed_Cost'))"},"Update_Credit_Check_Record_3":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"690d6fef-e5af-4224-85fa-d18e8babcf17"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_related_Order_')?['body/_sxp_creditcheck_value']","item/sxp_remainingamount":"@outputs('Compose_2')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@outputs('Get_related_Order_')?['body/sxp_customerverifcationcheck']",275450000]},"metadata":{"operationMetadataId":"cb934b50-2080-4b07-81d7-8a6b491c1e74"},"type":"If"},"Update_Order_3":{"runAfter":{"Condition_4":["Succeeded"]},"metadata":{"operationMetadataId":"5edb0828-eb3d-4758-a153-6b83c9271fe9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_related_Order_')?['body/salesorderid']","item/sxp_customerverifcationcheck":275450000,"item/sxp_productandpricingcheck":275450001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Stage_Name":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Stage_Name')","Products And Pricing"]},"metadata":{"operationMetadataId":"ef5d61be-fde6-4cdb-b907-19393336d1c8"},"type":"If"},"Condition_2":{"actions":{"Condition_3":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"df3611be-8288-4b2c-a9f4-b44d7891f06c"},"type":"Compose","inputs":"@add(outputs('compose_remaining_amount'), outputs('Compose_Total_Installed_Cost'))"},"Update_Credit_Check_Record":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"690d6fef-e5af-4224-85fa-d18e8babcf17"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_creditchecks","recordId":"@outputs('Get_related_Order_')?['body/_sxp_creditcheck_value']","item/sxp_remainingamount":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@outputs('Get_related_Order_')?['body/sxp_productandpricingcheck']",275450000]},"metadata":{"operationMetadataId":"4926f109-4459-4eb4-af99-68f43745c6dd"},"type":"If"},"Update_Order":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"5edb0828-eb3d-4758-a153-6b83c9271fe9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_related_Order_')?['body/salesorderid']","item/sxp_customerverifcationcheck":275450001,"item/sxp_productandpricingcheck":275450000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Stage_Name":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Stage_Name')","Customer Verification"]},"metadata":{"operationMetadataId":"802da8f6-91bb-43c5-b26d-97e0e1b2a02f"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}