ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdateFundingLinefromCreditCardSale-7A570603-BC68-EC11-8F8E-000D3A09DDB7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_25d30"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"e7eee13c-6ff2-4ad5-9e86-2d6992e3d938"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"rm_creditcardsale","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"rm_completed eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Agreement_Funding_Lines_that_have_completed_CC_transactions":{"runAfter":{},"metadata":{"operationMetadataId":"863cee63-bfd4-4b1f-ad5b-1a0dd4266ad2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_agreementfundinglines","fetchXml":"<fetch>\n  <entity name=\"sxp_agreementfundingline\" >\n    <filter>\n      <condition attribute=\"sxp_agreementfundinglineid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_sxp_agreementfundingline_value']}\" />\n    </filter>\n    <link-entity name=\"rm_creditcardsale\" from=\"sxp_agreementfundingline\" to=\"sxp_agreementfundinglineid\" >\n      <filter>\n        <condition attribute=\"rm_completed\" operator=\"eq\" valueof=\"rm_completed\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Agreement_Funding_Lines_that_have_completed_CC_transactions')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"d18a4f45-d0a3-47c8-92ef-7928e45d2439"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_agreementfundinglines","recordId":"@items('Apply_to_each')?['sxp_agreementfundinglineid']","item/sxp_completed":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Agreement_Funding_Lines_that_have_completed_CC_transactions":["Succeeded"]},"metadata":{"operationMetadataId":"d2e80adc-f96e-484f-beac-8baf19511c52"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}