ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/UpdateStageofOrder-BC1E79E0-375F-EC11-8F8E-000D3A09F9AE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_63e8b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"89fa8298-f12d-430a-9570-aa33eb69d1f1"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"orderId":{"type":"string"}}}}}},"actions":{"List_Order_Processing_Record":{"runAfter":{"Get_Order_Record":["Succeeded"]},"metadata":{"operationMetadataId":"08c62c81-814b-4775-bc1f-79d7390c0851"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprocessings","$filter":"_bpf_salesorderid_value eq @{triggerBody()?['orderId']}","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Order_Processing_Record')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"7de9dd1f-dc4b-4d32-8587-dd4aa87a9904"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_orderprocessings","recordId":"@items('Apply_to_each')?['businessprocessflowinstanceid']","item/activestageid@odata.bind":"processstages(A6723F5E-C1C6-42DC-A1F0-B100979D5117)","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Order":["Succeeded"]},"metadata":{"operationMetadataId":"e328a683-9ab7-488b-9ea2-3403c6053379"},"type":"Foreach"},"Update_Order":{"runAfter":{"List_Order_Processing_Record":["Succeeded"]},"metadata":{"operationMetadataId":"6ce34c30-d7e8-4770-882d-45eb4f39b09b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerBody()?['orderId']","item/statuscode":275450006,"item/sxp_actualinstalldate":"@outputs('Get_Order_Record')?['body/sxp_estimatedinstalldate']","item/sxp_installationstagecomplete":true},"authentication":"@parameters('$authentication')"}},"Get_Order_Record":{"runAfter":{},"metadata":{"operationMetadataId":"250ca62e-f7fd-4f6a-920b-3a09c79bee5f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerBody()?['orderId']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}