ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/WelcomeEmail-145A1C39-E331-EC11-B6E6-000D3A09E79E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedcommondataserviceforapps_d3611"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedoffice365_128be"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"457bed9e-3111-4400-afe6-7e4c3e8f120e"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"salesorder","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"sxp_agreementstatus","subscriptionRequest/filterexpression":"sxp_agreementstatus eq 'SIGNED' and sxp_welcomelettersent ne true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Order":{"runAfter":{"init_service_center_img_src":["Succeeded"]},"metadata":{"operationMetadataId":"2dfb8870-ab66-46e4-a971-01c1af39600e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@triggerOutputs()?['body/salesorderid']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Order":["Succeeded"]},"metadata":{"operationMetadataId":"b100e92d-547d-4a0d-933f-96cb0a0fb96e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Order')?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Service_Center":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"df661e53-6426-4630-a800-d0c8f587205e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sxp_servicecenters","recordId":"@outputs('Get_Order')?['body/_sxp_center_value']"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"6da2b0ae-e22f-4219-adc1-f30b4badc394"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"salesorders","recordId":"@outputs('Get_Order')?['body/salesorderid']","item/sxp_welcomelettersent":true},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"If_Type_of_Agreement_is_Advantage":["Succeeded"]},"metadata":{"operationMetadataId":"52d9b3d9-225e-4ef4-b575-0ab94995935b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Account')?['body/emailaddress1']","emailMessage/Subject":"@variables('subject')","emailMessage/Body":"@variables('body')","emailMessage/From":"@variables('email')"},"authentication":"@parameters('$authentication')"}},"If_Type_of_Agreement_is_Advantage":{"actions":{"advantage_-_compose_email_subject":{"runAfter":{},"metadata":{"operationMetadataId":"ee7dc06e-04b3-4b1d-abd5-cb9760b3d6ee"},"type":"Compose","inputs":"Advantage Welcome Letter – @{outputs('Get_Account')?['body/sxp_firstname']} @{outputs('Get_Account')?['body/sxp_lastname']} – @{outputs('Get_Order')?['body/shipto_line1']}, @{outputs('Get_Order')?['body/shipto_city']} @{outputs('Get_Order')?['body/shipto_stateorprovince']} @{outputs('Get_Order')?['body/shipto_postalcode']} –  Center #@{outputs('Get_Service_Center')?['body/sxp_centernumber']}"},"Advantage_-_compose_email_body":{"runAfter":{"Set_service_center_image_src_2":["Succeeded"]},"metadata":{"operationMetadataId":"8b235160-5cfd-43e2-8fdf-9070a96d46b5"},"type":"Compose","inputs":"<!DOCTYPE html><img src=”data:image/jpeg;base64,” alt=”My Image” />\n<html xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n   <head>\n      <!--[if gte mso 9]>\n      <xml>\n         <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n         </o:OfficeDocumentSettings>\n      </xml>\n      <![endif]-->\n      <meta http-equiv=\"Content-Type\" content=\"text/html; charset=Windows-1252\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n      <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n      <meta name=\"format-detection\" content=\"date=no\">\n      <meta name=\"format-detection\" content=\"address=no\">\n      <meta name=\"format-detection\" content=\"telephone=no\">\n      <meta name=\"x-apple-disable-message-reformatting\">\n      <!--[if !mso]><!-->\n      <link href=\"https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&amp;display=swap\"\n         rel=\"stylesheet\">\n      <!--<![endif]-->\n      <title>Email Template</title>\n      <!--[if gte mso 9]>\n      <style type=\"text/css\" media=\"all\">\t\tsup { font-size: 100% !important; }\n      </style>\n      <![endif]-->\n      <style type=\"text/css\" media=\"screen\">\n         body { padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }\n         a { color:#007dc5; text-decoration:none }\n         p { padding:0 !important; margin:0 !important } \n         img { margin: 0 !important; -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }\n         a[x-apple-data-detectors] {\n         color: inherit !important;\n         text-decoration: inherit !important;\n         font-size: inherit !important;\n         font-family: inherit !important;\n         font-weight: inherit !important;\n         line-height: inherit !important;\n         }\n         .btn-14 a { display: block; padding: 15px 30px; text-decoration: none; }\n         .l-red a { color: #ff0000; }\n         /* Mobile styles */\n         @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {\n         .mpx-15 { padding-left: 15px !important; padding-right: 15px !important; }\n         .mpt-25 { padding-top: 25px !important; }\n         .mpx-0 { padding-left: 0px !important; padding-right: 0px !important; }\n         .mpb-25 { padding-bottom: 25px !important; }\n         u + .body .gwfw { width:100% !important; width:100vw !important; }\n         .td,\n         .m-shell { width: 100% !important; min-width: 100% !important; }\n         .mt-left { text-align: left !important; }\n         .mt-center { text-align: center !important; }\n         .mt-right { text-align: right !important; }\n         .me-left { margin-right: auto !important; }\n         .me-center { margin: 0 auto !important; }\n         .me-right { margin-left: auto !important; }\n         .h-auto { height: auto !important; }\n         .w-auto { width: auto !important; }\n         .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }\n         .column,\n         .column-top { float: left !important; width: 100% !important; display: block !important; }\n         .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }\n         .m-block { display: block !important; }\n         .w-15 { width: 15px !important; }\n         .w-2p { width: 2% !important; }\n         .w-32p { width: 32% !important; }\n         .w-49p { width: 49% !important; }\n         .w-50p { width: 50% !important; }\n         .w-100p { width: 100% !important; }\n         }\n      </style>\n   </head>\n   <body class=\"body\" style=\" padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none;\">\n      <div>\n         <center>\n            <table style=\"margin: 0; padding: 0; width: 100%;\" class=\"gwfw\" width=\"100%\"\n               cellspacing=\"0\" cellpadding=\"0\" border=\"0\" bgcolor=\"#ffffff\">\n               <tbody>\n                  <tr>\n                     <td style=\"margin: 0; padding: 0; width: 100%;\" align=\"center\">\n                        <table class=\"m-shell\" width=\"540\" cellspacing=\"0\" cellpadding=\"0\"\n                           border=\"0\">\n                           <tbody>\n                              <tr>\n                                 <td class=\"td\" style=\"width:540px; min-width:540px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;\">\n                                    <table class=\"mpx-15\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"\n                                       border=\"0\">\n                                       <!-- Header -->\n                                       <tbody>\n                                          <tr>\n                                             <td class=\"img pt-39 pb-15 mpt-25\" style=\"font-size:0pt; line-height:0pt; text-align:left; padding-top: 39px; padding-bottom: 15px;\">\n                                                 <tr>\n                              <td class=\"img pt-39 pb-15 mpt-25\" style=\"font-size:0pt; line-height:0pt; text-align:left; padding-top: 39px; padding-bottom: 15px;\">\n                                <img src=\"@{variables('Service Center Image Src')}\"\n\n                                  height=\"50px\" width=\"200px\" > </td>\n                            </tr>\n                                             </td>\n                                          </tr>\n                                          <!-- END Header -->\n                                          <tr>\n                                             <td class=\"text-12 pt-21 pb-10\" style=\"font-size:12px; line-height:15px; color:#000000; font-family:Arial, sans-serif; text-align:left; min-width:auto !important; padding-top: 21px; padding-bottom: 10px;\">\n\n                                                Dear @{outputs('Get_Account')?['body/sxp_firstname']} @{outputs('Get_Account')?['body/sxp_lastname']}, <br>\n                                                <br>\n                                                We are delighted to welcome you as a new Service\n                                                Experts Advantage Program customer! You are\n                                                among thousands of customers who are enjoying\n                                                all the comforts of brand new equipment for one\n                                                low monthly price—and never a penny more.*\n                                             </td>\n                                          </tr>\n                                          <!-- Main -->\n                                          <tr>\n                                             <td class=\"px-10 pb-13 mpx-0\" style=\"padding-left: 10px; padding-right: 10px; padding-bottom: 13px;\">\n                                                <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"\n                                                   border=\"0\">\n                                                   <tbody>\n                                                      <tr>\n                                                         <td class=\"img py-10\" style=\"border-top: 1px solid #d14e63; border-bottom: 1px solid #d14e63; font-size:0pt; line-height:0pt; text-align:left; padding-top: 10px; padding-bottom: 10px;\"\n                                                            bgcolor=\"#ededee\">\n                                                            <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"\n                                                               border=\"0\">\n                                                               <tbody>\n                                                                  <tr>\n                                                                     <td class=\"text-12 a-center fwb px-15 pb-19\"\n                                                                        style=\"font-size:12px; line-height:15px; color:#000000; font-family:Arial, sans-serif; min-width:auto !important; text-align:center; font-weight:bold; padding-left: 15px; padding-right: 15px; padding-bottom: 19px;\">\n                                                                        As an Advantage Program\n                                                                        customer, you will enjoy all of\n                                                                        these benefits: \n                                                                     </td>\n                                                                  </tr>\n                                                                  <!-- Row 1 -->\n                                                                  <tr>\n                                                                     <td class=\"pb-26 mpb-25 pl-15 pr-5\"\n                                                                        style=\"padding-bottom: 26px; padding-left: 15px; padding-right: 5px;\">\n                                                                        <table width=\"100%\" cellspacing=\"0\"\n                                                                           cellpadding=\"0\" border=\"0\">\n                                                                           <tbody>\n                                                                              <tr>\n                                                                                 <th class=\"column-top mpb-25\"\n                                                                                    style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"170\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"38\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_1.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"38\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            HIGH-EFFICIENCY\n                                                                                                            <br>\n                                                                                                            equipment \n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"10\">\n                                                                                    &nbsp;\n                                                                                 </th>\n                                                                                 <th class=\"column-top mpb-25\"\n                                                                                    style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"139\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"38\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_3.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"38\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            NO <br>\n                                                                                                            money down \n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"10\">\n                                                                                    &nbsp;\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"41\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_5.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"41\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            Installation <br>\n                                                                                                            <span class=\"link-u c-dark\"\n                                                                                                               style=\"text-decoration:underline; color:#000001;\">INCLUDED</span>\n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                              </tr>\n                                                                           </tbody>\n                                                                        </table>\n                                                                     </td>\n                                                                  </tr>\n                                                                  <!-- END Row 1 --><!-- Row 2 -->\n                                                                  <tr>\n                                                                     <td class=\"pb-3 pl-15 pr-5\" style=\"padding-bottom: 3px; padding-left: 15px; padding-right: 5px;\">\n                                                                        <table width=\"100%\" cellspacing=\"0\"\n                                                                           cellpadding=\"0\" border=\"0\">\n                                                                           <tbody>\n                                                                              <tr>\n                                                                                 <th class=\"column-top mpb-25\"\n                                                                                    style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"170\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"38\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_2.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"38\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            Seasonal\n                                                                                                            Maintenance <br>\n                                                                                                            <span class=\"link-u c-dark\"\n                                                                                                               style=\"text-decoration:underline; color:#000001;\">INCLUDED</span>\n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"10\">\n                                                                                    &nbsp;\n                                                                                 </th>\n                                                                                 <th class=\"column-top mpb-25\"\n                                                                                    style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"139\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"38\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_4.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"38\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            Future\n                                                                                                            Repairs* <br>\n                                                                                                            <span class=\"link-u c-dark\"\n                                                                                                               style=\"text-decoration:underline; color:#000001;\">INCLUDED</span>\n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\"\n                                                                                    width=\"10\">\n                                                                                    &nbsp;\n                                                                                 </th>\n                                                                                 <th class=\"column-top\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n                                                                                    <table width=\"100%\" cellspacing=\"0\"\n                                                                                       cellpadding=\"0\" border=\"0\">\n                                                                                       <tbody>\n                                                                                          <tr>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"41\" valign=\"top\">\n                                                                                                <img src=\"https://www.usafact.com/ServiceExperts/images/ico_6.png\"\n                                                                                                   alt=\"\" height=\"39\"\n                                                                                                   width=\"41\" border=\"0\">\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\"\n                                                                                                width=\"7\">\n                                                                                                <br>\n                                                                                             </td>\n                                                                                             <td class=\"img\" style=\"font-size:0pt; line-height:0pt; text-align:left;\">\n                                                                                                <table width=\"100%\"\n                                                                                                   cellspacing=\"0\"\n                                                                                                   cellpadding=\"0\"\n                                                                                                   border=\"0\">\n                                                                                                   <tbody>\n                                                                                                      <tr>\n                                                                                                         <td class=\"text-12 fwb ff-o\"\n                                                                                                            style=\"font-size:12px; line-height:15px; color:#000000; text-align:left; min-width:auto !important; font-weight:bold; font-family:'Oswald', Arial, sans-serif;\">\n                                                                                                            24/7 Emergency\n                                                                                                            Service <br>\n                                                                                                            <span class=\"link-u c-dark\"\n                                                                                                               style=\"text-decoration:underline; color:#000001;\">INCLUDED</span>\n                                                                                                         </td>\n                                                                                                      </tr>\n                                                                                                   </tbody>\n                                                                                                </table>\n                                                                                             </td>\n                                                                                          </tr>\n                                                                                       </tbody>\n                                                                                    </table>\n                                                                                 </th>\n                                                                              </tr>\n                                                                           </tbody>\n                                                                        </table>\n                                                                     </td>\n                                                                  </tr>\n                                                                  <!-- END Row 2 -->\n                                                               </tbody>\n                                                            </table>\n                                                         </td>\n                                                      </tr>\n                                                   </tbody>\n                                                </table>\n                                             </td>\n                                          </tr>\n                                          <!-- END Main --><!-- Textarea -->\n                                          <tr>\n                                             <td class=\"text-12 pb-25\" style=\"font-size:12px; line-height:15px; color:#000000; font-family:Arial, sans-serif; text-align:left; min-width:auto !important; padding-bottom: 25px;\">\n                                                You will receive an invoice on a monthly basis\n                                                that reflects your monthly payment amount. The\n                                                first month of the new equipment’s service will\n                                                likely represent a partial billing cycle\n                                                depending on the actual installation date of the\n                                                equipment. If this is the case, you will be\n                                                invoiced for the partial month plus the first\n                                                full month on a single invoice. As a result, the\n                                                total of your first invoice could amount to a\n                                                partial payment plus up to one full billing\n                                                cycle amount.\n                                                <br>\n                                                <br>\n                                                All future invoices will reflect charges\n                                                according to your normal billing cycle disclosed\n                                                within your agreement. Based on the preference\n                                                you selected, you will receive your first\n                                                invoice by either mail or email.\n                                                <br>\n                                                <br>\n                                                In an effort to make paying your invoice more\n                                                convenient, we offer both bank draft and credit\n                                                card automatic payment options. For questions\n                                                about your invoice, to set up automatic payments\n                                                or to change your invoice delivery method call\n                                                the Advantage Team Monday through Friday from\n                                                8:00 AM - 5:00 PM CST at <a href=\"tel:+18558168616\"\n                                                   target=\"_blank\" class=\"link c-dark\" style=\"text-decoration:none; color:#000001;\">\n                                                <span class=\"link c-dark\" style=\"text-decoration:none; color:#000001;\">855-816-8616</span></a>.\n                                                <br>\n                                                <br>\n                                                After you have received your first invoice visit\n                                                <a href=\"https://www.serviceexperts.com/ebilling\"\n                                                   target=\"_blank\" class=\"link-u\" style=\"color:#007dc5; text-decoration:underline;\">\n                                                <span class=\"link-u\" style=\"color:#007dc5; text-decoration:underline;\">www.serviceexperts.com/ebilling</span></a>\n                                                to access the following features:\n                                                <br>\n                                                <br>\n                                                &nbsp;&nbsp;• Make a one-time payment online <br>\n                                                &nbsp;&nbsp;• View your bill and payment history\n                                                <br>\n                                                &nbsp;&nbsp;• Request changes to your mailing\n                                                address or phone numbers <br>\n                                                <br>\n                                                For <strong>service</strong> or <strong>maintenance</strong>\n                                                call <a href=\"tel:+1866EXPERTS\" target=\"_blank\"\n                                                   class=\"link c-dark\" style=\"text-decoration:none; color:#000001;\">\n                                                <span class=\"link c-dark\" style=\"text-decoration:none; color:#000001;\"><strong>866-EXPERTS</strong></span></a>\n                                                anytime, day or night; you will always reach one\n                                                of our live customer service agents.\n                                                <br>\n                                                <br>\n                                                We look forward to providing you with excellent\n                                                service and support in the years to come.\n                                                <br>\n                                                <br>\n                                                Sincerely, <br>\n                                                 @{outputs('Get_Service_Center')?['body/sxp_centername']} Team <br>\n                                                <br>\n                                                <br>\n                                                <em>*See your signed Advantage Agreement for\n                                                full details and exclusions.</em> \n                                             </td>\n                                          </tr>\n                                          <!-- END Textarea -->\n                                       </tbody>\n                                    </table>\n                                 </td>\n                              </tr>\n                           </tbody>\n                        </table>\n                     </td>\n                  </tr>\n               </tbody>\n            </table>\n         </center>\n      </div>\n   </body>\n</html>"},"set_subject_to_advantage_subject":{"runAfter":{"Advantage_-_compose_email_body":["Succeeded"]},"metadata":{"operationMetadataId":"a8bb9153-5946-41e5-920c-a5630dbd6a66"},"type":"SetVariable","inputs":{"name":"subject","value":"@{outputs('advantage_-_compose_email_subject')}"}},"set_body_to_advantage_body":{"runAfter":{"set_subject_to_advantage_subject":["Succeeded"]},"metadata":{"operationMetadataId":"08042244-fe92-4193-b36f-35f63012e6d6"},"type":"SetVariable","inputs":{"name":"body","value":"@{outputs('Advantage_-_compose_email_body')}"}},"set_email_to_advantage_email":{"runAfter":{"set_body_to_advantage_body":["Succeeded"]},"metadata":{"operationMetadataId":"42ba32d8-cc31-4583-a6c5-c3faddef06f8"},"type":"SetVariable","inputs":{"name":"email","value":"donotreply.advantage@enercare.ca"}},"Set_service_center_image_src_2":{"runAfter":{"advantage_-_compose_email_subject":["Succeeded"]},"metadata":{"operationMetadataId":"82868ac8-6e3d-42dd-b59f-8bdbb7ade8e7"},"type":"SetVariable","inputs":{"name":"Service Center Image Src","value":"data:image/jpeg;base64,@{outputs('Get_Service_Center')?['body/sxp_logo']}"}}},"runAfter":{"Get_service_center_logo":["Succeeded"]},"else":{"actions":{"purchase_-_compose_email_subject":{"runAfter":{},"metadata":{"operationMetadataId":"ee7dc06e-04b3-4b1d-abd5-cb9760b3d6ee"},"type":"Compose","inputs":"Purchase Agreement – @{outputs('Get_Account')?['body/sxp_firstname']} @{outputs('Get_Account')?['body/sxp_lastname']} – @{outputs('Get_Order')?['body/shipto_line1']}, @{outputs('Get_Order')?['body/shipto_city']} @{outputs('Get_Order')?['body/shipto_stateorprovince']} @{outputs('Get_Order')?['body/shipto_postalcode']} – Center #@{outputs('Get_Service_Center')?['body/sxp_centernumber']}"},"purchase_compose_email_body":{"runAfter":{"Set_service_center_image_src":["Succeeded"]},"metadata":{"operationMetadataId":"8b235160-5cfd-43e2-8fdf-9070a96d46b5"},"type":"Compose","inputs":"<!DOCTYPE html>\n<html xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n  <head>\n    <!--[if gte mso 9]>\n      <xml>         <o:OfficeDocumentSettings>            <o:AllowPNG/>            <o:PixelsPerInch>96</o:PixelsPerInch>         </o:OfficeDocumentSettings>      </xml>      <![endif]-->\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=Windows-1252\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"format-detection\" content=\"date=no\">\n    <meta name=\"format-detection\" content=\"address=no\">\n    <meta name=\"format-detection\" content=\"telephone=no\">\n    <meta name=\"x-apple-disable-message-reformatting\">\n    <!--[if !mso]><!-->\n    <link href=\"https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&amp;display=swap\"\n\n      rel=\"stylesheet\">\n    <!--<![endif]-->\n    <title>Email Template</title>\n    <!--[if gte mso 9]>\n      <style type=\"text/css\" media=\"all\">\t\tsup { font-size: 100% !important; }      </style>      <![endif]-->\n    <style type=\"text/css\" media=\"screen\">\n         body { padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }\n         a { color:#007dc5; text-decoration:none }\n         p { padding:0 !important; margin:0 !important } \n         img { margin: 0 !important; -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }\n      \t svg { fill: #13801d }\n         a[x-apple-data-detectors] {\n         color: inherit !important;\n         text-decoration: inherit !important;\n         font-size: inherit !important;\n         font-family: inherit !important;\n         font-weight: inherit !important;\n         line-height: inherit !important;\n         }\n         .btn-14 a { display: block; padding: 15px 30px; text-decoration: none; }\n         .l-red a { color: #ff0000; }\n         /* Mobile styles */\n         @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {\n         .mpx-15 { padding-left: 15px !important; padding-right: 15px !important; }\n         .mpt-25 { padding-top: 25px !important; }\n         .mpx-0 { padding-left: 0px !important; padding-right: 0px !important; }\n         .mpb-25 { padding-bottom: 25px !important; }\n         u + .body .gwfw { width:100% !important; width:100vw !important; }\n         .td,\n         .m-shell { width: 100% !important; min-width: 100% !important; }\n         .mt-left { text-align: left !important; }\n         .mt-center { text-align: center !important; }\n         .mt-right { text-align: right !important; }\n         .me-left { margin-right: auto !important; }\n         .me-center { margin: 0 auto !important; }\n         .me-right { margin-left: auto !important; }\n         .h-auto { height: auto !important; }\n         .w-auto { width: auto !important; }\n         .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }\n         .column,\n         .column-top { float: left !important; width: 100% !important; display: block !important; }\n         .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }\n         .m-block { display: block !important; }\n         .w-15 { width: 15px !important; }\n         .w-2p { width: 2% !important; }\n         .w-32p { width: 32% !important; }\n         .w-49p { width: 49% !important; }\n         .w-50p { width: 50% !important; }\n         .w-100p { width: 100% !important; }\n         }\n      </style>\n  </head>\n  <body class=\"body\" style=\"   padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none;\">\n    <div>\n      <center>\n        <table style=\"margin: 0; padding: 0; width: 100%;\" class=\"gwfw\" width=\"100%\"\n\n          cellspacing=\"0\" cellpadding=\"0\" border=\"0\" bgcolor=\"#ffffff\">\n          <tbody>\n            <tr>\n              <td style=\"margin: 0; padding: 0; width: 100%;\" align=\"center\">\n                <table class=\"m-shell\" width=\"540\" cellspacing=\"0\" cellpadding=\"0\"\n\n                  border=\"0\">\n                  <tbody>\n                    <tr>\n                      <td class=\"td\" style=\"width:540px; min-width:540px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;\">\n                        <table class=\"mpx-15\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"\n\n                          border=\"0\">\n                          <!-- Header -->\n                          <tbody>\n                            <tr>\n                              <td class=\"img pt-39 pb-15 mpt-25\" style=\"font-size:0pt; line-height:0pt; text-align:left; padding-top: 39px; padding-bottom: 15px;\">\n                                <img src=\"@{variables('Service Center Image Src')}\"\n\n                                  height=\"50px\" width=\"200px\" > </td>\n                            </tr>\n                            <!-- END Header -->\n                            <tr>\n                              <td class=\"text-12 pt-21 pb-10\" style=\"font-size:12px; line-height:15px; color:#000000; font-family:Arial, sans-serif; text-align:left; min-width:auto !important; padding-top: 21px; padding-bottom: 10px;\">\n                                Dear\n                                @{outputs('Get_Account')?['body/sxp_firstname']}\n                                @{outputs('Get_Account')?['body/sxp_lastname']},\n                                <br>\n                                <br>\n                                Congratulations on the installation of your new\n                                equipment! We’re delighted you have chosen\n                                Service Experts. We are here to make sure that\n                                your experience over the coming years is\n                                amazing. As a valued customer, we have enrolled\n                                you in our Maintenance+ Membership for this\n                                first year. <br>\n                                <br>\n                                Benefits of Maintenance+ Membership include: <br>\n                                <br>\n                                <img src=\"https://www.serviceexperts.com/corporate/images/MaintenancePlusLogo215tall.png\"\n\n                                  height=\"50px\" width=\"30%\"> </td>\n                            </tr>\n                            <!-- Main -->\n                            <tr>\n                              <td>\n                                <table style=\"border: 2px solid blue; padding:9px;\"><tr><td>\n                                  <table style=\"width: 100%; height: 65px;\" cellspacing=\"0\"\n\n                                    cellpadding=\"0\" border=\"0\">\n                                    <tbody>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          100% repairs are guaranteed for the\n                                          first year* </td>\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">Lifetime\n                                          thermostat warranty</td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          Guaranteed 24/7 priority service</td>\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">Home\n                                          Health Report Card on each visit</td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          No trip charge – EVER</td>\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">29-point\n                                          visual examination on each visit*</td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          No overtime charges - EVER</td>\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">Regular\n                                          safety inspection</td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          15% discount on repairs upon renewal</td>\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">Annual\n                                          preventative maintenance</td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td style=\"width: 60px; background-color: white; font-size: 22px;\">\n                                          ✔️ <br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          15% discount on air purification\n                                          products and systems </td>\n                                        <td><br>\n                                        </td>\n                                        <td style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          <br>\n                                        </td>\n                                      </tr>\n                                      <tr style=\"height: 45px;\">\n                                        <td colspan=\"4\" style=\"font-size:12px; color:#000000; font-family:Arial, sans-serif; text-align:left; line-height:15px; padding-right: 5px;\">\n                                          <br>\n                                          For service or maintenance call\n                                          866-EXPERTS anytime, day or night; you\n                                          will always reach one of our live\n                                          customer service agents.<br>\n                                          <br>\n                                        </td>\n                                      </tr>\n                                    </tbody>\n                                  </table>\n                                  </td></tr></table>\n                              </td>\n                            </tr>\n                            <!-- END Main --><!-- Textarea -->\n                            <tr>\n                              <td class=\"text-12 pb-25\" style=\"font-size:12px; line-height:15px; color:#000000; font-family:Arial, sans-serif; text-align:left; min-width:auto !important; padding-bottom: 25px;\">\n                                <br>\n                                We look forward to providing you with excellent\n                                service and support. Thank you for choosing\n                                Service Experts! <br>\n                                <br>\n                                Sincerely, <br>\n                                @{outputs('Get_Service_Center')?['body/sxp_centername']}\n                                Team<br>\n                              </td>\n                            </tr>\n                            <!-- END Textarea -->\n                          </tbody>\n                        </table>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </td>\n            </tr>\n          </tbody>\n        </table>\n      </center>\n    </div>\n  </body>\n</html>\n"},"set_subject_to_purchase_subject":{"runAfter":{"purchase_compose_email_body":["Succeeded"]},"metadata":{"operationMetadataId":"c01b3b4f-b208-4888-99d0-b70463ce2961"},"type":"SetVariable","inputs":{"name":"subject","value":"@{outputs('purchase_-_compose_email_subject')}"}},"set_body_to_purchase_body":{"runAfter":{"set_subject_to_purchase_subject":["Succeeded"]},"metadata":{"operationMetadataId":"62e60d00-fb6f-41a9-b95b-d1a91703287d"},"type":"SetVariable","inputs":{"name":"body","value":"@{outputs('purchase_compose_email_body')}"}},"set_email_to_purchase_email_":{"runAfter":{"set_body_to_purchase_body":["Succeeded"]},"metadata":{"operationMetadataId":"579aba14-10bd-4ab2-82d2-38e41db9c0a3"},"type":"SetVariable","inputs":{"name":"email","value":"donotreply.serviceexperts@enercare.ca"}},"Set_service_center_image_src":{"runAfter":{"purchase_-_compose_email_subject":["Succeeded"]},"metadata":{"operationMetadataId":"82868ac8-6e3d-42dd-b59f-8bdbb7ade8e7"},"type":"SetVariable","inputs":{"name":"Service Center Image Src","value":"data:image/jpeg;base64,@{outputs('Get_Service_Center')?['body/sxp_logo']}"}}}},"expression":{"equals":["@outputs('Get_Order')?['body/sxp_typeofagreement']",275450000]},"metadata":{"operationMetadataId":"0da1a730-6553-415d-b36d-8e657720a2ed"},"type":"If"},"init_subject":{"runAfter":{},"metadata":{"operationMetadataId":"8c6a2b71-c31a-4720-a781-0286af73ec4e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"subject","type":"string"}]}},"init_body":{"runAfter":{"init_subject":["Succeeded"]},"metadata":{"operationMetadataId":"e204e187-a34c-4875-ba2a-d7b4f94f656a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"body","type":"string"}]}},"init_sender's_email":{"runAfter":{"init_body":["Succeeded"]},"metadata":{"operationMetadataId":"25c4fc6a-a5ac-4375-9216-9eb474316a94"},"type":"InitializeVariable","inputs":{"variables":[{"name":"email","type":"string"}]}},"Get_service_center_logo":{"runAfter":{"Get_Service_Center":["Succeeded"]},"metadata":{"operationMetadataId":"273c9985-ef6a-4dac-8761-9767121e7684"},"type":"Compose","inputs":"@base64ToBinary(outputs('Get_Service_Center')?['body/sxp_logo'])"},"init_service_center_img_src":{"runAfter":{"init_sender's_email":["Succeeded"]},"metadata":{"operationMetadataId":"4c6e56a3-cfc0-45d8-828c-aac6a7e61e6e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Service Center Image Src","type":"string","value":"https://www.serviceexperts.com/img/data/brand/logo/serxCorpLogo-370x75-1.png?t=1568143226"}]}}}}},"schemaVersion":"1.0.0.0"}