ener c/Power-platform-solutions/Solutions/Enercare_Workflows/Workflows/WelcomeEmailReplyManagement-Purchase-B0157B01-735F-EC11-8F8E-000D3A09F978.json
{"properties":{"connectionReferences":{"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedoffice365_128be"},"api":{"name":"shared_office365"}},"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"sxp_sharedpowerplatformforadmins_1677d"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"recipientBounceBackPurchaseWelcomeEmail (sxp_recipientBounceBackPurchaseWelcomeEmail)":{"defaultValue":"andrew.toth@enercare.ca","type":"String","metadata":{"schemaName":"sxp_recipientBounceBackPurchaseWelcomeEmail","description":"Email address to notify when Purchase Agreement Welcome Emails receive a failure notification from Postmaster."}}},"triggers":{"When_a_new_email_is_sent_to_donotreply.serviceexperts@enercare.ca":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"24dbda14-0fdc-467c-b9d3-e42bc7c85dc8"},"type":"OpenApiConnectionNotification","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"OnNewEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"folderPath":"Inbox","to":"donotreply.serviceexperts@enercare.ca","includeAttachments":true,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@not(contains(triggerBody()?['Subject'],'AUTOMATIC REPLY -'))"},{"expression":"@not(contains(triggerBody()?['Subject'],'POSSIBLE WELCOME EMAIL FAILURE -'))"}]}},"actions":{"Initialize_recipientBounceBack":{"runAfter":{"Initialize_environmentBodyPrefix":["Succeeded"]},"metadata":{"operationMetadataId":"b2519373-eb63-409b-863d-fbe2aa25f01b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"recipientBounceBack","type":"string","value":"@parameters('recipientBounceBackPurchaseWelcomeEmail (sxp_recipientBounceBackPurchaseWelcomeEmail)')"}]}},"Switch_on_Sender":{"runAfter":{"Initialize_recipientBounceBack":["Succeeded"]},"cases":{"From_Postmaster":{"case":"postmaster@enercare.ca","actions":{"Forward_Welcome_Email_Failure":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('recipientBounceBack')","emailMessage/Subject":"@{variables('environmentSubjectPrefix')}POSSIBLE WELCOME EMAIL FAILURE - @{triggerOutputs()?['body/subject']}","emailMessage/Body":"@{variables('environmentBodyPrefix')}\n<p>A mail alert has been received for the welcome email sent to the customer address below.<br>\nPlease review the alert and take appropriate action.</p>\n<hr>\n<p><b>From:</b> @{triggerOutputs()?['body/from']}<br>\n<b>Received:</b> @{formatDateTime(substring(triggerOutputs()?['body/receivedDateTime'],0,sub(length(triggerOutputs()?['body/receivedDateTime']),6)),'F')} (GMT: @{substring(triggerOutputs()?['body/receivedDateTime'],sub(length(triggerOutputs()?['body/receivedDateTime']),6))})<br>\n@{triggerOutputs()?['body/body']}</p>","emailMessage/From":"donotreply.serviceexperts@enercare.ca","emailMessage/Attachments":"@triggerOutputs()?['body/attachments']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Is_Any_Sender_in_Prod_or_Internal_Sender_in_Non-Prod":{"actions":{"Send_Automatic_Reply":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/from']","emailMessage/Subject":"@{variables('environmentSubjectPrefix')}AUTOMATIC REPLY - @{triggerOutputs()?['body/subject']}","emailMessage/Body":"@{variables('environmentBodyPrefix')}\n<table>\n<thead>\n  <tr>\n    <th style=\"border:1px solid black;text-align:center;font:24px Arial, sans-serif;background-color:#fe0000;color:#FFF\";padding: 50px\">UNMONITORED EMAIL ADDRESS</th>\n  </tr>\n</thead>\n<tbody>\n  <tr>\n    <td style=\"border:none;text-align:left;font:16px #000 Arial, sans-serif;background-color:#FFF\">You have responded to an unmonitored email address but we would love to hear from you.<br>Please contact your local Service Experts center.</td>\n  </tr>\n</tbody>\n</table>","emailMessage/From":"donotreply.serviceexperts@enercare.ca"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"equals":["@workflow()['tags'].EnvironmentName","@variables('environmentProductionName')"]},{"endsWith":["@triggerOutputs()?['body/from']","enercare.ca"]},{"endsWith":["@triggerOutputs()?['body/from']","serviceexperts.com"]}]},"type":"If"}}},"expression":"@triggerOutputs()?['body/from']","metadata":{"operationMetadataId":"8115d5af-fe0e-4c6b-97ac-73bc31195810"},"type":"Switch"},"Initialize_environmentSubjectPrefix":{"runAfter":{"Initialize_environmentProductionName":["Succeeded"]},"metadata":{"operationMetadataId":"58552261-0485-4812-a84d-9e5499280e57"},"type":"InitializeVariable","inputs":{"variables":[{"name":"environmentSubjectPrefix","type":"string","value":"@{if(equals(workflow()['tags'].EnvironmentName,variables('environmentProductionName')),'','TEST - ')}"}]}},"Initialize_environmentBodyPrefix":{"runAfter":{"Initialize_environmentSubjectPrefix":["Succeeded"]},"metadata":{"operationMetadataId":"87b1cb54-5c4f-4735-8a01-abbdea0040b7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"environmentBodyPrefix","type":"string","value":"@{if(equals(workflow()['tags'].EnvironmentName,variables('environmentProductionName')),'',concat('<p><b>Source Environment:</b> ',outputs('Get_Environment_as_Admin')?['body/properties/displayName'],'</p>'))}"}]}},"Get_Environment_as_Admin":{"runAfter":{},"metadata":{"operationMetadataId":"b111bb78-508b-48d8-a5fb-261c37252907"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@workflow()['tags'].EnvironmentName","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Initialize_environmentProductionName":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"metadata":{"operationMetadataId":"7d4e125e-d833-41c0-bcec-cbf258ba471a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"environmentProductionName","type":"string","value":"04126623-4a9c-4cd3-8a4b-9c74d5633535"}]}}}}},"schemaVersion":"1.0.0.0"}